<div class="sports-social-card">
  <div class="sports-social-card-header">
        <div class="source-img">
          <img src="{{sourceImage}}" alt="">
        </div>
        <h1 class="source-name">{{sourceName}}</h1>
        <div class="news-date">
            <img src="/assets/images/sports-social-clock.png" alt="">
          <span>{{publishedAt}}</span>
        </div>
  </div>
  <div class="news-image-holder">
    <img src="{{newsImage}}" alt="" (error)= "defaultImage()" (click)="openPopUp(newsId)">
  </div>
  <h2 class="desc">
      <a href="{{url}}" target="_blank">{{desc}}</a>
  </h2>
  <div class="action-count" #actionsCount>
    <a href="" *ngIf = "likeCount > 0">{{likeCount}} {{likeCount > 1 ? 'Likes': 'Like' }}</a>
    <a href="" *ngIf = "shareCount > 0">{{shareCount}} {{shareCount > 1 ? 'Shares': 'Share'}}</a>
    <a href="" *ngIf = "commentCount > 0">{{commentCount}} {{commentCount > 1 ? 'Comments': 'Comment' }}</a>
  </div>
  <div class="actions-news">
    <button class="commentButton" (click)="openAppDownloadPopup()">
      <img src="/assets/images/sports-social-comment.png" alt=""><span>Comment</span>  
    </button>
    <button class="promoteButton" (click)="openAppDownloadPopup()">
      <img src="/assets/images/sports-social-like.png" alt=""> <span>Like</span>
    </button>
    <button class="watchButton" (click)="openAppDownloadPopup()">
      <img src="/assets/images/sports-social-share-black.png" alt=""> <span>Share</span>
    </button>
    <button class="watchButton" (click)="openAppDownloadPopup()">
        <img src="/assets/images/sports-social-save-black.png" alt=""> <span>Save</span>
      </button>
  </div>
</div>

<template #openNewsCard></template>