<sports-social-header></sports-social-header>
<sports-social-carousel></sports-social-carousel>
<sports-social-navigation-bar></sports-social-navigation-bar>
<ng-masonry-grid  
      [masonryOptions]="{ transitionDuration: '0.4s', gutter: 2 }"
      [useAnimation]="true"
      [useImagesLoaded]="true">
    <img class="spinner" src="assets/images/sports-social-loading.gif" *ngIf = "Match.length == 0" alt="">
    <ng-masonry-grid-item id="col-4" *ngFor = "let feed of Match; let i = index">
      <sports-social-match-card 
        [eventId] = "feed.eventId"
        [creatorImage] = "feed.creatorImage"
        [creatorName] = "feed.creatorName"
        [doerId] = "feed.doerId"
        [doerName] = "feed.doerName"
        [doerPic] = "feed.doerPic"
        [matchImage] = "feed.matchImage"
        [matchText] = "feed.matchText"
        [joineeCount] = "feed.joineeCount"
        [commentCount] = "feed.commentCount"
        [promoteCount] = "feed.promoteCount"
        [watchCount] = "feed.watchCount"
        [matchDate] = "feed.matchDate"
        [activityDate] = "feed.activityDate"
        [gameName] = "feed.gameName"
        [venueName] = "feed.venueName"
        [activityName] = "feed.activityName"
        [restrictionCount] = "feed.restrictionCount"   #matchCard  >
      </sports-social-match-card>
    </ng-masonry-grid-item>
</ng-masonry-grid >
<!-- <sports-social-footer></sports-social-footer> -->


<template #openMatchCard></template>