<sports-social-header></sports-social-header>
<div class="sidenav">
<sports-social-newsidenav></sports-social-newsidenav>
</div>
<div class="newbox">
<div class="matchfeed-rightside">
    <h1>{{selected}}</h1>
        <!-- <ng-masonry-grid> -->
              <img class="spinner" src="assets/images/sports-social-loading.gif"  *ngIf="Matcharr.length == 0" alt="">
              <div  id="col-4" *ngFor = "let feed of Matcharr; let i = index">

                <!-- <a>
                    <div class="outdiv">
                      <div class="head">
                            <div class="creator">
                                <img src={{feed.coverpic}} class="circularImage"> 
                                <p class="username"><b style="color:#000000;">{{feed.userName}}</b><br>created</p>
                          </div>
                              <div class="headtime">
                                  <img src="assets/images/sports-social-clock.png" alt="" class="clock">
                                  <p>{{feed.InsertedDate | slice:3:15}}</p>
                            </div>
                      </div>
              
                        <div class="card">
                          <p>{{feed.gamename}}</p>
                          <h5>{{feed.Venue_Name}}</h5>
                          <div class="cardData">
                                <div class="team1">
                                    <img src={{feed.coverpic}}>
                                    <p>{{feed.Team1Name}}</p>
                                </div>
              
                                <div class="vs">
                                    <h3>VS</h3>
                                    <p>{{feed.startdatetime}}</p>
                                </div>
              
                                <div class="team2">
                                    <img src={{feed.coverpic}}>
                                    <p>{{feed.Team2Name}}</p>
                                </div>      
                          </div>
                          
                          <div class="footer">
                                <button class="playButton" (click)="openAppDownloadPopup()">Prediction</button>
                                <button class="commentButton" (click)="openAppDownloadPopup()">Talk</button>
                                <button class="promoteButton" (click)="openAppDownloadPopup()">Promote</button>
                                <button class="watchButton" (click)="openAppDownloadPopup()">Watch</button>
                          </div>
              
                        </div>
                  </div>
                </a> -->
                  <sports-social-ss-match-card
                  [eventid]="feed.eventid"
                  [matchstarterid]="feed.MatchStarterId"
                  [Ontime]="feed.Ontime"
                  [Ondate]="feed.Ondate"
                  [coverpic]="feed.coverpic"
                  [matchstartername]="feed.MatchStarterName"
                  [userName]="feed.userName"
                  [gamename]="feed.gamename"
                  [startdatetime]="feed.startdatetime"
                  [team1pic]="feed.Team1Pic"
                  [team2pic]="feed.Team2Pic"
                  [InsertedDate]="feed.InsertedDate"
                  [Uniquename]="feed.Uniquename"
                  [EventText]="feed.EventText"
                  [city]="feed.city"
                  [age]="feed.age"
                  [starttimestamp]="feed.starttimestamp"
                  [scoreTeam1]="feed.scoreTeam1"
                  [scoreTeam2]="feed.scoreTeam2"
                  [finished]="feed.finished"
                  [upcoming]="feed.upcoming"
                  [gender]="feed.gender"
                  [Venue_Name]="feed.Venue_Name"
                  [VenueId]="feed.VenueId"
                  [MatchStarterUniqueName]="feed.MatchStarterUniqueName"
                  [Team1Name]="feed.Team1Name"
                  [Team2Name]="feed.Team2Name"
                  [JoineeCount]="feed.JoineeCount"
                  [WatchCount]="feed.WatchCount"
                  [PromoteCount]="feed.PromoteCount"
                  [CommentCount]="feed.CommentCount"
                  ></sports-social-ss-match-card>
        </div>
    <!-- </ng-masonry-grid> -->
</div>
</div>
<div class="rightsidefooter" *ngIf="Matcharr.length !== 0">
<sports-social-backfooter></sports-social-backfooter>
</div>
