*{
    scroll-behavior: smooth;
}

#col-4{
    margin-left:3%;
    width:30%;
    margin-bottom: 5%;
    /* display: inline-block; */
}

@media screen and (max-width:768px){
    #col-4{
        width:48%;
        margin-left:1%;
    }
}
@media screen and (max-width:500px){
  #col-4{
      width:100%;
  }
}