<sports-social-header></sports-social-header>
<sports-social-carousel></sports-social-carousel>
<sports-social-navigation-bar></sports-social-navigation-bar>
<div class="container">
    <div class="col-4" *ngFor = "let feed of Match; let i = index">
      <sports-social-match-card 
        [eventId] = "feed.eventId"
        [creatorImage] = "feed.creatorImage"
        [creatorName] = "feed.creatorName"
        [doerId] = "feed.doerId"
        [doerName] = "feed.doerName"
        [doerPic] = "feed.doerPic"
        [matchImage] = "feed.matchImage"
        [matchText] = "feed.matchText"
        [joineeCount] = "feed.joineeCount"
        [commentCount] = "feed.commentCount"
        [promoteCount] = "feed.promoteCount"
        [watchCount] = "feed.watchCount"
        [matchDate] = "feed.matchDate"
        [activityDate] = "feed.activityDate"
        [gameName] = "feed.gameName"
        [venueName] = "feed.venueName"
        [activityName] = "feed.activityName"
        [restrictionCount] = "feed.restrictionCount"   #matchCard  >
      </sports-social-match-card>
    </div>
</div>
<sports-social-footer></sports-social-footer>


<template #openMatchCard></template>