*{
    scroll-behavior: smooth;
}
.matchfeed-rightside>h1{
    font-weight: lighter;
    border-bottom: 1px solid silver;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 3em;
}
.newbox{
    min-height: 600px;
}

.sidenav{
    margin-top: 4%;
}
.rightsidefooter{
    width: 84%;
    float: right;
}
.matchfeed-rightside{
    width: 80%;
    float: right;
    /* border: 5px solid red; */
}
.matchfeed-rightside>div{
    display: inline-block !important;
}

#col-4{
    width:33%;
    margin-bottom: 2%;
    vertical-align: top;
}
#col-4>a{
    color: black;
}

@media screen and (min-width: 200px) and (max-width: 700px){
    #col-4{
        margin-left: 7.5%;
        width:95%;
    }
    .matchfeed-rightside{
        margin-top: 20px;
        width: 100%;
    }
    .rightsidefooter{
        width: 100%;
    }
    .newbox{
        margin-top: 45px;
    }
}

@media screen and (min-width: 701px) and (max-width: 950px){
    .matchfeed-rightside{
        margin-top: 20px;
        width: 100%;
    }
    .rightsidefooter{
        width: 100%;
    }
    #col-4{
        margin-left: 4%;
        width:46%;
    }
    @media screen and (min-width: 701px) and (max-width:768px){
        #col-4{
            margin-left: 3%;
            width:46%;
        }
    }
}
@media screen and (min-width: 951px) and (max-width:1100px){
    #col-4{
        margin-left: 3%;
        width:46%;
    }
}