<header #header>
  <div class="brand">
    <a routerLink="/">
      <div class="brand-image">
        <img src="assets/images/sports-social-logo.png" alt="Sport-Social-logo">
      </div>
      <div class="brand-title">
        <span>Sports</span>
        <span>Social</span>
        <!-- <p>ChaseYourSport</p> -->
      </div>
    </a>
  </div>
  <div class="search-bar-shell">
    <div class="search-bar">
      <img src="/assets/images/sportsociallocation.png" alt="">
      <h1>{{Location|slice:0:15}}</h1>
      <ul class="location-dropdown">
        <li><input type="text"></li>
        <li class="li-dropdown" *ngFor="let data of locationlist" (click)="latlong(data.longitude, data.latitude, data.name)">{{data.name}}</li>
      </ul>
    </div>
  </div>
  <div class="menu" *ngIf="!isMenuInDropdown">
      <!-- <div class="search" *ngIf="!isSearchInDropdown">
          <input type="text"   placeholder="  Search Sport Social">
        </div> -->
    <ul>
        <!-- <li>
            <a routerLink="/live" class="About btn btn-responsive" routerLinkActive="active">Live</a>
          </li> -->
      <li>
        <a routerLink="/about" class="About btn btn-responsive" routerLinkActive="active" (click)="topscroll()">About</a>
      </li>
      <li>
        <a routerLink="/application" routerLinkActive="active" (click)="topscroll()">App</a> <!--https://goo.gl/qrgCz5-->
      </li>
      <li>
          <a routerLink="/teamprofile" (click)="topscroll()" routerLinkActive="active">Team</a> 
      </li>
      <li>
          <a routerLink="/localityprofile" (click)="topscroll()" routerLinkActive="active">Locality</a> 
      </li>
      <li>
        <a routerLink="/HelpCenter" (click)="topscroll()" routerLinkActive="active">Help</a> 
      </li>
    </ul>
  </div>

  <!-- mobile view1 -->

  <div class="mobile-view">
      <div class="dropdown-menu-image-holder">
          <img src="/assets/images/sports-social-menu.png" (click)="openDropdown()">
      </div>
      
      <div class="slide-menu">
          <div class="closemenu">
            <img class="closeicon" src="assets/images/sportsocialhomearrow.png" (click)="openDropdown()">
         </div>
        <ul class="ul">
          <a routerLink="/" (click)="topscroll()"><li>Home</li></a>
          <li (click)="openarenamenu()" id="niftview">
            <a>Arena</a>
            <img class="arrow-rotate" src="assets/images/sportsocialhomearrow.png" alt="">
          </li>
            <ul id="niftview" class="open-arena-menu">
              <a (click)="topscroll()" routerLink="/OpenArena"><li>Open Arena</li></a>
              <a *ngFor="let data of openarenalist" (click)="topscroll(); routechange(data.name)" routerLink="/OpenArena/{{data.link}}"><li>{{data.name}}</li></a>
            </ul>
          <span class="dpslide">
            <li (click)="opennewsmenu()" id="niftview"><a>News</a>
              <img class="arrow-rotate1" src="assets/images/sportsocialhomearrow.png" alt="">
            </li>
            </span>
            <ul id="niftview" class="open-news-menu">
                <a (click)="topscroll()" routerLink="/news"><li>All News</li></a>
              <a *ngFor="let data of newslist" (click)="topscroll(); routechange(data.name)" routerLink="/news/{{data.link}}"><li>{{data.name}}</li></a>
              <a  (click)="topscroll()" routerLink="/news/table-tennis"><li>Table Tennis</li></a>
              

            </ul>
            <span class="dpslide2">
            <li><a (click)="topscroll()" routerLink="/about">About</a></li>
            <li><a routerLink="/application" (click)="topscroll()">App</a></li>
            <li><a routerLink="/teamprofile" (click)="topscroll()">Team</a></li>
            <li><a routerLink="/localityprofile" (click)="topscroll()">Locality</a></li>
            <li><a routerLink="/HelpCenter" (click)="topscroll()">Help</a></li>
          </span>
        </ul>
      </div>
  </div>
    
</header>

