<footer #footer>
  <p>
    <a routerLink="/about">About</a> 
  </p>
  <p>
    <a href="#">App</a> 
  </p>
  <p>
    <a href="https://www.chaseyoursport.com" target="_blank">Blog</a> 
  </p>
  <p>
    <a href="">Terms and conditions</a>   
  </p>
  <p>
    <a href="">Privacy Policy</a> 
  </p>
  <p>
    <a routerLink="/OpenArena">Open Arena</a>   
  </p>
  <p> 
    <a routerLink="/AroundTheWorld">Around The Globe</a>   
  </p>
  <img src="/assets/images/facebook.png" alt="">
  <img src="/assets/images/twitter.png" alt="">
  <img src="/assets/images/youtube.png" alt="">
  <img src="/assets/images/instagram.png" alt="">
</footer>
