<footer #footer>
  <p>
    <a routerLink="/about">About</a> 
  </p>
  <p>
    <a href="/application">App</a> 
  </p>
  <p>
    <a href="https://www.chaseyoursport.com" target="_blank">Blog</a> 
  </p>
  <p>
    <a routerLink="/Terms Of Service">Terms and conditions</a>   
  </p>
  <p>
    <a routerLink="/Privacy Policy">Privacy Policy</a> 
  </p>
  <p>
    <a routerLink="/OpenArena">Open Arena</a>   
  </p>
  <p> 
    <a routerLink="/AroundTheWorld">Around The Globe</a>   
  </p>
  <div class="social-handle">
    <a href="https://www.facebook.com/chaseyoursport" target="_blank"><img src="/assets/images/facebook.png" alt=""></a>
    <a href="https://www.twitter.com/chaseyoursport" target="_blank"><img src="/assets/images/twitter.png" alt=""></a>
    <a href="https://www.youtube.com/channel/UC8dRPjyfNkxmOozPuUs5YVQ" target="_blank"><img src="/assets/images/youtube.png" alt=""></a>
    <a href="https://www.instagram.com/chaseyoursport" target="_blank"><img src="/assets/images/instagram.png" alt=""></a>
    <a href="https://www.quora.com/topic/Sports-Social-Indias-First-Sports-Social-Network" target="_blank"><img src="/assets/images/quora.png" alt=""></a>
  </div>
  
</footer>
