<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="carousel" #carousel>
    <br>
        <p>Explore The Sports Person Inside You!</p>

<div class="carousel-content">
  <div class="left-side">
      <div class="first" *ngIf=first1>
        <img src="assets/images/Team-01-min.jpg">
      </div>
      <div class="second" *ngIf=second1>
          <img src="assets/images/Profile-01-min.jpg">
      </div>
      <div class="third" *ngIf=third1>
          <img src="assets/images/Locality-01-min.jpg">
      </div>
      <div class="fourth" *ngIf=fourth1>
          <img src="assets/images/Arena-01 - Copy.jpg">
      </div>
</div>

 <div class="right-side">
        <div (click)="first()" class="one" style="color:black; font-size: 16px;">
            <img src="assets/images/Teams.png">
            <h4>TOGETHER WE ACHIEVE MORE</h4>
            <p>Join A Group, Support Your Players. Get In Touch, Get Inspired.
                <br>
             There's So Much To Share In Sports Media.
             <br>
             A Group Is The Perfect Place To Connect Your Emotions.</p>
        </div>
        <div (click)="second()" class="two" style="color:#696969;">
            <img src="assets/images/basketball (2).png" >
            <h4>GET NOTICED, SPORTS STAR! </h4>
            <p>Your Complete Achievement Scoreboard Is Here.
             <br>
             All Your Hardwork, Success & Talent At One Place Showcased As Media And Trophies.
             <br> 
             A Spotlight For Your Sports Career - Your Sports Social Profile!</p>
        </div>
        <div (click)="third()" class="three" style="color:#696969;">
            <img src="assets/images/arena.png"  >
            <h4>CHOOSE EFFORTLESSLY, PLAY CONVENIENTLY</h4>
             <p>All Popular Sports Academies And Stadia Near You At Your Fingertips.
                 <br>
            Compare Facilities, Gauge Popularity. Get Daily Match Schedules. 
            Contact Owner for specific queries.</p>
        </div>
        <div (click)="fourth()" class="four" style="color:#696969;">
            <img src="assets/images/stadium (1).png" >
            <h4>GET SET GOAL</h4>
             <p>The match has begun. The Crowd Is Focused On You. It's Showtime.
                Show the world, the True Champion.
                Lead your Team to unmatched glory.
                Make the stadium roar with victory chants.</p>
        </div>
        
</div> 
</div>
</div>
