<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="carousel" #carousel>
    <p>Play your favorite sport and stay</p>


  <div class="left-side">
      <div class="first" *ngIf=first1>
        <img src="assets/images/Team-01-min.jpg">
      </div>
      <div class="second" *ngIf=second1>
          <img src="assets/images/Profile-01-min.jpg">
      </div>
      <div class="third" *ngIf=third1>
          <img src="assets/images/Locality-01-min.jpg">
      </div>
      <div class="fourth" *ngIf=fourth1>
          <img src="assets/images/Arena-01 - Copy.jpg">
      </div>
</div>

 <div class="right-side">
        <div (click)="first()" class="one">
            <img src="assets/images/suggest-feature.png" >
            <h4>TOGETHER WE ACHIEVE MORE</h4>
            <p>Join A Group, Support Your Players. Get In Touch, Get Inspired. There's So Much To Share In Sports Media. Group Is The Perfect Place To Connect Your Emotions.</p>
        </div>

        <div (click)="second()" class="two">
            <img src="assets/images/suggest-feature.png" >
            <h4>GET NOTICED, SPORTS STAR! </h4>
            <p>Your complete achievement scoreboard is here. Impress world with your genius, match trophies and match media. All your hardwork, success, talent & motivation at one place. 
                A spotlight for your sports career- Your Sports Social Profile!</p>
        </div>
        <div (click)="third()" class="three">
            <img src="assets/images/suggest-feature.png"  >
            <h4>CHOOSE EFFORTLESSLY, PLAY CONVENIENTLY</h4>
             <p>All Popular Sports Academies And Stadia near you at your fingertips. Compare facilities, Gauge Popularity. Get Daily Match Schedules. Contact Owner for specific queries.</p>
        </div>
        <div (click)="fourth()" class="four">
            <img src="assets/images/suggest-feature.png" >
            <h4>GET SET GOAL</h4>
             <p>The match has begun. The Crowd Is Focused On You. It's Showtime. Show the world, the True Champion.
                Lead your Team to unmatched glory.
                Make the stadium roar with victory chants.</p>
        </div>
</div> 
</div>
