<SportSocial-help-center-header></SportSocial-help-center-header>
  <div class="prev-btn">
   <a routerLink="/HelpCenter"><img src="/assets/images/left.png"></a>
  </div>

  <div class="qabody">
    <div class="QA">
      <ul class="side-nav">
        <li *ngFor="let qa of quesAns; let i = index">
          <button (click)="getAns(qa.id)"><img src="{{qa.icon}}">&nbsp;&nbsp;<p [innerHtml]="qa.ques"></p></button>
          </li>
      </ul>
    </div>

    <div class="answers">
      <p [innerHtml]="Ans"></p>
    </div>
  </div>

  