<SportSocial-help-center-header></SportSocial-help-center-header>

<div *ngIf="mobv===0">
<p>Get Answer for the most common question and learn to use "Sports Social" like Champ.</p>

<div class="content">
    <div class="sidenav">
        <ul class="side-nav">
          <li><a routerLink="/HelpCenter"><div class="topicdata"><img style="height: 18px;width:18px;padding-top:3%;" src="/assets/images/sportsocialarrowleft.png"><p>Go Back</p></div></a></li>
          <li routerLinkActive="active" *ngFor="let qa of  quesAns; let i = index">
            <a routerLink="/HelpCenter/{{name}}/{{qa.qques}}" [queryParams]="{ topic_id: topicId , id: subtopicId, qid: qid, name:name}">
            <div class="topicdata" (click)="getAns(qa.id)">
              <!-- <img src="{{data.icon}}"> -->
             &nbsp;&nbsp;<p>{{qa.ques}}</p>
            </div>
          </a>
          </li>
          </ul>
      </div>
    <div class="problems">
        <div class="subtopicdata">
            <h1 [innerHtml]="Ques"></h1>
            <hr>
            <!-- <br>
            <img src="{{img}}">
            <br> -->
            <br>
              <p [innerHtml]="Ans"></p>
          </div>
          <br><br>
    </div>
  </div>
</div>

  <!-- mobile view -->

        <div *ngIf="mobv === 1">
            <p style="font-size: 15px;">Get Answer for the most common question and learn to use "Sports Social" like Champ.</p>
            <h1 
            (click)="showw()" class="dropbtn">&nbsp;Menu <img src="/assets/images/sportsocialhelparrow.png">
           </h1>
           
             <div class="modal">
               <div class="modal-content">
                <div class="modal-header" style="display: inline-flex;" (click)="home(); close()"><h1>Go Back</h1><img (click)="close();" style="height: 18px;width:18px;z-index: 1;" src="/assets/images/sportsocialcross.png"></div>   
                 <a *ngFor="let qa of  quesAns; let i = index" routerLink="/Helpcenter/{{name}}/{{qa.qques}}"
                 [queryParams]="{ topic_id: topicId , id: subtopicId, qid: qid, name:name}"
                 routerLinkActive="active"> 
                 <div style="width:80%" (click)="getAns(qa.id); close();">
                    {{qa.ques}} 
               </div></a>  
                    
             
             </div>
             </div> 
           
                
             <br><br>
             <div class="problemss">
                    <h1 [innerHtml]="Ques"></h1>
                    <hr>
                    <br>
                    <img src="{{img}}">
                    <br> 
                    <br>
                      <p [innerHtml]="Ans"></p>
                  <br><br>
            </div>
        </div> 
<sports-social-backfooter></sports-social-backfooter> 

  