.card{
    position: relative;
    width: 90%;
    height: 200px;
    margin-bottom: 2%;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(173, 172, 172, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
 .head{
    position: absolute;
    line-height: 1.1;
    width: 100%;
    height: 30px;
    display: inline-block;
    margin-top: 1%;
    border-bottom: 1px solid #dddddd;
}
.head>div{
    display: inline-block;
    vertical-align: top !important;
}
.venue{
    width: 50%;
    height: 100%;
}
.venue>b{
    margin-left: 4%;
    font-size: 0.8em;
    margin-top: 8px;
    font-weight: 400;
}
.venue>b>span{
    color: grey;
    font-weight: 400;
    font-size: .8em;
}
.venue>b>span{
    color: grey;
    font-size: .8em;
}

.venue>p{
    float: right;
    margin-right: 1%;
    padding: 2%;
}
.result{
    float: right;
    margin-right: 1%;
    width: 40%;
    height: 100%;
}
.result>p{
    text-align: right;
    font-size: 0.8em;
    font-weight: lighter;
}
.result p img{
    margin-top: 2px;
    float: right;
    height: 12px;
    width: 12px;
}
.result>p>span{
    padding: 1.5%;
    font-size: 0.9em;
    font-weight: 400;
    margin-right: 9%;
    color: #024771;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}
.venue b span{
   margin-top:1%;
}
.pp{
    margin-left: 3.5%;
    padding: 1%;
    color: grey;
    font-size: 0.7em;
}
.mobile{
    display: none;
}
.mobile{
    display: none;
}
.icon{
    width: 100%;
}
.icon span{
    margin-top: 2.5%;
    float: left;
}
.icon img{
    float: left;
    height: 40px;
    width: 40px;
}
.cardData{
    position: absolute;
    width: 100%;
    height: 80px;
    display: inline-flex;
    margin-top: 13%;
}
.vs{
    width: 20%;
    text-align: center;
}
.vs>b{
    font-weight: bolder;
    margin-top: 10%;
    font-size: .7em;
}
.creator{
    margin-top: 8%;
    width: 100%;
    height: 50px;
    display: inline-flex;
}
 .circularImage{
    margin-left: 2%;
    width: 30px;
    height: 30px;
}
.username{
    margin-left: 3%;
    font-size: .8em;
    font-weight: bolder;
    color: #7e7d7d;
}
#creatorname{
    font-size: 0.9em;
    margin-left: 40%;
}
#creatorname a{
    padding-left: 13px;
    float: right;
    color: #024771;
}

.eventtext{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 30px;
}
.eventtext>p{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.7em;
    color: grey;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.circularImage {
    border-radius: 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}
.card>p{
    margin: 1% 0% 1% 2%;
    color: #000000;
    font-size: 1em !important;
    font-weight: bolder !important;
}
.card>h5{
    margin-left: 2%;
    font-size: 0.6em;
    width: 50% !important;
    color: #7e7d7d;
}
.team1{
    /* margin-left: 3%; */
    font-size: 0.9em;
    width: 40%;
}
.team1,.team2 p{
    color: black;
    font-size: 0.8em;
    text-align: center;
}

.team1>img{
    margin: 0 auto;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.team2{
    text-align: center;
    font-size: 0.9em;
    width: 40%;
}

 .team2>img{
    margin: 0 auto;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.footer{
    border-top: 1px solid #d3d1d1;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0% !important;
}
.footer>button{
    border: none;
    float: left;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: 0.8em;
    width: 25%;
    padding: 2%;
    color: #7e7d7d;
    background-color: transparent;
}
.footer>button span{
    color: #045a8b;
    font-weight: bold;
}

@media screen and (min-width:200px) and (max-width:400px){
    .card{
        width: 90%;
        height: 200px;
    }
    .head{
        height: 34px;
    }
    .venue{
        width: 56%;
        height: 100%;
    }
    .venue>b{
        margin-left: 1%;
        margin-bottom: 1%;
        font-size: 0.7em;
    }
    .venue>b>.pp{
        display: none;
    }
    .venue>b>.mobile{
        display: block;
        padding: 2%;
        font-weight: lighter;
        font-size: 0.6em;
        color: grey;
    }
    .venue>b>span{
        color: grey;
        font-size: .8em;
    }
    .team1,.team2>p{
        font-size: 0.9em;
    }
    .creator{
        margin-top: 12%;
    }
    .username{
        font-size: .6em;
    }
    .result{
        width: 40%;
        margin-top: 1.5%;
    }
    .result>p{
        float: right;
        font-size: 0.6em;
        font-weight: bold;
    }
    .result p img{
        float: right;
        height: 8px;
        width: 8px;
    }
    .result>p>span{
        float: right;
        margin-top: 2.5%;
        font-size: 0.8em !important;
        color:grey;
    }
    .cardData{
        width: 100%;
        height: 75px;
        margin-top: 45px;
    }
    .footer{
        margin: 0%;
        padding: 0%;
        height: 30px;
        bottom: 0% !important;
    }
    .footer>button{
        font-size: 0.6em ;
        padding: 5px;
    }
    .eventtext{
        width: 100%;
        height: 60px;
        bottom: 30px;
    }
    .eventtext>p{
        padding: 5px 10px 5px 10px;
        font-size: 0.6em;
    }
    

}
@media screen and (min-width:401px) and (max-width:800px){
    .head{
        height: 35px;
    }
    .venue{
        width: 56%;
        height: 100%;
    }
    .venue>b{
        margin-left: 1%;
        margin-bottom: 1%;
        font-size: 0.7em;
    }
    .venue>b>.pp{
        display: none;
    }
    .venue>b>.mobile{
        display: block;
        font-weight: lighter;
        font-size: 0.6em;
        padding: 2%;
        color: grey;
    }
    .venue>b>span{
        color: grey;
        font-size: .8em;
    }
    .team1,.team2>p{
        font-size: 0.9em;
    }
    .creator{
        margin-top: 12%;
    }
    .username{
        font-size: .6em;
    }
    .result{
        width: 40%;
        margin-top: 1.5%;
    }
    .result>p{
        float: right;
        font-size: 0.6em;
        font-weight: bold;
    }
    .result p img{
        /* margin-top: 2px; */
        float: right;
        height: 8px;
        width: 8px;
    }
    .result>p>span{
        float: right;
        font-size: 0.8em !important;
        color:grey;
    }
    .cardData{
        /* border: 1px solid red; */
        width: 100%;
        height: 50px;
        margin-top: 45px; 
    }
    .footer{
        margin: 0%;
        padding: 0%;
        height:30px;
        bottom: 0% !important;
        
    }
    .footer>button{
        font-size: 0.7em;
        float: left;
        padding: 7px;
    }
    .eventtext{
        /* border: 1px solid green; */
        height: 50px;
        margin-top: 5%;
    }
    .eventtext>p{
        font-size: .6em;
    }
   

}
@media screen and (min-width:801px) and (max-width:920px){
    .head{
        height: 35px;
    }
    .venue{
        width: 56%;
        height: 100%;
    }
    .venue>b{
        margin-left: 1%;
        margin-bottom: 1%;
        font-size: 0.7em;
    }
    .venue>b>.pp{
        display: none;
    }
    .venue>b>.mobile{
        display: block;
        font-weight: lighter;
        font-size: 0.6em;
        padding: 2%;
        color: grey;
    }
    .venue>b>span{
        color: grey;
        font-size: .8em;
    }
    .team1,.team2>p{
        font-size: 0.9em;
    }
    .creator{
        margin-top: 12%;
    }
    .username{
        font-size: .6em;
    }
    .result{
        width: 40%;
        margin-top: 1.5%;
    }
    .result>p{
        float: right;
        font-size: 0.6em;
        font-weight: bold;
    }
    .result p img{
        /* margin-top: 2px; */
        float: right;
        height: 8px;
        width: 8px;
    }
    .result>p>span{
        float: right;
        font-size: 0.8em !important;
        color:grey;
    }
    .cardData{
        /* border: 1px solid red; */
        width: 100%;
        height: 50px;
        margin-top: 45px; 
    }
    .footer{
        margin: 0%;
        padding: 0%;
        height:30px;
        bottom: 0% !important;
        
    }
    .footer>button{
        font-size: 0.7em;
        float: left;
        padding: 7px;
    }
    .eventtext{
        /* border: 1px solid green; */
        height: 50px;
        margin-top: 5%;
    }
    .eventtext>p{
        font-size: .6em;
    }
}


