
 .head{
     line-height: 1.1;
    width: 100%;
    height: 32px;
    display: inline-block;
    border-bottom: 1px solid #dddddd;
}
.head>b{
    margin-left: 1%;
}

.head>p{
    float: right;
    margin-right: 1%;
}
.rresult{
    margin-top: -25px;
    float: right;
    margin-right: 1%;
}
.rresult p span{
    float: right;
    font-size: 0.6em;
    color: rgb(75, 73, 73);
}
.head b span{
   margin-top:1%;
}
.pp{
    margin-left: 1%;
    color: grey;
    font-size: 0.6em;
}
.icon{
    width: 100%;
}
.icon span{
    margin-top: 2.5%;
    float: left;
}
.icon img{
    float: left;
    height: 40px;
    width: 40px;
}
.cardData{
    width: 100%;
    height: 60px;
    display: inline-flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.vs{
    width: 20%;
    text-align: center;
    /* margin-left: 5%; */
}
.vs>h3{
    font-weight: bolder;
    margin-top: 8%;
}
.vs>p{
    font-size: 0.7em;
}
.creator{
    margin-top: 8%;
    width: 100%;
    height: 50px;
    display: inline-flex;
}
 .circularImage{
    margin-left: 2%;
    width: 30px;
    height: 30px;
}
.username{
    margin-left: 3%;
    font-size: .8em;
    font-weight: bolder;
    color: #7e7d7d;
}
#creatorname{
    font-size: 0.9em;
    margin-left: 40%;
}
#creatorname a{
    padding-left: 13px;
    float: right;
    color: #024771;
}
.card{
    width: 100%;
    height: 300px;
    border: 1px solid #ece9e9;
    margin-bottom: 2%;
    border-radius: 2%;
    box-shadow: 5px 5px 10px #dddddd;
}
.eventtext{
    width: 100%;
    height: 90px;
    font-size: 1em;
    /* border: 1px solid red; */
}
.eventtext>p{
    padding: 10px;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

.circularImage {
    border-radius: 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}


.card>p{
    margin: 1% 0% 1% 2%;
    color: #000000;
    font-size: 1em !important;
    font-weight: bolder !important;
}
.card>h5{
    margin-left: 2%;
    font-size: 0.6em;
    width: 50% !important;
    color: #7e7d7d;
}


.team1{
    /* margin-left: 3%; */
    width: 40%;
}
.team1,.team2>p{
    text-align: center;
}
.team1>img{
    margin: 0 auto;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /* margin-left: 18%; */
}
.team2{
    text-align: center;
    /* margin-left: 7%; */
    width: 40%;
}

 .team2>img{
    margin: 0 auto;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


.footer
{
    border-top: 1px solid #d3d1d1;
    width: 100%;
    height: 30px;
    /* margin-top: 8%; */
}
.footer>button{
    margin-left: 10%;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 1%;
    text-align: center;
    font-size: 1em;
    color: #7e7d7d;
    background-color: transparent;
}

@media screen and (min-width:200px) and (max-width:800px){
    .team1,.team2>p{
        font-size: 0.9em;
    }
    .creator{
        margin-top: 12%;
    }
    .username{
        font-size: .6em;
    }
    #creatorname{
        font-size: .8em;
    }
    .footer>button{
        margin-left: 7%;
        font-size: 0.7em;
    }
    .eventtext>p{
        font-size: .8em;
    }

}
@media screen and (min-width:801px) and (max-width:920px){
    .footer button{
        font-size: 0.8em;
    }
}