<div class="card">
              <div class="head">
                    <b>{{gender}}{{gamename}}
                        <p class="pp">{{Venue_Name|slice:0:30}}...</p>
                    </b>
                <div class="rresult">
                    <p>{{startdatetime}} 
                        <img *ngIf="!finished" src="/assets/images/sportsocialfinalicon.jpeg">
                        <img *ngIf="finished" src="/assets/images/sportsocialgreendot.png"><br>
                        <span>Created by: {{matchstartername}}</span>
                    </p>
                </div> 
              </div>
            <div class="cardData">
                  <div class="team1">
                      <img src={{team1pic}} onerror="this.src='assets/images/user.png'">
                      <p>{{Team1Name}}</p>
                  </div>

                  <div class="vs">
                      <h3 *ngIf="!finished">VS<br><span *ngIf="upcoming" style="font-size: 0.7em; font-weight: lighter;">On<br>{{starttimestamp}}</span></h3>
                      <h3 *ngIf="finished">{{scoreTeam1}}{{scoreTeam2}}</h3>
                   </div>

                   <div class="team2">
                      <img src={{team2pic}} onerror="this.src='assets/images/user.png'">
                      <p>{{Team2Name}}</p>
                   </div>      
            </div>
            <!-- <div class="creator">
                <img src={{team1pic}} class="circularImage" onerror="this.src='assets/images/user-default.png'"> 
                <p class="username"><b style="color:#000000;">{{matchstartername}}</b><br>@{{Uniquename}}</p>
                <p id="creatorname">{{InsertedDate |slice:0:16}}</p>
            </div> -->
            
            <div class="eventtext">
                    <p>{{EventText|slice:0:120}}...</p>
                </div>
            <div class="footer">
                  <button class="playButton">{{JoineeCount}} Joinee</button>
                  <button class="promoteButton">{{PromoteCount}} Promote</button>
                  <button class="watchButton">{{WatchCount}} Subscribe</button>
                  <button class="commentButton">{{CommentCount}} Talk</button>
            </div>

</div>

