.pos-nav{
    margin-top: 55px;
    width: auto;
}

/* filter menu */
.filter-menu-bg{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}
.gif{
    position: fixed;
    top: 40vh;
    right: 45%;
    z-index: 30;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 5px;
}
.filter-menu{
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 35%;
    right: -1000px;
    background-color: white; 
    transition: 0.4s ease-in;
}
.filter-menu>.filter-header>.close{
    font-size: 2.2em;
    transform: rotate(45deg);
    float: left;
    font-weight: lighter;
}
.filter-menu>.filter-header{
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: white;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.filter-header>h1{
    font-size: 1.7em;
    font-weight: 400;
    padding: 15px;
    float: left;
    color: #024771;
}
.filter-menu>.left-side{
    position: relative;
    float: left;
    /* gets affected by height */
    /* margin-left: -19%; */ 
    /* weird anamoly */
    width: 39%;
    height: 70vh;
    background-color: #e0e0e0;
}
.filter-menu>.right-side{
    position: relative;
    float: right;
    width: 60%;
    height: 70vh;
    overflow-y: scroll;
    background-color: white;
}
.left-side>ul>li{
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
.right-side>ul>li{
    width: 80%;
    margin-left: 10%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.right-side>ul>li>input{
    float: right;
    margin-right: 5%;
}
.apply-filter{
    width: 100%;
    margin-top: 70vh;
    position: relative;
    height: 10vh;
}
.apply-filter>button{
    float: left;
    border: none;
    width: 48%;
    margin-left: 1.5%;
    height: 9vh;
    font-size: 1.2em;
    margin-top: 1vh;
    /* padding: 5px; */
}
/* main body */
.main-body{
    position: relative;
    float: right;
    width: 84%;
    height: 100vh;
}
/* connect header */
.connect-header{
    position: relative;
    height: 40vh;
    width: 100%;
    background-image: url('/assets/images/sportsocialteamviewheader.jpg');
    /* background-color: #024771; */
}
.connect-header>h1{
    position: absolute;
    top: 10vh;
    left: 40%;
    width: 20%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
    color: white;
}

.circle-pfp{
    position: absolute;
    top: 20vh;
    left: 30%;
    height: 50px;
    /* width: 30%; */
    /* width: 20%; */
    /* text-align: center; */
    /* letter-spacing: 1px; */
    /* font-size: 1.5em; */
    /* color: white; */
}
.circle-pfp>p{
    float: right;
    color: white;
    margin-top: 15px;
    margin-right: 10%;
    /* width: auto; */
}
.circle-pfp>div{
    position: relative;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    float: left;
    background-color: white;
}
.circle-pfp>div>img{
    position: relative;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2px;
    height: 50px;
    width: 50px;
}
/* cards */
.card-div{
    position: relative;
    width: 80%;
    height: auto;
    min-height: 50vh;
    /* background-color: aquamarine; */
}
.roll{
    float:left;
    height: 310px;
    width: 30%;
    background-color: red;
    border: 2px solid black;
    margin:3% 8% 2% 8%;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.cards{
    float: left;
    /* display: inline-block; */
    margin:3% 8% 2% 8%;
    border-radius: 5px;
    /* border-top-left-radius: 5%;
    border-top-right-radius: 5%; */
    position: relative;
    border: 1px solid #ababab;
    width: 30%;
    min-height: 310px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.cards:hover{
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cards:hover .footer{
    display: block;
  }
.head{
    width: 100%;
    height: 150px;
    position: relative;
}
.head>img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 100%;
    height: 100px;
}
.profileimg{
    position: absolute;
    bottom: 0%;
    height: 100px;
    width: 100%;
    z-index: 1;
}
.profileimg>img{
    border: 2px solid #ffffff;
    margin-left: 7%;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.teamname{
    width: 55%;
    right: 0% !important;
    height: 40px;
    bottom: 0%;
    padding: 10px;
    margin-top: 5px;
    /* position: absolute; */
    /* float: right; */
}
.teamname>h4{
    font-size: 1em;
    font-weight: bolder;
}
.teamname>h5{
  padding: 2%;
  padding-left: 0%;
  color: #ababab;
}
.members{
    width: 50%;
    height: 60px;
    padding-right: 10px;
    position: absolute;
    top: 100px;
    right: 0;
}
.members>div{
    margin-top: 10px;
    float: left;
    width: 50%;
    line-height: 1.4;
}
.members>div>p{
    margin-left: 5%;
}
.members>div>h4{
    font-family: 'Times New Roman', Times, serif;
    display: inline-flex;
    color: #ababab;
    padding: 2%;
}
.interest{
    position: relative;
    margin-top: 60px;
}
.interest>h1{
    padding: 10px;
    font-size: 1.1em;
    color: #222222;
    font-weight: 400;
}
.interest>div{
    float: left;
    margin-left: 10px;
    border-radius: 15px;
    border: 2px solid #666666;
}
.interest>div>h2{
    font-size: 0.9em;
    padding: 5px;
    color: #666666;
}
.backfooter{
    width: 75%;
    float: right;
}
.footer{
    display: none;
    position: absolute;
    width: 70%;
    margin-left: 15%;
    height: 50px;
    bottom: 0;
    border-top: 2px solid #888888;
}
.footer>h6{
    padding: 15px;
    text-align: center;
}
.footer>p{
    font-size: 1em;
    font-weight: bold;
    color: black;
    font-family:'Roboto',sans-serif;
}
.footer>h6{
    font-size: .9em;
    color: grey;
    font-family:'Roboto',sans-serif;
}

/* more card */
.more-cards{
    float: left;
    /* display: inline-block; */
    margin:3% 8% 2% 8%;
    border-radius: 5px;
    /* border-top-left-radius: 5%;
    border-top-right-radius: 5%; */
    position: relative;
    border: 2px solid #024771;
    width: 30%;
    min-height: 310px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: center;
}
.more-cards h1{
    margin-top: 150px;
    color: #024771;
    font-size: 1.4em;
    font-weight: 400;
}
/* right side nav */
.right-side-nav{
    border-radius: 5px;
    position: fixed;
    height: 50vh;
    width: 20%;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul{
    list-style: none;
}
.right-side-nav>ul{
    margin-top: 15px;
}
.right-side-nav>ul>li{
    height: auto;
    padding: 10px;
    margin-right: 3%;
    font-size: 1.6em;
    font-weight: 400;
    width: 82%;
    float: right;
    color: #024771;
    cursor: pointer;
    /* border-right: 6px solid #024771; */
}
.right-side-nav>ul>li.active{
    background-color: #024771;
    color: white;
    border-right: 6px solid #00304e;
}