<sports-social-header></sports-social-header>
<div class="pos-nav">
  <sports-social-newsidenav></sports-social-newsidenav>
</div>
<!-- filter menu -->
<div class="filter-menu-bg">
  <!-- black faded background -->
</div>
<div class="filter-menu">
  <div class="filter-header">
    <div (click)="close();" class="close">+</div>
    <h1>Filter</h1>
  </div>
  <div class="left-side">
    <ul>
      <li style="background-color: white;">Sports</li>
      <li>Age</li>
      <li>Gender</li>
    </ul>
  </div>
  <div class="right-side"></div>
</div>
<!-- <button style="float: right; margin-top: 200px; padding: 10px;" (click)="showfiltermenu();">lala</button> -->
<div class="main-body">
  <!-- connect header -->
  <div class="connect-header">
    <h1>Connect</h1>
    <div class="circle-pfp">
      <div>
        <img src="assets/images/sportsociallocalitypfperror.jpg" alt="" onerror="this.src='assets/images/sportsociallocalitypfperror.jpg'">
      </div>
      <div style="margin-left: -4%;">
        <img src="assets/images/sportsociallocalitypfperror.jpg" alt="" onerror="this.src='assets/images/sportsociallocalitypfperror.jpg'">
      </div>
      <div style="margin-left: -4%;">
        <img src="assets/images/sportsociallocalitypfperror.jpg" alt="" onerror="this.src='assets/images/sportsociallocalitypfperror.jpg'">
      </div>
      <div style="margin-left: -4%;">
        <img src="assets/images/sportsociallocalitypfperror.jpg" alt="" onerror="this.src='assets/images/sportsociallocalitypfperror.jpg'">
      </div>
      <p>+ 1,50,0000 sports person using our app</p>
    </div>
  </div>
  <div class="right-side-nav">
    <ul>
      <li (click)="initdata()" routerLink="/connect/teams/Most_Popular" routerLinkActive="active">Most Popular</li>
      <li (click)="initdata()" routerLink="/connect/teams/Playing_Today" routerLinkActive="active">Playing Today</li>
      <li>Most Popular</li>
      <li>Most Popular</li>
      
    </ul>
  </div>

  <div class="card-div">
    <!-- <div class="roll" *ngFor="let data of team">
        <div class="head">
            <img src="assets/images/sportsociallocalitypfperror.jpg" onerror="this.src='assets/images/sportsocialteamheader.jpg'">
            <div class="profileimg">
              <img src="{{data.pfp}}" onerror="this.src='assets/images/user.png'">
                <div class="teamname">
                 <h4>{{data.TeamName}</h4>
                 <h5>@{{data.TeamUserName}</h5>
               </div>
            </div>
        </div>
        <div class="members">
          <div>
            <h4>Fans</h4>
            <p>10</p>
          </div>
          <div>
            <h4>Followers</h4>
            <p>10</p>
          </div>    
        </div>
        <div class="interest">
          <h1>Sports Interest</h1>
          <div>
            <h2>interest</h2>
          </div>
        </div>
        <div class="footer">
          <h6>View Profile</h6>
        </div>
    </div> -->
    <div class="cards" *ngFor="let data of team">
        <div class="head">
            <img src="assets/images/sportsociallocalitypfperror.jpg" onerror="this.src='assets/images/sportsocialteamheader.jpg'">
            <div class="profileimg">
              <img src="{{data.pfp}}" onerror="this.src='assets/images/user.png'">
                <div class="teamname">
                 <h4>{{data.TeamName}</h4>
                 <h5>@{{data.TeamUserName}</h5>
               </div>
            </div>
        </div>
        <div class="members">
          <div>
            <h4>Fans</h4>
            <p>10</p>
          </div>
          <div>
            <h4>Followers</h4>
            <p>10</p>
          </div>    
        </div>
        <div class="interest">
          <h1>Sports Interest</h1>
          <div>
            <h2>interest</h2>
          </div>
        </div>
        <div class="footer">
          <h6>View Profile</h6>
        </div>
    </div> 
     <div class="more-cards">
      <h1>+15 More.</h1>
  </div>
  </div>
</div>