<sports-social-header></sports-social-header>

  <div class="header">
    <div class="headerContent">
      <h2>Reach Out to us</h2>
      <p>For any queries and suggestions, please leave your contact info here and we will be in touch with you shortly.
      </p>
    </div>
  </div>

  <div class="userform">
      <div class="left-model">
          <h4></h4>
      
        <form  #formdata="ngForm" (ngSubmit)="onsubmit(formdata.value)">
            <label>
              * First Name<br>
              <input type="text" name="firstname" [(ngModel)]="form.firstname" placeholder="first-name" required />
            </label>
            <label>
              Last Name<br>
              <input type="text" name="lastname"  [(ngModel)]="form.lastname" placeholder="last-name"   />
            </label>
            <label>
              * Contact Number<br>
              <input type="text" name="contactnumber" [(ngModel)]="form.contactnumber" placeholder="0123456789" required  maxlength="10" />
            </label>
            <label>
              * Email Id<br>
              <input type="text" name="email" [(ngModel)]="form.email" placeholder="abc@gmail.com" required />
            </label>
            <label class="msg">
              * Message<br>
              <input  type="text" name="message" [(ngModel)]="form.message" required />
            </label><br>
            <button type="submit" [disabled]="formdata.invalid">Send</button>
        </form>
      </div>
      <div class="right-model">
          <h2>Follow Us</h2>
          <a href="https://www.facebook.com/chaseyoursport/" target="_blank">
            <img src="assets/images/sportsocialfacebook.png">
          </a>
          <a href="https://in.linkedin.com/company/sports-social" target="_blank">
            <img src="assets/images/sportsociallinkedin.png">
          </a>
          <a href="https://www.twitter.com/chaseyoursport" target="_blank">
          <img src="assets/images/sportsocialtwitter.png">
        </a>
        <a href="https://www.instagram.com/chaseyoursport" target="_blank">
          <img src="assets/images/sportsocialinstagram.png">
        </a>
      </div>
  </div>


    <div class="midbody">
      <div class="blocks">
          <div class="blockData">
            <img src="assets/images/home-icon-silhouette.png">
            <!-- <h3>VISIT US</h3> -->
            <p>Basement,307,chakkarpur,sector28,
              Gurugram, Haryana 122002 </p>
          </div>
          <div class="blockData">
            <img src="assets/images/call-answer.png">
            <!-- <h3>CALL US</h3> -->
            <p>+91-9717769226</p>
          </div>
          <div class="blockData">
            <img src="assets/images/envelope.png">
            <!-- <h3> MESSAGE US</h3> -->
            <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox" target="_blank"><P>letstalk@sportsocial.in</P></a>
          </div><br>
      </div>
      <div class="map">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div> 
          <div class="footer">
              <sports-social-backfooter></sports-social-backfooter>
          </div>
    </div>

   

