<sports-social-header></sports-social-header>
<!-- popup -->
<body>
<div class="popup">
  <div class="pop-up">
    <h1>Your message is sent successfully! We will contact you shortly.<br>Thanks!</h1>
    <!-- <button (click)="closepopup()">ok</button> -->
  </div>
</div>
  <div class="header">
    <div class="headerContent">
      <h2>You make it a Passion</h2><br>
      <h2>We make it a&nbsp; joy!</h2><br><br><br><br>
      <button class="first-btn" routerLink='/application'>Capture Your Journey</button>
      <button class="second-btn" routerLink='/HelpCenter'>Get Started</button>
      <!-- <p>For any queries and suggestions, please leave your contact info here and we will be in touch with you shortly.
      </p> -->
    </div>
  </div>
  <div class="above">
    <h1>Get In Touch </h1>
    <h3>Just fill out the below form with your message and we will be in touch with you at lightening speed</h3>
  </div>

  <div class="userform">
      <div class="left-model">
        <form id="myform" #formdata="ngForm" (ngSubmit)="onsubmit(formdata.value)">
            <label>
              * First Name<br>
              <input type="text" name="firstname" [(ngModel)]="form.firstname" placeholder="first-name" required />
            </label>
            <label>
              Last Name<br>
              <input type="text" name="lastname"  [(ngModel)]="form.lastname" placeholder="last-name"   />
            </label>
            <label>
              * Contact Number<br>
              <input type="text" name="contactnumber" [(ngModel)]="form.contactnumber" placeholder="0123456789" required  maxlength="10" />
            </label>
            <label>
              * Email Id<br>
              <input type="text" name="email" [(ngModel)]="form.email" placeholder="abc@gmail.com" required />
            </label>
            <label class="msg">
              * Message<br>
              <input  type="text" name="message" [(ngModel)]="form.message" placeholder="type your message here" required />
            </label><br>
            <button class="button" (click)="windowReload()" type="submit" [disabled]="formdata.invalid">Send</button>
        </form>
      </div>
      <div class="right-model">
          <h2>Follow Us</h2>
          <a href="https://www.facebook.com/chaseyoursport/" target="_blank">
            <img src="assets/images/sportsocialfacebook.png">
          </a>
          <a href="https://in.linkedin.com/company/sports-social" target="_blank">
            <img src="assets/images/sportsociallinkedin.png">
          </a>
          <a href="https://www.twitter.com/chaseyoursport" target="_blank">
          <img src="assets/images/sportsocialtwitter.png">
        </a>
        <a href="https://www.instagram.com/chaseyoursport" target="_blank">
          <img src="assets/images/sportsocialinstagram.png">
        </a>
      </div>
  </div>


    <div class="midbody">
      <h1>Connect With Us</h1>
      <h3>for any support or queries</h3>
      <div class="blocks">
          <div class="blockData">
            <img src="assets/images/12-_Company_adress-512 (1).png">
            <!-- <h3>VISIT US</h3> -->
            <p>Basement,307,chakkarpur,sector28,
              Gurugram, Haryana 122002 </p>
          </div>
          <div class="blockData">
            <img src="assets/images/call-answer.png">
            <!-- <h3>CALL US</h3> -->
            <p>+91-8800879529</p>
          </div>
          <div class="blockData">
            <img src="assets/images/envelope.png">
            <!-- <h3> MESSAGE US</h3> -->
            <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox" target="_blank"><P>letstalk@sportsocial.in</P></a>
          </div><br>
          <div class="map">
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
          </div> <br><br>
      </div>
    </div>
  </body>
    <sports-social-backfooter></sports-social-backfooter>

