<sports-social-side-nav></sports-social-side-nav>
 <!-- <div class="msidenav"></div> -->
<div class="home">
  <div class="sidenav">
      <sports-social-side-nav></sports-social-side-nav>
  </div>
    <div class="rightside"> 
      <div class="leftarrow" (click)="lscroll();">
      </div>

        <div class="topic">
            <a><h4>Cricket matches</h4></a>
          </div>  
      <div class="blog">
        <img class="spinner" src="assets/images/sports-social-loading.gif" *ngIf = "Matcharr.length === 0" alt="">
          
            <div class="outdiv" *ngFor = "let feed of Matcharr; let i = index" #target>
              
              <div class="card">
                  <div class="head">
                        <div class="gamename">
                            <b>Men's {{feed.gamename}}</b>
                            <p>{{feed.Venue_Name | slice:0:40}}...</p>
                          </div>
                          <div class="result">
                            <b>Final Result</b><br>
                            <p> @{{feed.Uniquename}}</p>
                          </div> 
                  </div>
              <a>      
                  <div class="cardData">
                      <div class="cardData team1">
                         <img src={{feed.Team1Pic}} onerror="this.src='assets/images/user-default.png'">
                         <p>{{feed.Team1Name | slice:0:11}}</p>    
                      </div>
                      <div class="cardData t1score">
                          <b style="font-size: 1.2em;">181/2</b>
                          <p style="font-size: .6em; color:#7e7d7d;">Overs:20</p>
                      </div>
                      <div class="cardData t2score">
                         <b style="font-size: 1.2em;">181/2</b>
                         <p style="font-size: .6em; color:#7e7d7d;">Overs:20</p>
                      </div>
                      <div class="cardData team2">
                         <img src={{feed.Team2Pic}} onerror="this.src='assets/images/user-default.png'">
                         <p>{{feed.Team2Name | slice:0:11}}</p>
                      </div>     
                </div> 
              </a> 
                    <div class="matchstatus">
                        <p>kapil p won by 8 wickets</p>
                    </div>
                <div class="footer">
                      <button class="footer Button" (click)="openAppDownloadPopup()">Prediction</button>
                      <button class="footer Button" (click)="openAppDownloadPopup()">{{CommentCount}} Talk</button>
                      <button class="footer Button" (click)="openAppDownloadPopup()">{{PromoteCount}} Promote</button>
                      <button class="footer Button" (click)="openAppDownloadPopup()">{{WatchCount}} Watch</button>
                </div> 
              </div>    
            </div>
          
        </div>
        <div class="rightarrow" (click)="rscroll();">
        </div> 
    </div>        
</div>