
.home{
    width:100%;
    margin-top: 4%;
    overflow: hidden;
}
.home>div{
    display: inline-block;
}
.rightsidefooter{
    width: 84%;
    float: right;
}
.rightside1{
    margin-top: 0%;
    float: right;
    width: 82.5%;
    padding-left: 20px;
    height: 240px;
    z-index: 10;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.no-matches{
    height: 55px;
    padding-top: 2%;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.rightside{
    margin-top: 0%;
    float: right;
    width: 82.5%;
    padding-left: 20px;
    height: 455px;
    z-index: 10;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.blog{
    margin: 0 auto;
    width: 92%;
    overflow-y: hidden;
    height: 220px;
    scroll-behavior: smooth;
    overflow-x: scroll;
    white-space: nowrap !important;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
    /* border: 1px solid blue; */
}
.blog::-webkit-scrollbar {
    display: none;
}
.leftarrow {
    position: absolute;
    margin-top: 80px;
    width: 30px;
    margin-left:-37px;
    border-radius: 50%;
    height: 30px;
    background-size: 100% 100%; 
}
.rightarrow{
    position: absolute;
    margin-left: 75%;
    margin-top: 80px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background-size: 100% 100%;
}
.leftarrow,.rightarrow:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px #ecebeb;
}
.leftarrow {
    border: 1px solid silver;
    /* margin-left: 1%; */
    background-image: url('/assets/images/sportsocialhomearrow1.png');
}
.rightarrow {
    border: 1px solid silver;
    /* margin-left: 1%; */  
    background-image: url('/assets/images/sportsocialhomearrow.png');
}

.lefttarrow {
    position: absolute;
    margin-top: 37px;
    margin-left: -37px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background-size: 100% 100%; 
}
.righttarrow{
    position: absolute;
    margin-left: 74%;
    margin-top: 37px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background-size: 100% 100%;
}
.lefttarrow,.righttarrow:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px #ecebeb;
}
.lefttarrow {
    border: 1px solid silver;
    /* margin-left: 1%; */
    background-image: url('/assets/images/sportsocialhomearrow1.png');
}
.righttarrow {
    border: 1px solid silver;
    /* margin-left: 1%; */  
    background-image: url('/assets/images/sportsocialhomearrow.png');
}


.topic h4{
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.6em;
    margin-left: 4%;
    margin-top: 10px;
    margin-bottom: 8px;
}
.topic h4 h5{
    float: right;
    margin-right: 15px;
    color: rgb(133, 131, 131);
    font-size: 0.8em;
    font-weight: lighter;
    cursor: pointer;
}
.blog .outdiv{
    display: inline-block;
}
.outdiv{
    scroll-snap-align: start;
    width: 31%;
    margin: 1% 1.1% 0% 1.1%;
    border-radius: 2%;
    vertical-align: top;
}

.head{
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #dddddd;
}
.gamename {
    height: 100%;
    width: 60%;
    margin-left: 2%;
    float:left;
}
.result {
    height: 100%;
    width: 30%;
    margin-right: 2%;
    float: right;
}
.result b,.result p {
    float: right;
}
.result b {
    font-size: .9em;
}
.gamename b {
    font-size: 0.9em;
}
.gamename p {
    margin-top: -0.5%;
    font-size: 0.7em;
    font-weight: lighter;
}
.result p {
    margin-top: -0.5%;
    font-size: 0.8em;
    font-weight: bold;
    color: #5f5e5e;
}

.cardData{
    float: left;
    width: 100%;
    height: 40px;
    /* border: 1px solid blue; */
}
.cardData>div{
    margin-top: 0%;
}
.team1 {
    width:30%;
}
.t1score {
    margin-top: 0%;
    width: 30%;
}

.t2score {
    width: 20%;
}
.team2 {
    width:30%;
}
.team1,.team2 {
    text-align: center;
}
.t1score,.t2score {
    color: black;
    text-align: center;
    margin-top: 7%;
}
.team1,.team2>p{
    color: black;
    font-size: 0.8em;
    text-align: center;
}
.team1>img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.team2>img{
   border-radius: 50%;
   height: 40px;
   width: 40px;
}

.card{
    display: grid;
    width: 100%;
    height: 180px;
    border: 1px solid #929292;
    margin-bottom: 2%;
    border-radius: 2%;
   
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.matchstatus{
    width: 100%;
    height: 30px;
    margin-top: 5%;
}
.matchstatus>textarea{
    width: 100%;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
    border: none;
    resize: none;
    text-align: center;
    height: auto;
    font-size: .6em;
    font-weight: bolder;
}
.footer{
    float: left;
    border-top: 1px solid #d3d1d1;
    width: 100%;
    height: 30px;
}
.Button{
    border: none;
    width: auto;
    padding: 3%;
    outline: none;
    text-align: center;
    font-size: 0.9em;
    color: #686868;
    background-color: transparent;
}
.news-section{
    margin: 0 auto;
    width: 90%;
    overflow-y: hidden;
    height: 150px;
    scroll-behavior: smooth;
    overflow-x: scroll;
    white-space: nowrap !important;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
    /* border: 1px solid red; */
}
.news-section::-webkit-scrollbar {
    display: none;
}
h1{
    font-size: 1.6em;
    margin-bottom: 8px;
    margin-left: 4%;
    font-weight: lighter;
}
h1 h2{
    float: right;
    margin-right: 15px;
    color: rgb(133, 131, 131);
    font-size: 0.8em;
    font-weight: lighter;
    cursor: pointer;
}

.news-card{
    width: 100%;
    height: 80px;
    border-right: 1px solid #ece9e9;
    border-top: 1px solid #ece9e9;
    margin-bottom: 2%;
    border-radius: 2%;
    overflow: hidden;
    cursor: pointer;  
    
}
.news-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.news-img{
    /* padding: 10px; */
    float: left;
    width: 40%;
}
.news-img img{
    height: 80px;
    width: 90%;
    border-radius: 5px;
}
.news-detail{
    word-wrap: break-word;
    width: 60%;
    float: right;
    font-size: 0.7em;
    cursor: pointer;
}
.news-detail p{
    padding-top: 10px;
    
    color: rgb(87, 87, 87);
    font-size: 1.3em;
}
.news-section .outdiv{
    display: inline-block;
}
.news-detail textarea{
    cursor: pointer;
    width: 100%;
    color:black;
    background-color: white;
    overflow: hidden;
    border: none;
    resize: none;
    height: auto;
    font-size: 1.5em;
    font-weight: bolder;
}

@media screen and (min-width:200px) and (max-width:700px){
    .team1,.team2>p{
        font-size: 0.9em;
    }
    .rightsidefooter{
        width: 100%;
    }
    .creator{
        margin-top: 12%;
    }
    .username{
        font-size: .6em;
    }
    #creatorname{
        font-size: .8em;
    }
    .footer>button{
        font-size: 0.8em;
    }
    .eventtext>p{
        font-size: .8em;
    }
    .home .sidenav{
        display: none;
    }
    .msidenav{
        text-align: center;
        display:block;
        margin-top: 24%;
    }
    .rightside {
        height: 450px;
        width: 100%;
    }
    .rightside1 {
        height: 260px;
        width: 100%;
    }
    .outdiv{
        width: 90%;
    }
    .blog{
        width: 85%;
        height: 200px;
    }
    .card{
        width: 95%;
        height: 180px;
    }
    .gamename,.result b{
        font-size: 0.8em;
    }
    .result p {
        font-size: 0.7em;
    }
    .cardData img{
        height: 35px;
        width: 35px;
    }
    .t1score, .t2score{
        font-size: 0.75em;
    }
    .leftarrow,.rightarrow,.lefttarrow,.righttarrow{
        display: none;
    }
    .home{
        margin-top: 10%;
    }
    .topic{
        padding: 20px;
    }
    h1{
        padding: 20px;
    }
    .news-section{
        width: 80%;
    }
    .Button{
        padding: 2%;
        font-size: 0.4em;
    }
}

@media screen and (min-width: 700px) and (max-width: 950px){
    .rightsidefooter{
        width: 100%;
    }
    .rightside{
        margin-top: 7%;
    }
    .rightside1{
        margin-top: 7%;
        width: 100%;
    }
    .leftarrow,.rightarrow{
        margin-top: 16%;
    }
    .card {
        height: 230px;
    }
    .home .sidenav{
        display: none;
    }
    .msidenav{
        display: block;
    }
    .rightside {
        width: 100%;
    }
    .outdiv{
        width: 48%;
    }
    .blog{
        width: 91%;
        height: 200px;
    }
    .card{
        width: 95%;
        height: 210px;
    }
    .leftarrow,.rightarrow{
        margin-top: 11%;
        width: 4%;
    }
    .leftarrow{
        margin-left: -3%;
    }
    .rightarrow{
        margin-left: 90%;
    }
    .lefttarrow{
        margin-left: -4%;
    }
    .righttarrow{
        margin-left: 89%;
    }
    .home{
        margin-top: 1%;
    }
    .home .sidenav{
        display: none;
    }
    .msidenav{
        text-align: center;
        display:block;
        margin-top: 10%;
    }
}
@media screen and (min-width: 951px) and (max-width: 1100px){
    .Button{
        padding: 2.5%;
        font-size: 0.7em;
    }
}

