 
<div class="home">

  <img class="spinner" src="assets/images/sports-social-loading.gif" *ngIf="Matcharr.length === 0" alt="">
      
    <div class="rightside" *ngFor = "let game of Matcharr;"> 
        <div class="topic">
            <a><h3>{{game.gametitle}}<h5>See all</h5></h3></a>
          </div>  
      <div class="blog" #blog>  
        <h3>Matches</h3><br><br>
          <!-- <div class="leftarrow" (click)="lscroll();">
            </div>  
          <div class="rightarrow" (click)="rscroll();">
              </div>  -->
            <div class="outdiv" *ngFor = "let feed of game.gamearray;" #outdiv>

              <div class="card">
                  <div class="head">
                        <div class="gamename">
                            <b>{{gendercheck}} {{feed.GameName}}</b>
                            <p>{{feed.Venue_Name | slice:0:30}}...</p>
                          </div>
                          <div class="result">
                            <!-- <b>Final Result</b><br> -->
                            <b>{{feed.result}}</b>
                            <p> {{feed.MatchStarterUniqueName}}</p>
                            
                          </div>  
                  </div>
                      <a routerLink="/opencard/{{feed.feedid}}">      
                          <div class="cardData">
                              <div class="cardData team1">
                                <img src={{feed.Team1Pic}} onerror="this.src='assets/images/user-default.png'">
                                <p>{{feed.Team1name | slice:0:11}}</p>    
                              </div>
                              <div class="cardData t1score" style="margin-top: 5%;">
                                  <b style="font-size: 1.2em;">{{feed.scoreTeam1}}</b>
                                  <b style="font-size: 1.2em;">{{feed.scoreTeam2}}</b>
                              </div>
                              <div class="cardData team2">
                                <img src={{feed.Team2Pic}} onerror="this.src='assets/images/user-default.png'">
                                <p>{{feed.Team2name | slice:0:11}}</p>
                              </div>     
                        </div> 
                      </a> 
                    <div class="matchstatus">
                        <textarea disabled>{{feed.EventText | slice:0:100}}..</textarea>
                    </div>
                <div class="footer">
                      <button class="footer Button">{{feed.JoineeCount}} Joinee</button>
                      <button class="footer Button">{{feed.CommentCount}} Talk</button>
                      <button class="footer Button">{{feed.PromoteCount}} Promote</button>
                      <button class="footer Button">{{feed.WatchCount}} Subscribe</button>
                </div> 
              </div>    
            </div>
          </div> 
    
    <h1>News<h2 (click)="changee(game.gametitle)">See all</h2></h1> 
    <div class="news-section">
        <!-- <div class="lefttarrow" (click)="lscroll();">
          </div>  
        <div class="righttarrow" (click)="rscroll();">
            </div>  -->
      <div class="outdiv" *ngFor="let feed of news[game.gamenumber]" #targett>
        <div class="news-card" (click)="change(feed.id, game.gametitle)">
          <div class="news-img">
            <img src="{{feed.image}}" alt="sportsocialimg" onerror="this.src='assets/images/user-default.png'">
          </div>
          <div class="news-detail">
            <textarea disabled>{{feed.title | slice:0:100}}..</textarea>
            <p>{{feed.source}}</p>  
          </div>
        </div>
    </div>
    </div>
    </div> 
    <div class="rightside1" *ngFor="let data of tnews">
      <h1 class="no-matches">{{data.gamename}} matches<h2>No matches</h2></h1>
      <h1>News<h2 (click)="changee(data.gamename)">See all</h2></h1> 
      <div class="news-section">
          <!-- <div class="lefttarrow" (click)="lscroll();">
            </div>  
          <div class="righttarrow" (click)="rscroll();">
              </div>  -->
        <div class="outdiv" *ngFor="let feed of data.gamenews" #targett>
          <div class="news-card" (click)="change(feed.id, game.gametitle)">
            <div class="news-img">
              <img src="{{feed.image}}" alt="sportsocialimg">
            </div>
            <div class="news-detail">
              <textarea disabled>{{feed.title | slice:0:100}}..</textarea>
              <p>{{feed.source}}</p>
            </div>
          </div>
      </div>
      </div>
    </div>    
</div>
<div class="rightsidefooter" *ngIf="Matcharr.length !== 0">
<sports-social-backfooter></sports-social-backfooter>
</div>