 
<div class="home">

  <img class="spinner" src="assets/images/sports-social-loading.gif" *ngIf="Matcharr.length === 0" alt="">
      
    <div class="rightside" *ngFor = "let game of Matcharr;"> 
        <div class="topic">
            <h2>{{game.gametitle}}</h2>
            <h3>Matches<h5 (click)="gotoarena(game.gametitle)">See all</h5></h3>
        </div>
        
        <!-- <div class="blog"  malihu-scrollbar [scrollbarOptions]="scrollbarOptions">   -->
          <div class="blog" >  
            <!-- <div class="leftarrow" (click)="lscroll();"></div>  
              <div class="rightarrow" (click)="rscroll();"></div>  -->
                  <div class="card" *ngFor = "let feed of game.gamearray;" #widgetsContent>
                      <div class="head">
                          <div class="gamename">
                              <b>{{feed.gender}} {{feed.GameName}} <h6>&nbsp;-&nbsp;{{feed.age}}</h6></b>
                              <p>{{feed.Venue_Name | slice:0:30}}...</p>
                          </div>
                          <div class="result">
                              <b>{{feed.startdatetime}}
                                <img *ngIf="!feed.finished" src="/assets/images/sportsocialfinalicon.jpeg">
                                <img *ngIf="feed.finished" src="/assets/images/sportsocialgreendot.png"><br>        
                              </b>
                             <!-- <a routerLink="userprofile/{{feed.MatchStarterId}}/matches">  -->
                              <p> {{feed.MatchStarterUniqueName}}</p>
                            <!-- </a> -->
                          </div>  
                      </div>
                          <a routerLink="/opencard/{{feed.feedid}}">      
                              <div class="cardData">
                                  <div class="cardData team1">
                                      <img src={{feed.Team1Pic}} onerror="this.src='assets/images/user.png'">
                                      <p>{{feed.Team1name | slice:0:11}}</p>    
                                  </div>
                                  <div class="cardData t1score" style="margin-top: 5%;">
                                      <b style="font-size: 1.2em;">{{feed.scoreTeam1}}</b>
                                      <b *ngIf="feed.scoreTeam2" style="font-size: 1.2em;">{{feed.scoreTeam2}}</b>
                                      <b *ngIf="!feed.scoreTeam2" style="font-size: 1.2em;"><span>{{feed.Ontime}}</span></b>
                                      <br>
                                      <b *ngIf="!feed.scoreTeam2" style="font-size: 1em; font-weight: lighter;color: #444444;"><span>{{feed.Ondate}}</span></b>
                                  </div>
                                  <div class="cardData team2">
                                    <img src={{feed.Team2Pic}} onerror="this.src='assets/images/user.png'">
                                    <p>{{feed.Team2name | slice:0:11}}</p>
                                  </div>     
                            </div> 
                            <div class="matchstatus">
                                <textarea disabled>{{feed.EventText | slice:0:100}}..</textarea>
                            </div>
                          </a> 
                        
                    <div class="footer">
                      <button class="Button" (click)="openAppDownloadPopup()"><span *ngIf="feed.JoineeCount">{{feed.JoineeCount}}</span> Joinee</button>
                      <button class="Button" (click)="openAppDownloadPopup()"><span *ngIf="feed.CommentCount">{{feed.CommentCount}}</span> Talk</button>
                      <button class="Button" (click)="openAppDownloadPopup()"><span *ngIf="feed.PromoteCount">{{feed.PromoteCount}}</span> Promote</button>
                      <button class="Button" (click)="openAppDownloadPopup()">Subscribe</button>
                      
                  </div> 
                </div>    
              </div> 
          <div class="topic-news">
            <h3>News<h5 (click)="changee(game.gametitle)">See all</h5></h3> 
            <h3 *ngIf="news.length === 0"><i>No News As Of Now!</i></h3> 
          </div>
     <div  class="news-section">
        <!-- <div class="lefttarrow" (click)="lscroll();">
          </div>  
        <div class="righttarrow" (click)="rscroll();"> -->
            <!-- </div>  -->
          <div class="outdiv" *ngFor="let feed of news[game.gamenumber]" #targett>
            <div class="news-card" (click)="change(feed.id, game.gametitle)">
               <div class="news-img">
                  <img  *ngIf="feed.source === 'Football Italia'" src="{{feed.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialfi.png'">
                  <img  *ngIf="feed.source === 'The Hindu'" src="{{feed.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialth.png'">
                  <img  *ngIf="feed.source === 'The Times of India'" src="{{feed.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialtoi.png'">
                  <img  *ngIf="feed.source === 'ESPN Cric Info'" src="{{feed.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialespn.jpg'">
                  <img  *ngIf="feed.source === 'Fox Sport'" src="{{feed.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialfox-sport.png'">
                </div>
               <div class="news-detail">
                 <textarea disabled>{{feed.title | slice:0:100}}..</textarea>
                 <p>{{feed.source}}</p>  
              </div>
            </div>
           </div>
       </div>
    </div> 
    <div class="rightside1" *ngFor="let data of tnews">
      <div class="topic2">
          <h2>{{data.gamename}}</h2>
        </div>
  
          <h1>News<h5 (click)="changee(data.gamename)">See all</h5></h1> 
          <div class="news-section">
            <div class="outdiv" *ngFor="let feed of data.gamenews" #targett>
              <div class="news-card" (click)="changenomatch(feed.id, data.gamename)">
                <div class="news-img">
                    <img  *ngIf="feed.source === 'Football Italia'" src="{{feed.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialfi.png'">
                    <img  *ngIf="feed.source === 'The Hindu'" src="{{feed.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialth.png'">
                    <img  *ngIf="feed.source === 'The Times of India'" src="{{feed.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialtoi.png'">
                    <img  *ngIf="feed.source === 'ESPN Cric Info'" src="{{feed.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialespn.jpg'">
               </div>
                <div class="news-detail">
                  <textarea disabled>{{feed.title | slice:0:100}}..</textarea>
                  <p>{{feed.source}}</p>
                </div>
              </div>
            </div>
          </div>
      </div>    
 </div>
<div class="rightsidefooter" *ngIf="Matcharr.length !== 0">
<sports-social-backfooter></sports-social-backfooter>
</div>