.about{
    margin-top: 90px;
    text-align: center;
    margin-bottom: 70px;
}
.brand-logo {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: bottom;
    margin: 10px
}
.brand-logo > img {
    width: 100%;
    height: 100%;
}

.def{
    color: #024771;
    padding-bottom: 15px;
    display: inline-block;
    vertical-align: bottom;
    width: 60%;
}
.def > h2 {
    font-size: 0.6em;
    font-weight: 500;
    text-align: left;
    color: #ffa600;
    margin-bottom: 15px
}
.def > p {
    font-size: 0.7em;
    font-weight: 300;
    text-align: left;
}

.mission{
    font-size: 1.1em;
    margin: 30px;
    color: #ffa600
}

.mission-img{
    background-color: #4372a0;
    color: white;
    padding: 15px;
    margin-bottom: 5%;
}

.mission-img > p:first-child{
    width: 50%;
    margin: 2% auto;
    font-size: 1.1em
}

.belief{
    margin: 30px  auto;
    width: 60%;
}
.latest-blog{
    font-size: 1.4em;
    font-weight: 700;
}