<sports-social-header></sports-social-header>

<div class="about">
  <div class="brand-logo">
    <img src="/assets/images/sports-social-blue-icon-100X100.png" alt="">
  </div>
  <h1 class="def">
    <h2>Sports Social is</h2>
    <p>Sports digital media and netwroking service that helps you to see what's going around 
      the globe right now & let's you choose your passion to play your favourite sport.
    </p>
  </h1>
  <h2 class="mission">
    Our Vision is to give everyone opportunity for play & self-expression and 
    show them to the world.
  </h2>
  <div class="mission-img">
    <p>
      Our Mission is to empower everyone to play sports by providing a technology based service that helps everyone to show their real talent in the real time to the real world.
    </p>
    <img src="/assets/images/sports-social-fitness.png" alt="">
    
    <h3 class="belief">
      We believe that everyone deserves an opportunity for play and self-expression 
      and the world will be much better place when we play, express ourselves and build communities 
      around sports.
    </h3>
    <p> "A world where everyone is welcome to play and enjoy their favorite sports without any barriers."</p>
  </div>
  
  <p class="latest-blog">The Latest From Our Blog</p>
  <ng-masonry-grid  
        [masonryOptions]="{ transitionDuration: '0.4s', gutter: 2 }"
        [useAnimation]="true"
        [useImagesLoaded]="true">
      <ng-masonry-grid-item class="col-4" *ngFor = "let feed of blog">
        <sports-social-blog-card
          [blogId] = "feed.blogId"
          [blogImage] = "feed.blogImage"
          [heading] = "feed.heading"
          [viewCount] = "feed.viewCount"
          [shareCount] = "feed.shareCount"
          [metaDesc] = "feed.metaDesc"
          [imageDesc] = "feed.imageDesc"
          [topic] = "feed.topic"
          [shortTitle] = "feed.shortTitle"
          [insertedDate] = "feed.insertedDate"  >
        </sports-social-blog-card>
      </ng-masonry-grid-item>
  </ng-masonry-grid>
</div>



<sports-social-footer></sports-social-footer>
