<sports-social-header></sports-social-header>
<sports-social-carousel></sports-social-carousel>
<sports-social-navigation-bar></sports-social-navigation-bar>
<div class="container">
      <div class="col-4" *ngFor = "let feed of globalArena; let i = index">
        <ng-container *ngIf = "feed.type === 1">
            <h1 class="type"> 
              <a routerLink="/OpenArena">Open Arena >></a>  
            </h1>
              <sports-social-match-card 
                [doerId] = "feed.doerId"
                [doerName] = "feed.doerName"
                [doerPic] = "feed.doerPic"
                [matchImage] = "feed.matchImage"
                [matchText] = "feed.matchText"
                [commentCount] = "feed.commentCount"
                [promoteCount] = "feed.promoteCount"
                [watchCount] = "feed.watchCount"
                [matchDate] = "feed.matchDate"
                [activityDate] = "feed.activityDate"
                [gameName] = "feed.gameName"
                [activityName] = "feed.activityName"
                [joineeCount] = "feed.joineeCount"
                [restrictionCount] = "feed.restrictionCount"   #matchCard>
              </sports-social-match-card>
        </ng-container>
        <ng-container *ngIf = "feed.type === 0">
            <h1 class="type">
              <a routerLink="/AroundTheWorld">Around The World >></a> 
            </h1>
            <sports-social-news-card
              [sourceName]= "feed.source"
              [sourceImage] = "feed.sourceImage"
              [newsImage] = "feed.newsImage"
              [title] = "feed.title"
              [desc] = "feed.desc"
              [url] = "feed.url"
              [insertedDate] = "feed.insertedDate"
              [likeCount] = "feed.likeCount"
              [shareCount] = "feed.shareCount"
              [commentCount] = "feed.commentCount">
            </sports-social-news-card>
        </ng-container>
      </div>
  </div>
  <sports-social-footer></sports-social-footer>