
<div class="navbar" #navbar>
  <ng-container *ngIf = "!mobileNav">  
    <ul >
      <li>
        <a routerLink="/" class="nav">
          <img src="{{route === undefined ? 'assets/images/sports-social-home-clicked.png': 'assets/images/sports-social-home.png'}}" #image>
        </a>
      </li>
      <li *ngFor="let sport of sports; let i = index" (mouseover)="closeDropdownByMouseleave(i)">
        <a class="nav" routerLink="/{{sport.title}}" routerLinkActive="active" (click)="closeDropdownByClick($event)" >
          {{sport.title}}
        </a>
      </li>
      <li class="more"  *ngIf = "moreSports.length>0">
          <img src="assets/images/sports-social-caret-down-blue.png" (click)="openDropdown()" (mouseover)="openDropdown()" >
      </li>
    </ul>

    <ng-container *ngIf="isHoverOnCaret">
        <ul  class="dropdown" (mouseleave)="closeDropdownByMouseleave()" #dropdown>
            <li *ngFor="let sport of moreSports" >
              <a class="nav" routerLink="/{{sport.title}}" routerLinkActive="active" (click)="closeDropdownByClick($event)">
                {{sport.title}}
              </a>
            </li>
        </ul>
    </ng-container>
  </ng-container>


<div class="mobile-nav" >
   <ng-container *ngIf = "mobileNav">
      <div class="active-route" > 
          <div  *ngIf= "route === undefined" >
              <img src="{{ 'assets/images/sports-social-home-clicked.png'}}" #image>
          </div>
          <ng-container *ngIf= "route !== 'Popular'">
              <div >{{route}}</div>
          </ng-container>
        <img  src="assets/images/sports-social-caret-down-blue.png" (click)="openDropdown()" (mouseover)="openDropdown()" >
      </div>
      <ng-container *ngIf="isHoverOnCaret">
        <ul (mouseleave)="closeDropdownByMouseleave()" #mobileNavbar>
            <!-- <li>
                <a routerLink="/" class="nav">
                  <img src="{{route === undefined ? 'assets/images/sports-social-home-clicked.png': 'assets/images/sports-social-home.png'}}" #image>
                </a>
              </li> -->
          <li *ngFor="let sport of sports; let i = index" >
            <a class="nav" routerLink="/{{sport.title}}" routerLinkActive="active" (click)="closeDropdownByClick($event)" >
              {{sport.title}}
            </a>
          </li>
        </ul>
      </ng-container>
   </ng-container>
</div>
  
</div>