 
 .close {
    float: right; 
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: hsl(0, 0%, 100%, 0.5);
 }
 .sidenav{
    /* margin-top: 3.5%; */
    width: 18%;
    height: auto;
    border: 1px solid #dddddd;
    position: fixed !important;
}
    .data, .home1{
        width: 100%;
        padding: 5% 0% 5% 0%;
        font-size: 1em;
        font-family: 'Roboto',sans-serif;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        cursor: pointer;
    }

    .sidenav>a>img{
        /* margin-left: 12%; */
        margin: 5% 0% 2% 12%;
    }
    .data>a{
        margin-top: 3%;
        margin-left: 20%;
        height: 20px;
        color: grey;
        filter: rgb(211, 211, 211); 
        -webkit-filter: grayscale(1);
    }
    
    .data>a:hover{
        color: #024770;
    }
    .homeicon{
        margin-left: 15%;
    }
.selected{
    background-color: rgb(204,218,227);
    filter: none; /* IE5+ */
    -webkit-filter: grayscale(0);
  }
  .selected>a{
      color: #024770;
      font-weight: bolder;
      filter: none;
    -webkit-filter: grayscale(0);
  }
  .msidenav{
      display: none;
      margin-top: 10%;
  }
  .msidenav button {
      background-color: #024771;
      color: white;
      border: none;
      border-radius: 3px;
      padding: 8px;
      box-shadow: 2px 2px 2px 2px rgb(228, 225, 225);
  }
  .msidenav img{
      width: 11px;
      height: 11px;
  }
  .modal{
      margin-left: 15%;
      text-align: center;
      position: fixed;
      display: none;
      z-index: 15;
      width: 60%;
      border-radius: 5px;
      box-shadow: 2px 2px 4px #bbbbbb;
      background: rgba(58, 58, 58, 0.7) /* Blue background with 30% opacity */
    }
    .modal a{
        text-decoration: none;
        color: white;
        font-size: 1.7em;
    }
    .modal img{
        padding: 20px;
        width: 40px;
        height: 40px;
    }
    .modal div{
        padding: 20px;
    }
  @media screen and (min-width: 600px) and (max-width: 950px){
      .sidenav{
          display:none;
      }
      .msidenav{
          display: block;
      }
  }
  @media screen and (min-width: 200px) and (max-width: 600px){
    .modal {
        width: 70%;
    }
    .sidenav{
        display:none;
    }
    .msidenav{
        display: block;
    }
    .modal div{
        padding: 10px;
    }
    .modal a{
        font-size: 1em;
    }
    .modal img {
        padding: 10px;
        width: 30px;
        height: 30px;
    }
}