<!-- <sports-social-header></sports-social-header> -->
<div class="dv">
<p>Get Answer for the most common question and learn to use "Sports Social" like Champ.</p>

<div class="content">
  <div class="sidenav">
      <ul class="side-nav" *ngIf="windowNavbar">
          <!-- <li routerLinkActive="active"><a routerLink="/Helpcenter/">Home</a></li> -->
          <li routerLinkActive="active" *ngFor="let data of topics" >
            <a routerLink="/Helpcenter/{{data.name}}">
            <div (click)="SubtopicsIconChange(data.id)">
              <img src="{{data.icon}}">
              <div class="topicdata"><p>{{data.name}}</p>
              <img class="arrow" src="/assets/images/sportsocialarrow.png" alt="">
              </div>
            </div>
          </a>
          </li>
        </ul>
    </div>
  <div class="problems" #problems>
      <div class="subtopicdata" *ngFor="let data of subtopics" #problem>
          <a (click)="getSeo(data.id)" 
           (click)="getdata(data.topic_id, data.name, data.id)">
            <img src="{{data.icon}}" class="img-responsive">
            <br>
            <p>{{data.name}}</p>
          </a>
        </div>
        <br>
  </div>
  
</div> 
<div class="banner3"> 
  <br>
    <p>Start your journey with sports social <br><br>
        <a href="https://goo.gl/qrgCz5" target="_blank"><button>Get Started</button></a>
    </p>
</div>
</div>



<div class="mv">
 <p style="font-size: 15px;">Get Answer for the most common question and learn to use "Sports Social" like Champ.</p>
 <h1 
 (click)="showw()" class="dropbtn">Menu <span>+</span>
</h1>

  <div class="modal">
    <div class="modal-content"> 
      <div class="modal-header" style="display: inline-flex;" (click)="home(); close();">
        <h1>Home</h1>
        <img (click)="close();" style="margin-right: 2%;height: 18px;width:18px;z-index: 1;" src="/assets/images/sportsocialcross.png">
      </div>  
      <a *ngFor="let data of topics" routerLink="/Helpcenter/{{data.name}}"
      routerLinkActive="active"> 
      <div (click)="SubtopicsIconChange(data.id); close();">
         {{data.name}} 
    </div></a>  
         <!-- <br><br> -->
  
  </div>
  </div> 

     
  <br><br>
        <div class="problemss" #problems>
            <div class="subtopicdataa" *ngFor="let data of subtopics" #problem>
                <a
                 (click)="getSeo(data.id)" 
                 (click)="getdata(data.topic_id, data.name, data.id)">
                  <img src="{{data.icon}}" class="img-responsive">
                  <p>{{data.name}}</p>
                </a>
              </div>
              <br><br>
        </div>
        
      <br><br><br>
      <div class="banner33"> 
        <br>
          <p>Start your journey with sports social <br><br>
              <a href="https://goo.gl/qrgCz5" target="_blank"><button>Get Started</button></a>
          </p>
      </div>
</div>
<router-outlet></router-outlet>