*{
    font-family: 'Roboto',sans-serif;
    width: 100%;
    height: 100%;
}
p{
    font-size: 1.3em;
    font-weight: 300;
    width: auto;
    margin:3% auto;
    color:black;
    text-align: center;
}
/* problems tab */
.problems {
    border-radius: 5px;
    float: right;
    width: 70%;
    margin-right: 7%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
}
.content{
    display: inline-flex;
    padding-bottom: 5%;
}
.content>div{
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    margin-left: 0px;
}
.content>.side-nav{
    display: inline-block;
}

.content> .side-nav::-webkit-scrollbar {
    width: 3px; 
    }
    
.sidenav {
    align-content: center;
    float: left;
    width: 30%;
    padding-left: 7%;
}
.side-nav{
   border-radius: 5px;
   padding: 0px;
   width: 90%;
   list-style-type: none;
   display: inline-block;
   overflow-x: hidden;
   overflow-y: hidden;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
}

.side-nav li{
    height: 20px;
    padding: 5% 1.5% 5% 1.5%;
}

.side-nav li:hover {
    background-color: silver;
    cursor: pointer;
}
.side-nav li.active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(179, 175, 175);
}

.side-nav li>a>div>img{
    margin-left: 0%;
    padding-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    
}
.side-nav li>a >div{
    margin-left: 2%;
    width: 90%;
    color: black;
    font-size: 1em;
    font-weight: 300;
    border: none;
    text-align: left;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.side-nav li>a .topicdata{
    display: inline-flex;
    width: 70%;
    vertical-align: top;
}
.side-nav li>a .topicdata>p{
    text-align: left;
    text-align-last: left;
    font-size: 1em;
    margin-left: 19%;
    font-style: bold;
}

/*====Subtoipcs=======*/
.subtopicdata{
  text-align: center;
    display: inline-block;
    width:70px;
    height: 70px;
    padding:2%;
    padding-bottom: 8%;
    margin: 4% 0% 0% 8%;
    vertical-align: top;
    border-radius: 5px;
    /* border: 1px solid black; */

}
.subtopicdata:hover img {
  text-align: center;
  border-radius: 5px;
  transform: scale(1.05);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url('/assets/images/sportsocialteamheader.jpg');
}

.subtopicdata:hover {
    color: white;
    cursor: pointer;
}

/*subtopics end*/


    .banner3 {
        height: 150px;
        width:100%;
        background-color: rgb(219, 235, 241);
        margin-bottom: 0%;
        padding-bottom: 0%;
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .banner3 button {
          border-radius: 5px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    }
      .banner3>p{
        width:90%;
        color: black;
        display: inline-block;
        margin-left: 4%;
        margin-top: 1%;
        font-weight: bolder;
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
        text-align-last: center;
      }
      .banner3>p>a>button{
        width: 15%;
        height: 20%;
        background: transparent;
        border: 1px solid blueviolet;
        font-weight: bolder;
        font-size: .9em;
        cursor: pointer;
      }


    
      /* The Modal (background) */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.dropbtn:hover {
  cursor: pointer;
}
.modal-content {
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: rgb(77, 76, 76);
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /* padding: 20px; */
  border: 1px solid rgb(56, 54, 54);
  width: 85%;
  height: 70%;
}
.modal-content div {
  display: inline-block; 
}
.modal-content h1, a {
  margin-left:10%;
}
.modal-header {
  border-bottom: 1px solid silver;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
}

.modal-content div{
  color: rgb(116, 113, 113);
  font-size: 20px;
  height: 40px;
  padding: 5% 1.5% 5% 1.5%;
}
.modal-content a.active div{
  color: black;
}


/* The Close Button */
.dropbtn {
  width: 100%;
  color: white;
  background-image: url('/assets/images/sportsocialteamviewheader.jpg');
  font-weight: lighter;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}
.dropbtn img{
  float: right;
  padding: 3px;
  height: 30px;
  width: 30px;
  border-radius: 50%; 
  background-color: white;
}



      .problemss {
          display: flex;
          flex-wrap: wrap;
          padding-top: 30px;
          align-self: center;
          text-align: center;
      }
      .subtopicdataa {
        text-align: center;
        display: inline-flex;
        flex-grow: 1;
        margin:10px 0 0 10px;
        border-radius: 5px;
        width: calc(100% *(1/2) - 10px - 1px);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
      }
      .subtopicdataa img {
          align-self: center;
          height:50px;
          width:50px;
      }

      .banner33 {
        height: 150px;
        width:100%;
        background-color: rgb(219, 235, 241);
        margin-bottom: 0%;
        padding-bottom: 0%;
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .banner33 button {
          border-radius: 5px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    }
      .banner33>p{
        width:90%;
        color: black;
        display: inline-block;
        margin-left: 4%;
        margin-top: 1%;
        font-weight: bolder;
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
        text-align-last: center;
      }
      .banner33>p>a>button{
        width: 70%;
        height: 20%;
        background: transparent;
        border: 1px solid blueviolet;
        font-weight: bolder;
        font-size: .9em;
        cursor: pointer;
      }
   .arrow {
     padding-top:5%;
     height: 8px;
     width: 8px;
   }
   .modal-content::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;
  }
  @media screen and (min-width: 200px) and (max-width: 700px){
    .dv {
      display: none;
    }
  }

  @media screen and (min-width: 700px) {
    .mv {
      display: none;
    }
  }