<sports-social-header></sports-social-header>

<div class="appbody">
    <div class="banner">
        <h1>See What's Going Around in Sports</h1>
        <p>Explore the Social side of Sports on Sports Social.
            Chase Your passion to play, connect your fellow playmates,follow sports enthusiasts, 
            Cheer for matches, create beautiful moments and stay connected to your sports family.<br>
            <a href="https://goo.gl/qrgCz5" target="_blank"><button>Start Your Journey</button></a>
        </p>
            
        <div class="bannerimg"><img src="assets/images/Banner1.jpg"></div>
    </div>
    <div class="midData">
            <h2>Play anywhere, Compete Anyone: Meet the new Sports Social app</h2>
            <h3>An experience designed to highlight what matters most to a sports lover.</h3>
    </div>
<div class="body">
    <div class="div1">
        <div class="right1">
            <img src="assets/images/IMAGE1-01-min.jpg">
        </div>
    </div>

 
    <div class="div2">
        <div class="left1">
                <img src="assets/images/IMAGE2-01-min.jpg">
        </div>
    </div>

    <div class="div3">
        <div class="right2">
                <img src="assets/images/IMAGE3-01-min.jpg">
        </div>
    </div>
    
    <div class="div4">
        <div class="left2">
                <img src="assets/images/IMAGE4-01-min.jpg">
        </div>
    </div>

  <div class="footer"> 
     <div class="leftside">
        <a href="https://goo.gl/qrgCz5" target="_blank">
            <div class="img1">
                <img src="assets/images/playstore-icon-min.png">
            </div>
             <img src="assets/images/google-play-badge.png">
             <h3>Download app from google play store</h3>
        </a>
        <p>The Sports Social app is currently available on android to 
            make it easier to play around your favorite sport, 
            keeps you engaged with the sports world.</p>
     </div>
         <div class="tabletImage">
             <img src="assets/images/samsung-tabs3_front-pen_silver_wifi-min.png">
        </div>
    </div>
 </div>
</div>
<sports-social-footer></sports-social-footer> 