<sports-social-header></sports-social-header>

<div class="appbody">
    <div class="banner">
        <div class="head">
            <h1>See What's Going Around in Sports</h1>
            <p>Explore the Social side of Sports on Sports Social.
            Chase your passion to play, connect your fellow playmates, follow sports enthusiasts, 
            cheer for matches, create beautiful moments and stay connected to your sports family.
             </p>
    </div>
        <div class="bannerimg"><img src="assets/images/Banner123_1_optimized_7.jpg"></div>
    </div>
    <div class="midData">
            <h2>Play anywhere, Compete Anyone <br>Checkout our new Sports Social app</h2>
            <h3>An experience designed to highlight what matters<br> most to a sports lover.</h3>
            <a href="https://goo.gl/qrgCz5" target="_blank">Start Your Journey</a>
    </div>
    <div class="back-body">
            <div class="back-body-image-one">
                <img src="/assets/images/1.Arena compress1.jpg" alt="">
                <!-- <h2>Hii sport social</h2> -->
            </div>
        </div>  
<div class="body">
        <div class="back-body">
            <div class="back-body-image-two"> 
                <img src="/assets/images/2.Arena.jpg" alt="">
            </div>
        </div>
        <div class="back-body">
            <div class="back-body-image-three">
                <img src="/assets/images/3.Arena.jpg" alt="">
            </div>
        </div>
        <div class="back-body">
            <div class="back-body-image-four">
                <img src="/assets/images/4.Arena.jpg" alt="">
            </div>
        </div>
    <div class="div1">
    <div class="right1">
        <img src="assets/images/IMAGE11-01-min.jpg">
        <div class="side-text">
            <h1>Add Your Sports Interest</h1>
            <p>After installing the app, Opening it you will see this interface
                in this case if it's cricket - input your batting, bowling preferences
                and other relevant information.
            </p>
        </div>
        <img src="assets/images/IMAGE12-01-min.jpg">
        <div class="side-text">
            <h1>Stand Out With Your Profile</h1>
            <p>This is how you are visible to your friends and your audiences.
                Your match logs and the media such as match related pictures and videos
                will be shown in this tab.
            </p>
        </div>
        <img src="assets/images/IMAGE13-01-min.jpg">
        <div class="side-text">
            <h1>Connect With Players</h1>
            <p>Make new friends, connect with existing team mates.
                Follow the popular players and know the playing status of players.
            </p>
        </div>
    </div>
    </div>

 
    <div class="div2">
        <div class="left1">
                <img src="assets/images/IMAGE21-01-min.jpg">
                <div class="side-text">
                    <h1>Play A Match</h1>
                    <p>Click on the create new match button, select a sport.
                        Let's say football, choose your playground in any locality and schedule
                        your match.
                    </p>
                </div>
                <img src="assets/images/IMAGE22-01-min.jpg">
                <div class="side-text">
                    <h1>Invite Players For The Match</h1>
                    <p>Invite your playmates, add them individually from a list or search them in
                        our search tab.
                    </p>
                </div>
                <img src="assets/images/IMAGE23-01-min.jpg">
                <div class="side-text">
                    <h1>Get Set Go</h1>
                    <p>Your are all set, you have created a match.
                        All details are available here along with the match related media that's
                        uploaded.<br>
                        So Cool And Simple!
                    </p>
                </div>
        </div>
    </div>

    <div class="div3">
        <div class="right2">
                <img src="assets/images/IMAGE31-01-min.jpg">
                <div class="side-text">
                    <h1>Create Your Locality</h1>
                    <p>Tag your locality with required inputs such as
                        name, address, facilities, contact details etc.
                    </p>
                </div>
                <img src="assets/images/IMAGE32-01-min.jpg">
                <div class="side-text">
                    <h1>Your Locality Your Interest</h1>
                    <p>Explore various localities in and around your area.
                        Select the locality that plays your favourite sport.
                    </p>
                </div>
                <img src="assets/images/IMAGE33-01-min.jpg">
                <div class="side-text">
                    <h1>Use "Play" Button To Organise Matches</h1>
                    <p>You can create a new match under different age catogeries with suitable teammates.
                        Schedule options are available with an option to choose your venue.
                    </p>
                </div>
        </div>
    </div>
    
    <div class="div4">
        <div class="left2">
                <img src="assets/images/IMAGE41-01-min.jpg">
                <div class="side-text">
                    <h1>Female Friendly Options</h1>
                    <p>Women can create matches with women players.
                        This app was made considering everyone.
                        No more hiccups, start playing girl.
                        Show the girl power!
                    </p>
                </div>
                <img src="assets/images/IMAGE42-01-min.jpg">
                <div class="side-text">
                    <h1>Play Together On Fields, Team Up Online</h1>
                    <p>As a player your team is your victory mantra.
                        Form winning terms, earn loyal fanbase. Post your sport moments.
                        Your team defines your destiny, Nurture it well with top matches.
                    </p>
                </div>
                <img src="assets/images/IMAGE43-01-min.jpg">
                <div class="side-text">
                    <h1>Find/Search Recomended Matches Near You</h1>
                    <p>Never miss your favourite matches. We will keep you informed
                        , your fans will be updated about your latest participation.
                        Keep playing, keep practising. We track your Talent.
                    </p>
                </div>
        </div>
    </div>

  <div class="footer"> 
     <div class="leftside">
        <a href="https://goo.gl/qrgCz5" target="_blank">
            <div class="img1">
                <img src="assets/images/playstore-icon-min.png">
            </div>
             <img src="assets/images/google-play-badge.png">
             <h3>Download app from google play store</h3>
        </a>
        <p>The Sports Social app is currently available on android to 
            make it easier to play around your favorite sport, 
            keeps you engaged with the sports world.</p>
     </div>
         <div class="tabletImage">
             <img src="assets/images/samsung-tabs3_front-pen_silver_wifi-min.png">
        </div>
    </div>
    
 </div>
 <div class="bottom"><sports-social-backfooter></sports-social-backfooter></div>
</div>
