body{
    margin-top: 2.8%;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
/* Banner */
.banner{
    position: relative; 
    overflow-x:hidden; 
    width:100%;
    height: 810px;
    padding-top: 3%;
}
.banner>img{
    width:100%;
    height: 450px;
    padding-bottom: 400px;  
    
}
.banner>h1{
        color: white;
        position: absolute; 
        top: 200px; 
        left: 28%; 
        width: 100%; 
        font-size: 3.8em;
        /* mix-blend-mode: difference; */
}
.banner>h2{
    display: inline-flex;
    color: red;
    position: absolute; 
    text-align: center;
    top: 550px; 
    vertical-align: middle;
    left:40%;
    width: auto; 
    font-size: 2em;
    font-family: sans-serif; 
}
.banner>h3{
    display: inline-flex;
    color: red;
    position: absolute; 
    text-align: center;
    top: 630px; 
    vertical-align: middle;
    left:25%;
    width: auto; 
    font-weight: 400;
    font-size: 1.5em;
    font-family: Jazz LET, fantasy; 
}
/* banner end */
.banner>p{
    color: white;
    position: absolute; 
    text-align: center;
    top: 380px; 
    vertical-align: middle;
    left:20%;
    width: auto; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    /* mix-blend-mode: difference; */
}
.div1{
    background-image: url('/assets/images/1.Arena compress1.jpg');
    height: 1744px;
    background-size: 1000px 700px;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
}

.right1{
    width:550px;
    height:1700px;
    position: relative;
    float: right;
}
.right1>img{
    width: 100%;
    height: 1745px;
}

.div2{
    background-image: url('/assets/images/2.Arena.jpg');
    height: 1744px;
    background-size: 940px 700px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}
.left1{
    width:550px;
    height:1744px;
    float: left;
    clear: right;
}
.left1>img{
    width: 100%;
    height: 1744px;
    position: relative;
}

.div3{
    background-image: url('/assets/images/3.Arena.jpg');
    height: 1744px;
    background-size: 1000px 700px;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
}

.right2{
    width:550px;
    height:1700px;
    position: relative;
    float: right;
}
.right2>img{
    width: 100%;
    height: 1745px;
}

.div4{
    background-image: url('/assets/images/4.Arena.jpg');
    height: 1744px;
    background-size: 940px 700px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}
.left2{
    width:35%;
    height:1744px;
    float: left;
    clear: right;
}
.left2>img{
    width: 100%;
    height: 1744px;
    position: relative;
}

.footer{
    height:400px;
    width: 500px;
    display: flex; 
    justify-content: center;
}
.footer>a>img,h3{
    height:150px;
    width: 350px;
    text-align: center;
}

@media screen and (max-width:360px){
    .appbody{
        overflow-x: hidden;
    }
   
.banner{
    width:500px;
    height:400px;
}
.banner>img{
    padding-top: 9.8%;
    width:420px;
    height: 200px;
}
.banner>h1{
    text-align: center;
    font-family: Optima, sans-serif;
    width:85%;
    font-size: 2.4em;
    margin-left: -34%;
    margin-top: -25%;
    text-align-last: center;
}
.banner>p{
    text-align: center;
    text-align-last: center;
    width:75%;
    margin-top: -38%;
    margin-left: -21%;
    font-size: 1em;
    line-height: 1;
}
.banner>h2{
    font-size: 1.5em;
    width:70%;
    margin-top: -50%;
    margin-left: -31%;
    text-align: center;
}
.banner>h3{
    font-size: 0.9em;
    width:65%;
    margin-left: -20%;
    margin-top: -55%;
    color:purple;
    text-align: left;
    text-align-last: center;
}
.div1{
    background-image: none;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
}

.right1{
    width:370px;
    height:1300px;
    position: relative;
    text-align: center;
    margin-right: 3%;
    /* float: right; */
}
.right1>img{
    margin-left: 5%;
    width: 100%;
    height: 1300px;
}
.div2{
    background-image: none;
}
.left1{
    width:370px;
    height:1300px;
    float: left;
    clear: right;
    
}
.left1>img{
    width: 100%;
    height: 1300px;
    position: relative;
    margin-right: 5%;
}
.div3{
    background-image: none;
}

.right2{
    width:370px;
    height:1300px;
    position: relative;
}
.right2>img{
    width: 100%;
    height: 1300px;
    margin-left: 3%;
    margin-right: 5%;
}

.div4{
    background-image: none;
}
.left2{
    width:370px;
    height:1300px;
    clear: right;
}
.left2>img{
    width: 100%;
    height: 1300px;
    position: relative;
}
.footer{
    height:300px;
    width: 400px;
    display: flex; 
    justify-content: center;
}
.footer>a>img,h3{
    height:150px;
    width: 350px;
    text-align: center;
}

}

@media (max-width:768px) and (min-width:700px){
    .banner>h1{
        /* position: absolute;  */
        top: 200px; 
        left: 12%; 
        width: 100%; 
        font-size: 3.4em;
}
.banner>p{
    color: white;
    position: absolute; 
    text-align: center;
    top: 350px; 
    vertical-align: middle;
    left:5%;
    width: auto; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
}
.banner>h2{
    display: inline-flex;
    position: absolute; 
    text-align: center;
    top: 550px; 
    vertical-align: middle;
    left:30%;
    width: auto; 
    font-size: 2em;
}
.banner>h3{
    display: inline-flex;
    position: absolute; 
    text-align: center;
    vertical-align: middle;
    left:3%;
    width: auto; 
    
}
.div1{
    background-image: url('/assets/images/1.Arena compress1.jpg');
    height: 1500px;
    background-size: 570px 870px;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
}

.right1{
    width:350px;
    height:1500px;
    position: relative;
    float: right;
}
.right1>img{
    width: 100%;
    height: 1500px;
}

.div2{
    background-image: url('/assets/images/2.Arena.jpg');
    height: 1700px;
    background-size: 500px 900px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}
.left1{
    width:300px;
    height:1700px;
    float: left;
    clear: right;
}
.left1>img{
    width: 100%;
    height: 1700px;
    
}
.div3{
    background-image: url('/assets/images/3.Arena.jpg');
    height: 1700px;
    background-size: 550px 900px;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
}

.right2{
    width:300px;
    height:1700px;
    position: relative;
    float: right;
}
.right2>img{
    width: 100%;
    height: 1700px;
}

.div4{
    background-image: url('/assets/images/4.Arena.jpg');
    height: 1500px;
    background-size: 500px 900px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}
.left2{
    width:300px;
    height:1744px;
    float: left;
    clear: right;
}
.left2>img{
    width: 100%;
    height: 1500px;
}
}
