.side-nav{
    width: 25%;
    margin-top: 3.5%;
}
.main-body{
    overflow: hidden;
}
.newsbody{  
    float: right;
    padding: 20px;
    margin-right: 5%;
    width: 74%;
}
.news-header{
    padding-bottom: 5px;
    overflow: hidden;
    border-bottom: 2px solid rgb(216, 216, 216);
}
.news-header h1,h2{
    padding-top: 30px;
}

.news-header h2{
    color: rgb(126, 126, 126);
}
.news-header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 3px #585858;
    font-size: 2.3em;
}
.timestamp{
    float: left;
}
.share{
    width: 35%;
    float: right;
}

.share .fb{
    background-size: 100% 100%; 
    background-image: url('/assets/images/sportsocialnewsfacebook.png');
}
.share .rss{
    background-size: 100% 100%; 
    background-image: url('/assets/images/sportsocialnewsrss.png');
}
.share .rss:hover{
    cursor: pointer;
    background-size: 100% 100%; 
    background-image: url('/assets/images/sssrss.png');
}
.share .insta{
    background-size: 100% 100%; 
    background-image: url('/assets/images/sportsocialnewsinstagram.png');
}
.share .insta:hover{
    cursor: pointer;
    background-size: 100% 100%; 
    background-image: url('/assets/images/sssinstagram.png');
}
.share .linkedin{
    background-size: 100% 100%; 
    background-image: url('/assets/images/sportsocialnewslinkedin.png');
}
.share .linkedin:hover{
    cursor: pointer;
    background-size: 100% 100%; 
    background-image: url('/assets/images/ssslinkedin.png');
}
.share .twitter{
    background-size: 100% 100%; 
    background-image: url('/assets/images/sportsocialnewstwitter.png');
}
.share .twitter:hover{
    cursor: pointer;
    background-size: 100% 100%; 
    background-image: url('/assets/images/ssstwitter.png');
}
.share div{
    float: left;
    margin-left: 11%;
    height: 23px;
    width: 23px;
}
.share .fb:hover{
    background-image: url('/assets/images/sssfacebook.png');
    cursor: pointer;
    /* transform: scale(1.1); */
}
.timestamp,.share{
    font-size: 1.3em;
}
.news{
    box-shadow: 2px 2px rgb(216, 216, 216);
    float: left;
    width: 65%;
}
.nbody{
    margin-top: 2%;
}
.news img {
    border-radius: 10px;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}
.top-stories{
    width: 35%;
    float: right;
}
.top-stories h1{
    text-align: center;
    font-weight: lighter;
}
.top-stories div{
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
}
.top-stories h2{
    font-size: 1.2em;
}
.top-stories p{
    padding-top: 5px;
    font-size: 0.9em;
}

.main-news img{
    margin-bottom: 30px;
    width: 95%;
    height: 350px;
}
.main-news h1{
    margin-right: 25px;
    margin-bottom: 30px;
    font-size: 1.2em;
}

.main-news h3{
    color: black;
    /* font-weight: lighter; */
    font-size: 1.8em;
    text-align: center;
}
.main-news h3:hover{
    cursor: pointer;
}
.more-news{
    margin-top: 5%;
}
.mnews{
    margin-right: 1%;
    margin-bottom: 2%;
    height: 170px;
}
.mnews img{
    width: 40%;
    height: 90%;
    margin-top: 1.2%;
    margin-left: 1.2%;
    margin-bottom: 1%;
    float: left;
}
.mnews h1{
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 1.2em;
}
.mnews p{
    font-size: 0.9em;
}
.mnews div{
    float: right;
    width: 50%;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
}
.top-stories div h2:hover{
    color: #024771;
    cursor: pointer;
}
.mnews:hover{
     border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.mnews:hover h1{
    color: #024771;
}
.top-stories div:hover h1{
    color: #024771;
}

/* mobile view */
.mobile-main{
    margin-top: 5%;
}
.newscard{
    text-align: center;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 2px solid silver;
}
.newscard img{
    border:1px solid silver;
    border-radius: 5px; 
    height: 150px;
    width: 70%;
}
.newscard h1{
    padding: 10px;
}
.newscard p{
    padding: 20px;  
}
.newscard a{
    color: black;
}
.morecard{
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 2px 2px rgb(233, 232, 232), 3px 3px rgb(240, 240, 240);
}
.morecard img{
    border:1px solid silver;
    float: left;

    border-radius: 5px; 
    height: 100px;
    width: 40%;
}
.morecard h1{
    padding: 10px;
    font-size: 1em;
    font-weight: lighter;
    width: 45%;
    float: right;
}
.tnews{
    margin-left: 5%;
    width: 85%;
    /* float: left; */
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: scroll;
    white-space: nowrap !important;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
    display: inline-block;
}
.tnews::-webkit-scrollbar {
    display: none;
}
.newscard button{
    font-size: 0.8em;
    border: none;
    background-color: #024771;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.heading{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    font-weight: lighter;   
}
.head{
    font-weight: bold;
    font-size: 1.5em;
}
.para{
    font-size: 1em;
}
.tnewscard{
    display: inline-block;
    scroll-snap-align: start;
    border-radius: 5px;
    width: 93%;
    height: 120px;
    margin-left: 5%;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.tnewscard textarea{
    width: 55%;
    background-color: white;
    border: none;
    padding: 4px;
    float: right;
    overflow: hidden;
}
.tnewscard img{
    float: left;
    width: 35%;
    height: 100px;
    border-radius: 5px;
    margin: 3.5% 2% 2% 2%;
}
.heading p{
    float: right;
    margin-top: 1%;
    font-size: 0.5em;
}
.tnewscard h1{
    padding: 10px;
    font-size: 1em;
    font-weight: lighter;
    width: 45%;
}
@media screen and (min-width: 200px) and (max-width: 1000px){
    .main-body{
        display: none;
    }
    .mobile-main{
        display: block;
    }
    .share{
        margin-bottom: 3%;
        clear: both;
        width: 100%;
    }
}
@media screen and (min-width: 1100px) and (max-width: 2000px){
    .main-body{
        display: block;
    }
    .mobile-main{
        display: none;
    }
}


