<div class="About-body">
    <div class="temporary-side-shell"> 
        <div class="temp-basic-info">
          <h1>Basic Info</h1>
          <div class="temp-basic-info-tab">
            <div>
              <img style="width: 40px;" src="/assets/images/sportsocialcaptain.png" alt="">
            </div>
            <h2>{{captain}}</h2>
          </div>
          <div class="temp-basic-info-tab">
              <div>
                <img src="/assets/images/sportsocialPartnerships.png" alt="">
              </div>
              <h2>{{mantra|slice:0:25}}...</h2>
              <p>{{mantra}}</p>
            </div>
            <div class="temp-basic-info-tab">
                <div>
                  <img src="/assets/images/sportsocialopenforall.png" alt="">
                </div>
                <h2>{{teamstatus}}</h2>
              </div>
              <div class="temp-basic-info-tab">
                  <div>
                    <img src="/assets/images/sportsocialagegroup.png" alt="">
                  </div>
                  <h2>{{teamtypestatus}}</h2>
                </div>
  
              <div class="temp-basic-info-tab">
                 <div>
                   <img src="/assets/images/sportsocialmale.png" alt="">
                  </div>
                  <h2>{{gender}}{{gamename}}</h2>
              </div>
              <div class="temp-basic-info-tab">
                  <div>
                    <img src="/assets/images/sportsocialteamprofilelocation.png" alt="">
                   </div>
                   <h2>{{location}}</h2>
               </div>
               <div class="temp-basic-info-tab">
                  <div>
                    <img src="/assets/images/sportsocialteamprofilelocation.png" alt="">
                   </div>
                   <h2>{{challenge}}</h2>
               </div>
  
               <!-- <div class="temp-basic-info-tab">
                <div>
                  <img src="/assets/images/sportsocialteamprofilelocation.png" alt="">
                 </div>
                 <h2>{{challenge}}</h2>
             </div> -->
        </div>
        <div class="media">
            <div class="head">
            <h4>Media</h4>
            <a (click)="opencrousal()"><p>See all</p></a>
          </div>
           <div class="mediabox" *ngFor="let icon of media">
             <img (click)="imageopen(icon.url);" src={{icon.url}}>
          </div>
        </div>
  
  </div>
  <div class="description">
    <h1>Description</h1>
    <p *ngIf="description==false">No Description Yet!</p>
    <p *ngIf="description!=false">{{description}}</p>
  </div>
  <div class="members">
    <h1>Members</h1>
    <div class="member-tab">
      <div class="members-tab-component" *ngFor="let data of members" >
        <img src="{{data.profilepic}}" alt="">
        <p>{{data.firstname}}<span *ngIf="data.captain">( C )</span></p>
      </div>
    </div>
  </div>
  <div class="upcoming-matches">
    <h1>Upcoming Matches</h1>
    <div class="upcoming-block">
      <div class="upcoming-cards" *ngFor="let feed of Matcharr">
        <sports-social-ss-match-card
                  [coverpic]="feed.coverpic"
                  [matchstartername]="feed.MatchStarterName"
                  [userName]="feed.userName"
                  [gamename]="feed.gamename"
                  [startdatetime]="feed.startdatetime"
                  [team1pic]="feed.Team1Pic"
                  [team2pic]="feed.Team2Pic"
                  [InsertedDate]="feed.InsertedDate"
                  [Uniquename]="feed.Uniquename"
                  [EventText]="feed.EventText"
                  [city]="feed.city"
                  [age]="feed.age"
                  [starttimestamp]="feed.starttimestamp"
                  [scoreTeam1]="feed.scoreTeam1"
                  [scoreTeam2]="feed.scoreTeam2"
                  [finished]="feed.finished"
                  [upcoming]="feed.upcoming"
                  [gender]="feed.gender"
                  [Venue_Name]="feed.Venue_Name"
                  [MatchStarterUniqueName]="feed.MatchStarterUniqueName"
                  [Team1Name]="feed.Team1Name"
                  [Team2Name]="feed.Team2Name"
                  [JoineeCount]="feed.JoineeCount"
                  [WatchCount]="feed.WatchCount"
                  [PromoteCount]="feed.PromoteCount"
                  [CommentCount]="feed.CommentCount"
                  ></sports-social-ss-match-card>
    
                </div>
            </div>
  </div>
  <!-- <div class="stats">
    <div class="win"></div>
    <div class="chart">
      <div class="pie-chart">
        <div class="pie-chart-inner"></div>
      </div>
    </div>
    <div class="draw"></div>
  </div> -->
  
</div>
<div class="backfooter">
  <sports-social-backfooter></sports-social-backfooter>
</div>