*::-webkit-scrollbar{
    display: none;
}
.About-body{
    background-color: white;
    height: auto;
    min-height: 700px;
    width: 75%;
    margin-left: 25%;
}
.About-body>div{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.About-body>div>h1{
    color: #222222;
    margin-bottom: 20px;
    font-size: 1.4em;
    letter-spacing: 0.6px;
}
.temporary-side-shell{
    display: none;
}
.temp-basic-info>h1{
    color: #222222;
    font-size: 1.4em;
}
.temp-basic-info-tab{
    height: 50px;
    margin-top: 10px;
    width: 100%;
}
.temp-basic-info-tab>div{
    float: left;
    width: 20%;
}
.temp-basic-info-tab>h2{
    float: right;
    width: 80%;
}
.temp-basic-info-tab>div>img{
    height:30px;
    width: 30px;
}
.description p{
    color: #888888;
}
.member-tab{
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100% !important;
    overflow-x: scroll;
    white-space: nowrap !important;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
    display: inline-block;
}
.members-tab-component{
    display: inline-block;
    text-align: center;
    width: 15%;
    /* height: 180px; */
}
.members-tab-component p{
    color: #888888;
}
.members img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    filter: rgb(194, 194, 194); /* IE5+ */
    -webkit-filter: grayscale(0.7);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;  
    cursor: pointer;
}

.members img:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    /* transform: scale(1.1); */
    /* margin-top: 5px; */
}

.pie-chart{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
}
.pie-chart-inner{
    position: relative;
    z-index: 1;
    height: 150px;
    width: 150px;
    margin-top: 25px;
    margin-left: 25px;
    background-color: white;
    border-radius: 50%;
}
.upcoming-block{
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100% !important;
    overflow-x: scroll;
    white-space: nowrap !important;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
    display: inline-block;
}
.upcoming-cards{
    vertical-align: top;
    /* border: 1px solid blue; */
    scroll-snap-align: start;
    width: 40%;
    margin-right: 3.2%;
    margin-top: 3%;
    display: inline-block;
}
.backfooter{
    width: 75%;
    float: right;
}
@media screen and (min-width: 200px) and (max-width: 700px){
    .About-body{
        margin-left: 0;
        width: 100%;
    }
    .About-body>div{
        width: 95%;
        margin-left: 2.5%;
    }
    .upcoming-cards{
        width: 96%;
        /* margin-left: 7%; */
    }
    .backfooter{
        clear: both;
        width: 100%;
    }
    .members{
        display: none;
    }
    .temporary-side-shell{
        display: block;
    }
}