
<sports-social-newheader></sports-social-newheader>
<div class="container">
  <img class="tvbg" src="assets/images/sportsocialteamviewbg.jpg">
  <div class="bottom-left"><a (click)="scrollToElement(target)"><img class="tvicon" src="assets/images/sportsocialtvicon.png"></a>
  </div>
  <div class="centered">
    <h1>Team</h1>
    <br>
    <p>Joining together is a beginning. Keeping together is a process. Playing together is a success.</p></div>
</div>
<div class="container2" #target>
    <br><br><br><br><br><br>
  <div class="content"><h1>Fan</h1></div>
  <div class="content-gif"><h1>fam</h1></div>
</div>

<div class="footer">
    <p>"Create Your Team, Build Your Legacy With Sports Social."</p><br> 
    <a href="https://play.google.com/store/apps/details?id=in.sportsocial.sportsocial&hl=en"><img src="assets/images/sportsocialgoogleplay.jpg"></a>
</div>

<sports-social-backfooter></sports-social-backfooter>