.home-body{
    overflow: hidden;
    width: 84%;
    margin-left: 16%;
    margin-bottom: 3%;
    border-bottom: 2px solid silver;
}
.outer-body{
    margin-top: 70px;
    margin-left: 5%;
    width: 90%;
    height: 60vh;
    border: none;
    border-top: 2px solid black;
}
.outer-body>legend{
    font-size: 1.5em;
    letter-spacing: 1px;
}
.back-footer{
    float: right;
    width: 84%;
}
.dnews{
    width: 90%;
    margin-left: 5%;
    background-color: red;
}
.dnews div{
    margin-top: 1.2%;
    width: 33%;
    float: left;
}
.dnews div img{
    padding: 10px;
    width: 95%;
    height: 180px;
}
.dnews div h1{
    padding-left: 10px;
    width: 95%;
    height: auto;
    letter-spacing: 1px;
    font-size: 1em;
    margin-bottom: 40px;
}


.crousal-side-bar{
    margin-top:2%;
    height: 55vh;
    width: 47%;
    float: right;
}
.crousal-side-bar h1{
    font-size: 1.4em;
    /* padding-left: 10px; */
}
.side-bar-component{
    margin-top: 10px;
    height: 90px;
}
.side-bar-component img{
    height: 80px;
    width: 120px;
    float: left;
}
.side-bar-component h1{
    float: left;
    /* width: 70%; */
    margin-left: 5%;
    font-weight: 500;
}
.side-bar-component p{
    color: #444444;
    padding-top: 60px;
    padding-left: 30%;
    /* margin-top: 60px; */
}
.side-bar-component p span{
    /* margin-left: 5%; */
    float: right;
}
.crousal{
    margin-top:2%;
    position: relative;
    text-align: center;
    /* float: left; */
    width: 50%;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-left: 12.5%; */
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: scroll;
    white-space: nowrap !important;
    display: inline-block;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
}
.crousal::-webkit-scrollbar {
    display: none;
}
.crousal-element{
    position: relative;
    scroll-snap-align: start;
    width: 100%;
    height: 50vh;
    display: inline-block;
}
.crousal-element img{
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.crousal-heading{
    text-align: left;
    color: white;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    top: 90%;
    left: 50%;
    width: 100%;
    height: 29%;
    transform: translate(-50%, -50%);
    
}
.crousal-heading h1{
    font-size: 1.6em;
    padding: 15px;
    letter-spacing: 1px;
}
.crousal-heading p{
    font-size: 1.3em;
    letter-spacing: 1px;
    padding-left: 15px;
}
.side-nav{
    width: 25%;
    margin-top: 3.5%;
}
.spinner{
    margin-top: 250px;
    margin-right: 50%;
    float: right;
}
.source-desc{
    display: none;
}
.source-dnews{
    display: none;
}
.heading p{
    float: right;
    margin-top: 1%;
    font-weight: bold;
    font-size: 0.5em;
}
.tnewscard h1{
    padding: 10px;
    font-size: 1em;
    font-weight: lighter;
    width: 45%;
}
@media screen and (min-width: 200px) and (max-width: 700px){
    .main-body{
        display: none;
    }
    .mobile-main{
        display: block;
    }
    .back-footer{
        width: 100%;
    }
    .home-body{
        margin-left: 0%;
        width: 100%;
    }
    .crousal{
        margin-top: 40px;
        border: 2px solid white;
        width: 100%;
    }
    .crousal-element{
        height: 27vh;
   }
   .dnews{
       clear: both;
       width: 100%;
       margin-left: 0% !important;
   }
   .source-dnews{
       display: block;
       font-size: 0.8em;
       margin-top: 25px;
       float: left;
       padding-left: 10px;
       width: 55%;
   }
   .dnews div{
       width: 100%;
       clear: both; 
   }
   .dnews div img{
       width: 35%;
       float: left;
   }
   .dnews div h1{
       padding-top: 10px;
       float: left;
       width: 55%;
       height: 30px;
        /* font-weight: lighter; */
       margin-bottom: 0;
   }
   .crousal-heading{
       font-size: 0.4em;
       font-weight: lighter;
   }
   .dnews div img{
       height: 100px;
   }
   .dnews div h1{
       font-size: 0.8em;
   }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    .main-body{
        display: none;
    }
    .mobile-main{
        display: block;
    }
    .share{
        margin-bottom: 3%;
        clear: both;
        width: 100%;
    }
    .home-body{
        margin-left: 0%;
        width: 100%;
    }
    .crousal-element{
        height: 27vh;
   }
  
}
@media screen and (min-width: 1000px) and (max-width: 1100px){
   .crousal{
       margin-top: 2%;
   }
   .crousal-element{
        height: 27vh;
   }
  
}
@media screen and (min-width: 1100px) and (max-width: 2000px){
    .main-body{
        display: block;
    }
    .mobile-main{
        display: none;
    }
}


