<sports-social-header></sports-social-header>
<div class="side-nav">
<sports-social-newsidenav></sports-social-newsidenav>
</div>
<!-- All Sport View -->
<img class="spinner" src="assets/images/sports-social-loading.gif" *ngIf="news.length === 0" alt="">

<div *ngIf="crousallist.length > 0" class="home-body">
  <fieldset class="outer-body">
    <legend>Latest News</legend>
     <div class="crousal" #widgets>
      <div *ngFor="let data of crousallist" 
        class="crousal-element" #widgetsContent
        (click)="openspecificnews(data);topscroll();">
        <img  *ngIf="data.source === 'Football Italia'" src="{{data.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialfi.png'">
        <img  *ngIf="data.source === 'The Hindu'" src="{{data.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialth.png'">
        <img  *ngIf="data.source === 'The Times of India'" src="{{data.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialtoi.png'">
        <img  *ngIf="data.source === 'ESPN Cric Info'" src="{{data.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialespn.jpg'">
        <img  *ngIf="data.source === 'Fox Sport'" src="{{data.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialfox-sport.png'">
         <div class="crousal-heading">
          <h1>{{data.title}}</h1>
          <p>{{data.source}},{{data.timestamp}}</p>
         </div>
      </div>  
  </div>
  <div class="crousal-side-bar">
    <h1>Most Popular</h1>
    <div (click)="openspecificnews(data)" class="side-bar-component" *ngFor="let data of crousalitem">
      <img src="{{data.image}}" alt="">
      <h1>{{data.title|slice:0:23}}...</h1>
      <p>{{data.source}},{{data.timestamp}}</p>
    </div>
  </div>
  </fieldset>
  <div class="dnews">
    <div (click)="openspecificnews(data)" *ngFor="let data of crousalitem">
      <img  *ngIf="data.source === 'Football Italia'" src="{{data.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialfi.png'">
      <img  *ngIf="data.source === 'The Hindu'" src="{{data.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialth.png'">
      <img  *ngIf="data.source === 'The Times of India'" src="{{data.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialtoi.png'">
      <img  *ngIf="data.source === 'ESPN Cric Info'" src="{{data.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialespn.jpg'">
      <img  *ngIf="data.source === 'Fox Sport'" src="{{data.image}}" alt="sportsocialimg" onerror="this.src='assets/images/sportsocialfox-sport.png'">
     <h1>{{data.title|slice:0:45}}...</h1>
      <p class="source-dnews">{{data.source}},{{data.timestamp|slice:0:10}} </p>
    </div>
  </div>
  </div>
  <!-- sportwise view -->
  <div class="sportwise-shell" *ngFor="let data of news">
    <div class="sport-heading">
      <h1>{{data.gamename}}</h1>
      <h2 routerLink="/news/{{data.gamename}}">See All</h2>
    </div>
    <div class="main-news">
      <div class="news-tab">
        <div (click)="openspecificnews(feed);topscroll();" *ngFor="let feed of data.news">
        <img src="{{feed.image}}" alt="">
        <div class="news-tab-info">
          <h1>{{feed.title|slice:0:65}}...</h1>
          <h6>{{feed.desc |slice:0:70}}...</h6>
          <p>{{feed.source}},{{feed.timestamp}}</p>
        </div>
      </div>
      </div>
    </div>
    <div class="side-news">

    </div>
  </div>

<div class="back-footer" *ngIf="news.length > 0">
<sports-social-backfooter></sports-social-backfooter>
</div>