.home-body{
    overflow: hidden;
    width: 84%;
    margin-left: 16%;
    margin-bottom: 3%;
    border-bottom: 2px solid silver;
}
.outer-body{
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    height: 60vh;
    border: none;
    border-top: 2px solid black;
}
.outer-body>legend{
    font-size: 1.7em;
    font-weight: 500;    
    letter-spacing: 1px;
}
.back-footer{
    float: right;
    width: 84%;
}
.dnews{
    width: 90%;
    margin-left: 5%; 
}
.dnews>div{
    margin-top: 1.2%;
    width: 25%;
    float: left;
    cursor: pointer;
}

.dnews div img{
    padding: 10px;
    width: 92%;
    height: 150px;
}
.dnews>div>h1{
    padding-left: 10px;
    width: 95%;
    height: auto;
    /* letter-spacing: 1px; */
    font-weight: bold;
    font-size: .9em;
    margin-bottom: 20px;
}
.dnews>div>p{
    font-size: .8em;
    color: #ffa600;
    margin-left: 3%;
    margin-bottom: 10px;
}


.crousal-side-bar{
    margin-top:2%;
    height: 55vh;
    width: 41%;
    float: right;
}
.crousal-side-bar>h1{
    font-size: 1.4em;
    color: #024770;
}
.crousal-side-bar>div>p{
    font-size: .8em;
}
.side-bar-component{
    margin-top: 10px;
    height: 70px;
    cursor: pointer;
    border-bottom: 1px solid #dfdbdb;
}
.side-bar-component img{
    height: 60px;
    width: 90px;
    float: left;
}
.side-bar-component>h1{
    vertical-align: top;
    font-weight: bolder;
    font-size: .8em;
    float: right;
    width: 75%;
    margin-bottom: 1%;
    /* font-weight: 500; */
}
.side-bar-component>p{
    /* color: #444444; */
    color: #ffa600;
    padding-top: 40px;
    margin-left: 25%;
}
.side-bar-component p span{
    float: right;
}
.crousal{
    margin-top:2%;
    position: relative;
    text-align: center;
    width: 56%;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-left: 12.5%; */
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: scroll;
    white-space: nowrap !important;
    display: inline-block;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
}
.crousal::-webkit-scrollbar {
    display: none;
}
.crousal-element{
    position: relative;
    scroll-snap-align: start;
    width: 100%;
    height: 52vh;
    display: inline-block;
}
.crousal-element img{
    height: 100%;
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
}
.crousal-heading{
    text-align: left;
    color: white;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    top: 90%;
    left: 50%;
    width: 100%;
    height: 29%;
    transform: translate(-50%, -50%);
}

.crousal-heading>h1{
    font-size: 1em;
    font-weight: bolder;
    padding: 8px;
    letter-spacing: 1px;
    width: 90%;
    margin-right: 4%;
    text-align: left;
    /* text-transform: uppercase; */
}
.crousal-heading p{
    font-size: .9em;
    color: #ffa600;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-left: 10px;
    margin-top: 3%;
}
.side-nav{
    width: 25%;
    margin-top: 3.5%;
}
.spinner{
    margin-top: 250px;
    margin-right: 50%;
    float: right;
}
.heading p{
    float: right;
    margin-top: 1%;
    font-weight: bold;
    font-size: 0.5em;
}
.sportwise-shell{
    overflow: hidden;
    width: 84%;
    margin-left: 16%;
    margin-bottom: 3%;
}
.sport-heading{
    height: auto;
    width: 90%;
    margin-left: 5%;
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.sport-heading h1{
    text-transform: uppercase;
    margin-top: 10px;
    color: #024770;
    float: left;
}
.sport-heading h2{
    font-weight: lighter;
    color: #444444;
    margin-top: 16px;
    float: right;
    font-size: 1.2em;
    cursor: pointer;
}
.main-news{
    margin-left: 5%;
    float: left;
    /* height: 10vh; */
    width: 95%;
}
.side-news{
    float: right;
    height: 10vh;
    margin-right: 5%;
    width: 35%;
}
.news-tab>div{
    height: 180px;
    cursor: pointer;
    border-bottom: 1px solid #dfdbdb;
    width: 95%;
}
.news-tab>div>img{
    margin-top: 25px;
    height: 150px;
    width: 25%;
    background-color: white;
    float: left;
    border-radius: 3%;
}
.news-tab-info{
    margin-top: 25px;
    margin-right: 5%;
    float: right;
    width: 68%;
    height: auto;
}
.news-tab-info h1{
    font-size: 1.2em;
    margin-bottom: 10px;
}
.news-tab-info>h6{
    font-weight: lighter;
    width: 70%;
    font-size: 1em;
    margin-bottom: 40px;
}
.news-tab-info>p{
    color: #ffa600;
    font-weight: lighter;
}
.news-tab-info>h5,h2{
    display: none;
}


@media screen and (min-width: 200px) and (max-width: 320px){
    .crousal-side-bar{
        display: none;
    }
    .main-body{
        display: none;
    }
    .mobile-main{
        display: block;
    }
    .back-footer{
        width: 100%;
    }
    .home-body{
        margin-left: 0%;
        width: 100%;
    }
    .crousal{
        margin-top: 40px;
        border: 2px solid white;
        width: 100%;
    }
    .crousal-element{
        height: 27vh;
   }

    .crousal-heading>h1{
        font-size: .7em;
        font-weight: bolder;
        padding: 2px;
        width: 90%;
        margin-right: 4%; 
    }
    .crousal-heading p{
        font-size: .7em;
        padding-left: 2px;
        margin-top: 0%;
    }

   .dnews{
       clear: both;
       width: 100%;
       margin-left: 0% !important;
   }
   
   .dnews div{
       width: 45%;
       height: 230px;
       margin-left: 2%;
       margin-bottom: 2%;
       vertical-align: top !important;
       border: 1px solid rgb(219, 218, 218);
       border-radius: 3%; 
   }
   .dnews>div>img{
       width: 100%;
       height: 100px;
       padding: 0px;
       border-top-right-radius: 4%;
       border-top-left-radius: 4%;
   }

    .dnews div h1{
        font-size: 0.8em;
    }
    .dnews div p{
        font-size: 0.7em;
    }
   .outer-body{
       margin-top: 60px;
       height: 40vh;
   }
   .sportwise-shell{
       /* clear: both; */
       margin-left: 0%;
       width: 100%;
   }
   .sport-heading{
       height: 40px;
   }
   .sport-heading h1, .sport-heading h2{
       font-size: 1em;
   }
   .sport-heading h2{
       margin-top: 10px;  
   }
   .news-tab>div{
       height: 155px;
       display: inline-flex;
       top: 0%;
       vertical-align: top !important;
    }
    .news-tab>div>img{
       margin-top: 25px;
       height: 100px;
       width: 30%;
       background-color: white;
       float: left;
    }
    .news-tab-info{
        width: 65%;
        margin-left: 4%;
    }
    .news-tab-info h1{
        display: none;
    }
    .news-tab-info>h2{
        display: block;
        font-size: .8em;
        margin-bottom: 7px;
    }
    .news-tab-info>h6{
        display: none;
    }
    .news-tab-info>h5{
        width: 90%;
        font-size: 0.7em;
        font-weight: lighter;
        margin-bottom: 10px;
        display: block;
    }
    .news-tab-info p{
        font-size: 0.7em;
    }
}

@media screen and (min-width: 321px) and (max-width: 700px){
    .crousal-side-bar{
        display: none;
    }
    .main-body{
        display: none;
    }
    .mobile-main{
        display: block;
    }
    .back-footer{
        width: 100%;
    }
    .home-body{
        margin-left: 0%;
        width: 100%;
    }
    .crousal{
        margin-top: 40px;
        border: 2px solid white;
        width: 100%;
    }
    .crousal-element{
        height: 27vh;
   }
    .crousal-heading>h1{
        font-size: .9em;
        font-weight: bolder;
        padding: 2px;
        width: 90%;
        margin-right: 4%; 
    }
    .crousal-heading p{
        font-size: .6em;
        padding-left: 2px;
        margin-top: 0%;
    }
   .dnews{
       clear: both;
       width: 100%;
       margin-left: 0% !important;
   }
   
   .dnews div{
       width: 45%;
       height: 220px;
       margin-left: 2%;
       margin-bottom: 2%;
       vertical-align: top !important;
       border: 1px solid rgb(219, 218, 218);
       border-radius: 3%; 
   }
   .dnews>div>img{
       width: 100%;
       height: 100px;
       padding: 0px;
       border-top-right-radius: 4%;
       border-top-left-radius: 4%;
   }

    .dnews div h1{
        font-size: 0.8em;
    }
    .dnews div p{
        font-size: 0.7em;
    }
   
   
   .outer-body{
       margin-top: 60px;
       height: 40vh;
   }
   .sportwise-shell{
       /* clear: both; */
       margin-left: 0%;
       width: 100%;
   }
   .sport-heading{
       height: 40px;
   }
   .sport-heading h1, .sport-heading h2{
       font-size: 1em;
   }
   .sport-heading h2{
       margin-top: 10px;  
   }
   .news-tab>div{
       height: 130px;
       display: inline-flex;
       top: 0%;
       vertical-align: top !important;
    }
    .news-tab>div>img{
       margin-top: 25px;
       height: 100px;
       width: 30%;
       background-color: white;
       float: left;
    }
    .news-tab-info{
        width: 65%;
        margin-left: 4%;
    }
    .news-tab-info h1{
        display: none;
    }
    .news-tab-info>h2{
        display: block;
        font-size: .8em;
        margin-bottom: 7px;
    }
    .news-tab-info>h6{
        display: none;
    }
    .news-tab-info>h5{
        width: 90%;
        font-size: 0.7em;
        font-weight: lighter;
        margin-bottom: 10px;
        display: block;
    }
    .news-tab-info p{
        font-size: 0.7em;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    .crousal-side-bar{
        display: none;
    }
    .main-body{
        display: none;
    }
    .mobile-main{
        display: block;
    }
    .share{
        margin-bottom: 3%;
        clear: both;
        width: 100%;
    }
    .home-body{
        margin-top:8%;
        margin-left: 0%;
        width: 100%;
    }
    .outer-body{
        height: 35vh;
    }
    .crousal{
        width: 100%;
    }
    .crousal-element{
        height: 27vh;
   }
   .crousal-heading h1{
    font-size: 1.2em;
    }
    .crousal-heading p{
    font-size: 1em;
    }
   .news-tab-info h1{
    font-size: 1em;
    }
    .sportwise-shell{
        overflow: hidden;
        width: 100%;
        margin-left: 0%;
        margin-bottom: 3%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1100px){
    .crousal-side-bar{
        display: none;
    }
    .main-body{
        display: none;
    }
    .mobile-main{
        display: block;
    }
   .crousal{
       width: 100%;
       margin-top: 2%;
   }
   .crousal-element{
        height: 27vh;
   }
   .crousal-heading h1{
    margin-top: 0%;
    font-size: 1em;
    padding: 5px;
    }
    .crousal-heading p{
        padding: 5px;
    font-size: .9em;
    }
   .news-tab-info h1{
    font-size: 1em;
    }
    .outer-body{
        height: 35vh;
    }
    
  
}
@media screen and (min-width: 1100px) and (max-width: 2000px){
    .main-body{
        display: block;
    }
    .mobile-main{
        display: none;
    }
}


