<header #header>
  <!-- dekstop view -->
<nav class="head">
  <a routerLink="/">
    <ul> 
      <li><img class="img" src="/assets/images/sports-social-logo.png" alt="Sport-Social-logo"></li>
      <li>
        <span class="c1">Sports</span>
        <span class="c2">Social</span>
        <i><p class="c3">ChaseYourSport</p></i>
      </li>
    </ul>
  </a>
  <!-- dekstop view -->
  <div class="menu" *ngIf="!isMenuInDropdown">
     <a routerLink="/HelpCenter" routerLinkActive="active">Help</a> 
     <a routerLink="/application" routerLinkActive="active">App</a> <!--https://goo.gl/qrgCz5-->
     <a routerLink="/about" class="About btn btn-responsive" routerLinkActive="active">About</a>
  </div>
</nav>  

    <!-- </ul> -->
  
      <!-- mobile view -->
  <div class="mobile-view" *ngIf="mobileView">
    <div class="dropdown-menu-image-holder">
      <img src="/assets/images/sports-social-menu.png" (click)="openDropdown()">
    </div>
    <div class="dropdown-menu" *ngIf="isDropdownIconclicked">
      <div class="dropdown-cancel-image-holder">
        <img src="/assets/images/sports-social-cancel-black.png"  (click)="closeDropdown()">
      </div>
      <ul  *ngIf="isMenuInDropdown">
          <!-- <li>
              <a routerLink="/live" class="About btn btn-responsive" routerLinkActive="active">Live</a>
            </li> -->
          <li>
              <a routerLink="/about" routerLinkActive="active">About</a> 
          </li>
          <li>
            <a routerLink="/application" routerLinkActive="active">App</a> <!--https://goo.gl/qrgCz5-->
          </li>
          <li>
            <a routerLink="/HelpCenter" routerLinkActive="active">Help Center</a> 
          </li>
          
      </ul>
      <ng-container  *ngIf="isSearchInDropdown">
        <div class="dropdown-search">
          <input type="text" placeholder="Search Sports Social">
        </div>
        <button>Search</button>
      </ng-container>
    </div>
  </div>
    
</header>

