<ul class="navi">
  <br>
  <a routerLink="" 
  routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}">
    <li>Home</li>
  </a>
  <li routerLinkActive="active">
      <a routerLink="/OpenArena">
        Open Arena </a> <img class="aicon" (click)="openn()" src="/assets/images/sportsocialarrow.png" alt="">  
      </li>
       
  <ul class="con">
    <a [routerLink]="['/Open Arena', list]" 
    *ngFor="let list of list1">
      <li>{{list}}</li>
    </a>
  </ul>
  <li routerLinkActive="active">
  <a [routerLink]="['/newspage', '']">
    News </a> <img class="aicon" (click)="opennn()" src="/assets/images/sportsocialarrow.png" alt="">  
  </li>
    <ul class="conn">
    <a href="/newspage/{{list}}" 
    routerLinkActive="Active"
    *ngFor="let list of list2">
      <li>{{list}}</li>
    </a>
  </ul>
</ul>


<div class="msidenav">
  <img (click)="open();" src="/assets/images/sports-social-menu.png">
  <div class="modal">
        <img class="close" src="/assets/images/sportsocialcross.png" (click)="close();">
        <div class="mdata" routerLinkActive="Active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="">Home</a>
        </div>
        <div class="mdata" routerLinkActive="Active">
              <a>Local Arena</a>
        </div>

        <div class="mdata" routerLinkActive="Active">
              <a routerLink="/OpenArena">Open Arena</a>
        </div>
        <div class="mdata" routerLinkActive="Active">
              <a routerLink="/newspage" [queryParams]="{topic:''}">News</a>
        </div>
  </div>
</div>