<ul class="navi">
  <br>
  <a routerLink="" 
  routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}">
    <li>Home</li>
  </a>
  <li routerLinkActive="active">
      <a routerLink="/OpenArena">
        Open Arena </a> <img class="aiconn" (click)="openn()" src="/assets/images/sportsocialarrowhome.png" alt="">  
      </li>
       
  <ul class="con">
    <a [routerLink]="['/Open Arena', list]" 
    *ngFor="let list of list1">
      <li>{{list}}</li>
    </a>
  </ul>
  <li class="newsone" routerLinkActive="active">
  <a class="newsonea" [routerLink]="['/newspage', '']">
    News </a> <img class="aicon" (click)="opennn()" src="/assets/images/sportsocialarrowhome.png" alt="">  
  </li>
    <ul class="conn">
    <a [routerLink]="['/newspage/cricket']"
    (click)="cliurl()">
      <li class="c">Cricket</li>
    </a>
    <a [routerLink]="['/newspage/football']"
    (click)="cliurl()">
     <li class="f" >Football</li>  
    </a>
    <a [routerLink]="['/newspage/basketball']" 
    (click)="cliurl()">
      <li class="b">basketball</li>
  </a>
    <a [routerLink]="['/newspage/volleyball']" 
    (click)="cliurl()">
     <li class="v">volleyball</li>  
    </a>
    <a [routerLink]="['/newspage/tennis']" 
    (click)="cliurl()">
      <li class="t">Tennis</li>
  </a>
    <a [routerLink]="['/newspage/table tennis']" 
    (click)="cliurl()">
     <li class="tt">Table Tennis</li>  
    </a>
    <a [routerLink]="['/newspage/hockey']" 
    (click)="cliurl()">
      <li class="h">Hockey</li>
  </a>
    <a [routerLink]="['/newspage/badminton']" 
    (click)="cliurl()">
     <li class="bd">Badminton</li>  
    </a>
  </ul>
</ul>


<div class="msidenav">
  <img (click)="open();" src="/assets/images/sports-social-menu.png">
  <div class="modal">
        <img class="close" src="/assets/images/sportsocialcross.png" (click)="close();">
        <div class="mdata" routerLinkActive="Active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="">Home</a>
        </div>
        <div class="mdata" routerLinkActive="Active">
              <a>Local Arena</a>
        </div>

        <div class="mdata" routerLinkActive="Active">
              <a routerLink="/OpenArena">Open Arena</a>
        </div>
        <div class="mdata" routerLinkActive="Active">
              <a routerLink="/newspage" [queryParams]="{topic:''}">News</a>
        </div>
  </div>
</div>