.navi{
    z-index: 0;
    position: fixed;
    margin-top: 0%;
    width: 16%;
    height: 100vh;
    border-right: 2px solid silver;
}
.navi li{
    border-top-right-radius: 30% 150%;
    border-bottom-right-radius: 30% 150%;
    width: 80%;
    color: rgb(97, 96, 96);
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
}
.navi a{
    color: rgb(97, 96, 96);
}
.navi li.active a{
    color: white;
}
.navi li.active{
    background-color: rgb(71, 148, 148);
}

.aicon {
    float: right;
    margin-right: 3%;
    z-index: 45;
    height: 13px;
    width: 10px;
}
.aiconn {
    float: right;
    margin-right: 3%;
    z-index: 45;
    height: 13px;
    width: 10px;
}
.navi a.active li{
    color: white;
    font-weight: bold;
    background-color: rgb(71, 148, 148);
}
.con{
    list-style: none;
    padding-left: 30px;
    display: none;
}
li.Active{
    color: white;
    font-weight: bold;
    background-color: rgb(125, 206, 206);
}
.conn{
    list-style: none;
    padding-left: 30px;
    display: none;
}

.msidenav{
    display: none;
    margin-top: 10%;
}

.msidenav img{
    float: left;
    margin-top: 25px;
    margin-left: 1%;
    width: 35px;
    height: 35px;
    z-index: 25;
}
.modal>ul>li>a {
    margin-left: 25px;
    font-size: 2em;
    color: white;
}
.modal li{
    margin-bottom: 15px;
    margin-top: 15px;
}
.modal>ul>li>img{
    margin-right: 15px;
    float: right;
    height: 25px;
    width: 15px;
    margin-top: 2px;
    margin-bottom: 0;
} 
.modal>ul>a>li {
    font-size: 2em;
    color: white;
}

.modal{
    margin-top: 12%;
    float: left;
    overflow-y: scroll;
    height: 100vh;
    text-align: center;
    z-index: 15;
    position: fixed;
    top: 0;
    left: -600px;
    width: 60%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #bbbbbb;
    background-color: rgba(58, 58, 58, 0.7);
    transition: all .5s ease-in-out;
}
 
  .mdata a{
      text-decoration: none;
      color: white;
  }
  .mdata{
      font-size: 1.8em;
      margin-top: 30px;
  }
  .connn{
      display: none;
  }
  .connnn{
      display: none;
  }
  .connn a{
      color: white;
  }
  .connnn a{
        color: white;
  }
  
  /* .modal div{
      padding: 80px;
  } */
@media screen and (min-width: 600px) and (max-width: 950px){
    .navi{
        display:none;
    }
    .msidenav{
        display: block;
    }
    .con{
        background-color: white;
    }
}
@media screen and (min-width: 200px) and (max-width: 600px){
    .navi{
        display: none;
    }
  .modal {
      width: 70%;
  }
  .msidenav{
      display: block;
  }
  .modal div{
      padding: 10px;
  }
  .modal a{
      font-size: 1em;
  }
  .modal img {
      padding: 10px;
      width: 30px;
      height: 30px;
  }
  .modal>ul>li>a {
    margin-left: 30px;
    font-size: 1em;
    color: white;
}
.modal li{
    margin-bottom: 15px;
    margin-top: 15px;
}
.modal>ul>li>img{
    margin-right: 7px;
    float: right;
    height: 12px;
    width: 12px;
    margin-top: 2px;
    margin-bottom: 0;
} 
.modal>ul>a>li {
    font-size: 1em;
    color: white;
}

}