<ul class="navi">
  <br>
  <a routerLink="" 
  routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}">
    <li>Home</li>
  </a>
  <li class="openarena"
  routerLinkActive="active">
      <a class="openarena1"
       href="/OpenArena">
        Open Arena </a> <img class="arrowiconn" (click)="openn()" src="/assets/images/sportsocialarrowhome.png" alt="">  
      </li>
       
  
      <ul class="openarenaopen">
        <a href="/OpenArena/cricket">
          <li class="cricket1">Cricket</li>
        </a>
        <a href="/OpenArena/football">
         <li class="football1" >Football</li>  
        </a>
        <a href="/OpenArena/basketball">
          <li class="basketball1">Basketball</li>
      </a>
      <a href="/OpenArena/volleyball">
         <li class="volleyball1">Volleyball</li>  
        </a>
        <a href="/OpenArena/tennis">
          <li class="tennis1">Tennis</li>
      </a>
      <a href="/OpenArena/table-tennis">
         <li class="tabletennis1">Table Tennis</li>  
        </a>
        <a href="/OpenArena/hockey">
          <li class="hockey1">Hockey</li>
      </a>
      <a href="/OpenArena/badminton">
         <li class="badminton1">Badminton</li>  
        </a>
      </ul>

  <li     
    class="newsone" routerLinkActive="active">
  <a class="newsonea" href="/newspage">
    News </a> <img class="arrowicon" (click)="opennn()" src="/assets/images/sportsocialarrowhome.png" alt="">  
  </li>
    <ul class="newsopen">
    <a href="/newspage/cricket">
      <li class="cricket">Cricket</li>
    </a>
    <a href="/newspage/football">
     <li class="football" >Football</li>  
    </a>
    <a href="/newspage/basketball">
      <li class="basketball">Basketball</li>
  </a>
  <a href="/newspage/volleyball">
     <li class="volleyball">Volleyball</li>  
    </a>
    <a href="/newspage/tennis">
      <li class="tennis">Tennis</li>
  </a>
  <a href="/newspage/table-tennis">
     <li class="tabletennis">Table Tennis</li>  
    </a>
    <a href="/newspage/hockey">
      <li class="hockey">Hockey</li>
  </a>
  <a href="/newspage/badminton">
     <li class="badminton">Badminton</li>  
    </a>
  </ul>
</ul>

<!-- 
<div class="msidenav">
  <img (click)="open();" src="/assets/images/sports-social-menu.png">
  <div class="modal">
    <ul>
        <a routerLink="" 
  routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}">
    <li>Home</li>
  </a>
  <li routerLinkActive="active">
      <a routerLink="/OpenArena">
        Open Arena </a> <img (click)="openn()" src="/assets/images/sportsocialarrowhome1.png" alt="">  
      </li>
       
  <ul class="mnewsopen">
    <a [routerLink]="['/Open Arena', list]" 
    *ngFor="let list of list1">
      <li>{{list}}</li>
    </a>
  </ul>
  <li class="newsone" routerLinkActive="active">
  <a class="newsonea" href="/newspage">
    News </a> <img (click)="opennn()" src="/assets/images/sportsocialarrowhome1.png" alt="">  
  </li>
    <ul class="mopenarenaopen">
      <a href="/newspage/cricket">
        <li class="cricket">Cricket</li>
      </a>
      <a href="/newspage/football">
       <li class="football" >Football</li>  
      </a>
      <a href="/newspage/basketball">
        <li class="basketball">basketball</li>
    </a>
    <a href="/newspage/volleyball">
       <li class="volleyball">volleyball</li>  
      </a>
      <a href="/newspage/tennis">
        <li class="tennis">Tennis</li>
    </a>
    <a href="/newspage/table-tennis">
       <li class="tabletennis">Table Tennis</li>  
      </a>
      <a href="/newspage/hockey">
        <li class="hockey">Hockey</li>
    </a>
    <a href="/newspage/badminton">
       <li class="badminton">Badminton</li>  
      </a>
  </ul>
  <li class="cc"><img class="close" style="border-radius: 50%; background-color: white;height: 30px;width: 30px;" src="/assets/images/sportsocialcross.png" (click)="close();">
  </li>
  </ul>
  </div>
</div> -->