<sports-social-header></sports-social-header>
<sports-social-newsidenav></sports-social-newsidenav>
<router-outlet></router-outlet>

<!-- crousal -->
<div class="media-crousal">
  <div class="pop-crousal" #widgets>
    <div *ngFor="let data of MatchMoments" class="crousal-element" #widgetsContent>
        <img src={{data.imagepath}} onerror="this.src='assets/images/My-iPad-Screen-Is-Broken-Heres-The-Real-Fix.-828x466.jpg'">
       <div class="uploader-info">
          <img src={{data.profile_photo}} onerror="this.src='assets/images/user.png'">
            <div class="uploader-name">
              <p>{{data.User_Name}}</p><br>
              <!-- <h6>@{{data.Uniquename}}</h6> -->
          </div>
       </div>
       <div class="likeCount">
        <img src="assets/images/heart.png">&nbsp;&nbsp;<b>{{data.likecount}}</b>
        &nbsp;&nbsp;<img src="assets/images/chat-comment-oval-speech-bubble-with-text-lines.png">&nbsp;&nbsp;<b>{{data.commentcount}}</b>
       </div>        
    </div>
  </div>
 
    <div class="close">
      <img (click)="close()" src="assets/images/sportsocialprofileclose.png">
    </div>
    <div class="larrow">
      <img (click)="lscroll()" src="assets/images/sportsocialprofilerightarrow.png" alt="">
    </div>
    <div class="rarrow">
     <img (click)="rscroll()" src="assets/images/sportsocialprofileleftarrow.png" alt="">
    </div>
</div>

<!-- main content -->
<div class="main-body">
  
<div class="outer-body">
<div class="rightside"> 
    <!-- <img class="spinner" src="assets/images/sports-social-loading.gif" *ngIf="Matcharr.length === 0" alt=""> -->
    <div class="outdiv" *ngFor="let feed of Matcharr; let i=index">
      <div class="card">
            <div class="head">
                <div class="gamename">
                    <b>{{genderCheck}} {{feed.GameName}} - <span style="font-weight: lighter;font-size: 0.9em;color: #444444">{{Age}}</span></b>
                    <p (click)="openlocality(feed.venueId, feed.Venue_Name);" style="cursor: pointer;">{{feed.Venue_Name}}</p>
                    <br>
                    <div class="fulllength">
                        <h6 (click)="openlocality(feed.venueId, feed.Venue_Name);" style="cursor: pointer;">{{feed.Venue_Name | slice:0:35}}....</h6>
                      <span class="addresstext">{{feed.Venue_Name}}</span>
                    </div>
                </div>
                <div class="result">
                  <b>{{feed.result}}</b><br>
                  <p style="color: #024771"><span style="color: #888888; font-weight: lighter;">Created By: </span>
                    <a (click)="changeroute(feed.MatchStarterId)">{{feed.MatchStarterUniqueName}}</a>
                  </p>
                </div> 
            </div>
            <div class="activitycount">
              <div>
                <img src="assets/images/sports-social-promote.png"><p>{{feed.PromoteCount}}</p>
                <img src="assets/images/sports-social-watching.png"><p>{{feed.WatchCount}}</p>
              </div>
            </div>
          
            <div class="cardData">
                <div (click)="openprofile(feed.Team1Id, feed.Team1name);" class="cardData team1">
                    <!-- <div class="cardData team1"> -->
                    <img src={{feed.Team1Pic}} onerror="this.src='assets/images/user.png'">
                    <p>{{feed.Team1name}}</p>    
                </div>
                <div class="cardData t1score">
                    <b style="font-size: 1.2em;">{{feed.scoreTeam1}}</b>
                    <b style="font-size: 1.2em;">{{feed.scoreTeam2}}</b>
                </div>
                <div (click)="openprofile(feed.Team2Id, feed.Team2name);" class="cardData team2">
                    <!-- <div  class="cardData team2"> -->
                    <img src={{feed.Team2Pic}} onerror="this.src='assets/images/user.png'">
                    <p>{{feed.Team2name}}</p>
                </div>     
            </div> 

            <div class="matchstatus">
                <textarea disabled>{{resultOfMatch}}</textarea>
            </div>
            <div class="matchstatus">
                <p>{{feed.EventText}}</p>
            </div>
          
            <div class="performermatch">
                <p>{{BestPerfomerUsername}}</p>
                <div  *ngFor="let data of ManOfMatch; let j=index">
                    <div class="manofmatch" *ngIf="manOfMatchImg != null">
                      <img src={{data.profilepic}} onerror="this.src='assets/images/user.png'">
                        <div class="text">
                            <div>{{data.username}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                  <button (click)="first()" class="one" style="color: black; font-size:1em;">Match Talk</button>
                  <button (click)="second()" class="two">Moments</button>
                  <button (click)="third()" class="three">Line Ups</button>
            </div> 
            <div class="details" *ngIf="comment"> 
              <div class="container" *ngFor="let data of MatchCommnets">
                <div class="profile-data">
                    <img src="{{data.Profileimage}}" (click)="changeroute(data.UserId)" onerror="this.src='assets/images/user.png'" style="width:100%;">
                    <h6  (click)="changeroute(data.UserId)">{{data.User_name}}<br>
                      <p>@{{data.Uniquename}}</p></h6>
                </div>
                <div class="message-outter">
                  <div class="message">
                    <p>{{data.Comment |slice:0:150}}<br><b>{{data.commentdatetime}} pm</b></p>
                  </div>
               </div>
              </div>
            </div>
            <div class="details" *ngIf="moment"> 
                <div class="container2" *ngFor="let data of MatchMoments">
                  <img (click)="openpopcrousal()" src="{{data.imagepath}}" onerror="this.src='assets/images/My-iPad-Screen-Is-Broken-Heres-The-Real-Fix.-828x466.jpg'">
                </div>
            </div>
            <div class="details3" *ngIf="joinee"> 
              <button (click)="thirdchild1()" class="joineechild1" style="color: #024771; background-color: white; font-weight: bolder">{{feed.Team1name}}</button>
              <button (click)="thirdchild2()" class="joineechild2">{{feed.Team2name}}</button>
              
                  <div *ngIf="child1">
                    <div class="container3" *ngFor="let data of MatchLineup1">
                      <img src="{{data.Profileimage}}" (click)="changeroute(data.UserId)" onerror="this.src='assets/images/user.png'" style="width:100%;">
                      <p (click)="changeroute(data.UserId)">{{data.User_name}}</p>
                    </div>
                  </div>
                  <div *ngIf="child2">
                    <div class="container3"  *ngFor="let data of MatchLineup2">
                      <img src="{{data.Profileimage}}"  (click)="changeroute(data.UserId)" onerror="this.src='assets/images/user.png'" style="width:100%;">
                      <p (click)="changeroute(data.UserId)">{{data.User_name}}</p>
                    </div>
                  </div>
            </div>
        </div>    
    </div>            
  </div> 
</div> 
<div class="ffooter" *ngIf=show>
  <sports-social-backfooter></sports-social-backfooter>
</div>
</div>
