<div class="pop-up">
    <div class="pop-crousal" #widgets>
    <!-- <img class="cancel" src="/assets/images/sportsocialcancel.png"> -->
      <div *ngFor="let data of MatchMoments" 
      class="c-element" #widgetsContent
      (click)="openews(data.id, data.game)" #widgetsContent>
      <img src="{{data.imagepath}}" onerror="this.src='assets/images/user-default.png'">
      <div *ngIf="data.Text.length > 0" class="c-head">
          <h1>{{data.Text}}</h1>
          <p>by:{{data.User_Name}}</p>
      </div>
      <div class="c-bottom">
        <h1><img src="/assets/images/sportsociallike.png" alt="">&nbsp;{{data.likecount}}</h1>
    </div>
    </div>
  </div>
  <img (click)="close()" class="close" src="/assets/images/sportsocialhomecross.png" alt="">
  <div class="arrow-left">
      <img (click)="lscroll()" src="/assets/images/sportsocialmatcharrow.png" alt="">
    </div>
  <div class="arrow-right">
      <img (click)="rscroll()" src="/assets/images/sportsocialmatcharrow1.png" alt="">
    </div>
</div>
<sports-social-header></sports-social-header>
<div class="main-body">
  <sports-social-newsidenav></sports-social-newsidenav>
<div class="cbody">
<div class="rightside"> 
    <div class="outdiv" *ngFor="let feed of Matcharr;let i=index">
      <div class="card">
            <div class="head">
                <div class="gamename">
                    <b>{{genderCheck}} {{feed.GameName}} - <span style="font-weight: lighter;font-size: 0.9em;color: #444444">{{Age}}</span></b>
                    <p>{{feed.Venue_Name}}</p>
                </div>
                <div class="result">
                  <b>{{feed.result}}</b><br>
                  <p style="color: #024771"><span style="color: #888888; font-weight: lighter;">Created By: </span>{{feed.MatchStarterUniqueName}}</p>
                </div> 
            </div>
            <div class="activitycount">
              <div>
                <img src="assets/images/sports-social-promote.png"><p>{{feed.PromoteCount}}</p>
                <img src="assets/images/sports-social-watching.png"><p>{{feed.WatchCount}}</p>
              </div>
            </div>
          
            <div class="cardData">
                <div class="cardData team1">
                    <img src={{feed.Team1Pic}} onerror="this.src='assets/images/user-default.png'">
                    <p>{{feed.Team1name}}</p>    
                </div>
                <div class="cardData t1score">
                    <b style="font-size: 1.2em;">{{feed.scoreTeam1}}</b>
                    <b style="font-size: 1.2em;">{{feed.scoreTeam2}}</b>
                </div>
                <div class="cardData team2">
                    <img src={{feed.Team2Pic}} onerror="this.src='assets/images/user-default.png'">
                    <p>{{feed.Team2name}}</p>
                </div>     
            </div> 

            <div class="matchstatus">
                <textarea disabled>{{resultOfMatch}}</textarea>
            </div>
            <div class="matchstatus">
                <textarea disabled>{{feed.EventText}}</textarea>
            </div>
          
            <div class="performermatch">
                <p>{{BestPerfomerUsername}}</p>
                <div  *ngFor="let data of ManOfMatch; let j=index">
                    <div class="manofmatch" *ngIf="manOfMatchImg != null">
                      <img src={{data.profilepic}} onerror="this.src='assets/images/user-default.png'">
                        <div class="text">
                            <p>{{data.username}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                  <button (click)="first()" class="one" style="background: none; color: black; font-size: 1em;">Match Talk</button>
                  <button (click)="second()" class="two">Moments</button>
                  <button (click)="third()" class="three">Line Ups</button>
            </div> 
            <div class="details" *ngIf="comment"> 
                <div class="container" *ngFor="let data of MatchCommnets">
                  <div class="profile-data">
                    <img src="{{data.Profileimage}}" onerror="this.src='assets/images/user-default.png'" style="width:100%;">
                    <h6>{{data.User_name}}<br>{{data.uniquename}}</h6>
                  <div class="message-outter">
                  <div class="message">
                    <p>{{data.Comment}}</p>
                  </div>
                </div>
                </div>
              </div>

            </div>
            <div class="details" *ngIf="moment"> 
                <div class="container2" *ngFor="let data of MatchMoments">
                  <img (click)="openpopcrousal()" src="{{data.imagepath}}" onerror="this.src='assets/images/user-default.png'">
                </div>
            </div>
            <div class="details3" *ngIf="joinee"> 
              <button (click)="thirdchild1()" class="joineechild1" style="color: #024771; background-color: white; font-weight: bolder">{{feed.Team1name}}</button>
              <button (click)="thirdchild2()" class="joineechild2">{{feed.Team2name}}</button>
              
                  <div *ngIf="child1">
                    <div class="container3" *ngFor="let data of MatchLineup1">
                      <img src="{{data.Profileimage}}" onerror="this.src='assets/images/user-default.png'" style="width:100%;">
                      <p>{{data.User_name}}</p>
                    </div>
                  </div>
                  <div *ngIf="child2">
                    <div class="container3"  *ngFor="let data of MatchLineup2">
                      <img src="{{data.Profileimage}}" onerror="this.src='assets/images/user-default.png'" style="width:100%;">
                      <p>{{data.User_name}}</p>
                    </div>
                  </div>
            </div>
        </div>    
    </div>            
  </div> 
</div> 
<div class="ffooter">
  <sports-social-backfooter></sports-social-backfooter>
</div>
</div>
