
.cbody{
    /* height: 2000px; */
    overflow: hidden;
}
.ffooter{
    width: 84%;
    float: right;
}
.rightside{
    float: right;
    width: 84%;
    z-index: 10;
    border-bottom: 1px solid #bbbbbb;
    background-color: #dbdada;
}
.c-element{
    position: relative;
    scroll-snap-align: start;
    width: 100%;
    height: 50vh;
    display: inline-block;
}
.c-element img{
    height: 100%;
    overflow: hidden;
    /* width: 100%; */
}

.pop-up{
    display: none;
    position: fixed;
    z-index: 40;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
}
.arrow-left{
    position: relative;
    z-index: 20;
    border: 3px solid red;
    height: 170px;
    width: 170px;
}
.arrow-right img{
    border: 3px solid blue;
    height: 270px;
    width: 270px;
}
.pop-crousal{
    border-radius: 10px;
    z-index: 20;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 4px 20px 0 rgba(185, 181, 181, 0.19);
    position: fixed;
    margin-top: 10vh;
    height: 70vh;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.pop-crousal h1{
    letter-spacing: 2px;
    font-size: 2.4em;
    padding: 10px;
    font-weight: lighter;
}
.pop-crousal h1 img{
    height: 20px;
    width: 20px;
    float: right;
}
.pop-crousal h1 img:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.contain{
    z-index: 20;
    border-radius: 10px;
    height: 50vh;
    width: 80%;
    border: 3px solid black;
    text-align: center;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: scroll;
    white-space: nowrap !important;
    display: inline-block;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
}
.contain::-webkit-scrollbar{
    display: none;
}
.topic{
    text-decoration: underline;
    margin-left: 2%;
    margin-top: 2%;
}
.outdiv{
    scroll-snap-align: start;
    width: 60%;
    margin: 0 auto;
    /* margin: 1% 1.1% 0% 10%; */
    border-radius: 2%;
    vertical-align: top;
}

.card{
    display: grid;
    width: 100%;
    height: auto;    /* height for comments and etc*/
    border: 1px solid #ece9e9;
    margin-bottom: 2%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #ecebeb;
    background-color: #ffffff;
}

.head{
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #dddddd;
}
.gamename {
    height: 100%;
    width: 60%;
    margin-left: 2%;
    float:left;
}
.result {
    height: 100%;
    width: 30%;
    margin-right: 2%;
    float: right;
}
.result b,.result p {
    float: right;
}
.result b {
    font-size: .9em;
}
.gamename b {
    font-size: 1em;
}
.gamename p {
    margin-top: -0.5%;
    font-size: 0.7em;
    font-weight: lighter;
}
.result p {
    margin-top: -0.5%;
    font-size: 0.8em;
    font-weight: bold;
    color: #5f5e5e;
}
.activitycount>div{
    display: inline-flex;
}
.activitycount>div>img{
    width:40px;
    height:40px;
}
.activitycount>div>p{
    text-align: center;
    margin-top: 10%;
}

.cardData{
    float: left;
    width: 100%;
    height: 73px;
    margin-top: 2%;
}
.cardData>div{
    vertical-align: top;
    margin-top: 0%;
}
.team1 {
    width:33%;
}
.team2 {
    width:33%;
}
.t1score {
    width: 33%;
    margin-top: 3% !important;
    font-size: 2em;
}

.team1,.team2 {
    text-align: center;
}
.t1score,.t2score {
    text-align: center;
    margin-top: 7%;
}
.team1,.team2>p{
    text-align: center;
}
.team1>img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 2px solid #bbbbbb;
}
.team2>img{
   border-radius: 50%;
   height: 80px;
   width: 80px;
   border: 2px solid #bbbbbb;
}


.matchstatus{
    width: 100%;
    height: 50px;
    margin-top: 5%;
}
.matchstatus>textarea{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    text-align: center;
    font-size: .8em;
    font-weight: bolder;
    color: #000000;
}
.performermatch>div{
    display: inline-block;
    justify-content: center !important;
    width: 32%;
}
.performermatch>p{
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 2%;
}
.manofmatch{
    display: inline-flex;
    justify-content: center;
    width: 90%;
    margin-left: 3%;
    align-content: center;
}
.manofmatch>img{
    /* max-width: 60px; */
    width: 50px;
    height: 50px;
    margin-right: .5%;
    border-radius: 50%;
}
.text{
    height: 45px;
    text-align: center;
    width: 100%;
    border: none;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-image: linear-gradient(#024771, #2796db);
}
.text>p{
    margin-top: 7%;
    font-weight: bold;
    color: #ffffff;
}
.footer{
    display: inline-flex;
    border-top: 1px solid #d3d1d1;
    width: 100%;
    height: 30px;
}
.footer>button{
   outline: none;
   border: none;
   color: #888888;
   width: 50%;
   height: 30px;
   font-size: 1em;
   font-weight: bolder;
   cursor: pointer;
}
.one{
    background-color: none !important;
}
.two{
    background-color: #eeeeee;
}
.three{
    background-color: #eeeeee;

}
@media screen and (min-width:200px) and (max-width:700px){
    .team1,.team2>p{
        font-size: 0.9em;
    }
    .creator{
        margin-top: 12%;
    }
    .result b{
        font-size: 0.7em;
    }
    .username{
        font-size: .6em;
    }
    #creatorname{
        font-size: .8em;
    }
    .eventtext>p{
        font-size: .8em;
    }
    .home .sidenav{
        display: none;
    }
    .msidenav{
        text-align: center;
        display:block;
        margin-top: 24%;
    }
    .rightside {
        width: 100%;
    }
    .outdiv{
        width: 97%;
        /* border: 1px solid blue; */
        margin-left: 0 auto;
    }
    .card{
        width: 100%;
        height: auto;
        /* margin-left: 2%; */
        /* border: 1px solid red; */
    }
    .ffooter{
        clear: both;
        width: 100%;
    }
    .gamename b{
        font-size: 0.8em;
    }
    .gamename p{
        font-size: 0.6em;
    }
    .result p {
        font-size: 0.6em;
    }
    .cardData img{
        height: 35px;
        width: 35px;
    }
    .t1score, .t2score{
        font-size: 0.75em;
    }
    .home{
        margin-top: 10%;
    }
    .footer>button{
        width: 33.5%;
    }
    .container {
        overflow: hidden;
      }
    
  .manofmatch>img{
        max-width: 50px;
        width: 50%;
        height: 40px;
        border-radius: 50%;
    }
    .text{
        text-align: center;
        width: 50%;
        height: 30px;
        margin-top: 1%;
        margin-left: 0.5%;
    }
    .text>p{
        margin-top: 3%;
    }
}
@media screen and (min-width: 701px) and (max-width: 950px){
    .outdiv {
        width: 95%;
        /* border: 1px solid blue; */
        margin-left: 0 auto;
    }
    .ffooter{
        clear: both;
        width: 100%;
    }
    .rightside{
        width: 100%;
        margin-top: 0;
    }
    .msidenav{
        display: block;
    }
    .card{
        width: 100%;
        height: auto;
        /* margin-left: 2%; */
    }

    .footer>a{
        margin-top: 2%;
        margin-left: 20%;
        outline: none;
        outline-color: none;
    }
}

/* +++============= */

.container {
    border: 2px solid #fafafa;
    /* background-color: #fafafa; */
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .container::after {
    content: "";
    clear: both;
    display: grid;
  }
  .profile-data img {
    float: left;
    max-width: 40px;
    width: 40px;
    height: 40px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 50%;
  }
  
  .profile-data h6{
      /* width: 30%; */
      margin-top: 10px;
      letter-spacing: 1px;
      margin-bottom: 5px;
  }
  /* message tags */
  .profile-data{
      float: left;  
      width: 100%;
  }
  .message-outter{
      width: 82%;
      float: left;
  }
  .message{
    background-color: silver; 
    float: left;
    /* margin-top: -3%; */
    line-height: 1.1;
    width: auto;
    height: auto;
    /* text-align: center; */
    border-top-left-radius: 0;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .message p{
      font-weight: lighter;
      padding: 10px;
  }
  .container2 {
    width:100%;
    margin: 0 auto;
    height: auto;
    /* border-right: 1px solid silver; */
    background-color: #fafafa;
  }
  .container2>img{
      margin-top: 4px;
      margin-left: 2%;
      width: 150px;
      border-radius: 2px;
      height: 150px;
      float: left;
      margin:0% 2% 2% 0%; 
  }
  .container2>img:hover{
      transform: scale(1.05);
      transition: 0.3s ease-in;
      cursor: pointer;
  }
  .container3{
    border: 2px solid #fafafa;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  .container3>img{
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%
  }
  .container3::after {
    content: "";
    clear: both;
    display: grid;
  }
  .container3>p{
      margin-top: 3%;
  }

  .details3>button{
      vertical-align: top;
      width: 50%;
      border: none;
      border-right: 2px solid #2796db;
      outline: none;
      height: 30px;
      background-image: linear-gradient(#024771, #2796db);
      color: #ffffff;
      font-size: 1em;
      font-weight: bolder;
      cursor: pointer;
  }