.main-body{
    margin-top: 57.5px;
}
.outer-body{
    /* height: 2000px; */
    overflow: hidden;
}
.tab{
    position: absolute;
    z-index: 100;
    margin-top: 75vh;
    height: 80px;
    width: 350px;
    border-radius: 5px;
    background-color: grey;
    margin-left: 25%;
}
.tab img{
    margin-left: 50px;
    margin-top: 12.5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.tab img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.circle-tab{
    display: none;
    position: absolute;
    z-index: 100;
    margin-top: 68vh;
    height: 80px;
    width: 350px;
    border-radius: 5px;
    margin-left: 25%;
}
.circle{
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid white;
    height: 15px;
    width: 15px;
}
.ffooter{
    width: 84%;
    float: right;
    margin-bottom: 0%;
}
.rightside{
    float: right;
    width: 84%;
    z-index: 10;
    border-bottom: 1px solid #bbbbbb;
    background-color: #dbdada;
}
.c-element{
    overflow: hidden;
    position: relative;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 5px;
}
.c-element img{
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.c-head{
    text-align: left;
    color: black;
    position: absolute;
    background-color: rgba(247, 247, 247, 0.7);
    top: 5%;
    left: 5%;
    width: auto;
    height: 55px;
    line-height: 0.7;
    transform: translate(-10%, -20%);
    font-size: 0.7em;  
}
.c-bottom{
    text-align: left;
    color: black;
    position: absolute;
    background-color: rgba(247, 247, 247, 0.7);
    top: 90%;
    left: 5%;
    width: auto;
    height: 38px;
    line-height: 0.7;
    transform: translate(-10%, -20%);
    font-size: 0.7em;  
}
.topic{
    text-decoration: underline;
    margin-left: 2%;
    margin-top: 2%;
}
.outdiv{
    scroll-snap-align: start;
    width: 60%;
    margin: 0 auto;
    /* margin: 1% 1.1% 0% 10%; */
    border-radius: 2%;
    vertical-align: top;
    min-height: 65vh;
}

.card{
    display: grid;
    width: 100%;
    height: auto;    /* height for comments and etc*/
    /* border: 1px solid #ece9e9; */
    margin-bottom: 2%;
    /* border-radius: 10px; */
    /* box-shadow: 1px 1px 1px #f3f3f3; */
    background-color: #ffffff;
}

.head{
    /* border: 1px solid red; */
    position: relative;
    margin-top: 7px;
    margin-bottom: 10px;
    width: 100%;
    height: 43px;
    line-height: 1.4;
    border-bottom: 1px solid #dddddd;
}
.head>div{
    position: absolute;
    vertical-align: top !important;
}
.gamename {
    height: 100%;
    width: 60%;
    margin-left: 2%;
    float:left;
}
.result {
    margin-left: 68%;
    width: 30%;
    margin-right: 0%;
    justify-content: right;
    /* float: right !important; */
}
.result b,.result p {
    float: right;
}
.result>p>a{
    cursor: pointer;
}
.result b {
    font-weight: 500;
    font-size: .9em;
}
.gamename b {
    font-size: 1em;
}
.gamename p {
    display: none;
    font-size: 0.8em;
    color: #888888;
}
.result p {
    margin-top: -0.5%;
    font-size: 0.8em;
    font-weight: bold;
    color: #5f5e5e;
}
.activitycount{
    position: relative;
    /* border: 1px solid red; */
    margin-bottom: 4%;
}
.activitycount>div{
    position: absolute;
    display: inline-flex;
}
.activitycount>div>img{
    width:40px;
    height:40px;
}
.activitycount>div>p{
    text-align: center;
    margin-top: 10%;
}

.cardData{
    float: left;
    width: 100%;
    height: 73px;
    margin-top: 2%;
}
.cardData>div{
    vertical-align: top;
    margin-top: 0%;
}
.team1 {
    width:33%;
    cursor: pointer;
}
.team2 {
    width:33%;
    cursor: pointer;
}
.t1score {
    width: 33%;
    margin-top: 3% !important;
    font-size: 2em;
}

.team1,.team2 {
    text-align: center;
}
.t1score,.t2score {
    text-align: center;
    margin-top: 7%;
}
.team1,.team2>p{
    text-align: center;
}
.team1>img{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    /* border: 2px solid #bbbbbb; */
}
.team2>img{
   border-radius: 50%;
   height: 80px;
   width: 80px;
   /* border: 2px solid #bbbbbb; */
}


.matchstatus{
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    margin-top: 5%;
}
.matchstatus>textarea{
    display: inline-flex;
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    text-align: center !important;
    font-size: .8em;
    font-weight: bolder;
    color: #000000;
    background-color: white;
}
.matchstatus>p{
    margin-left: 5%;
    font-size: .8em;
}
.performermatch>div{
    display: inline-block;
    justify-content: center !important;
    width: 31%;
    height: auto;
}
.performermatch>p{
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    padding: 1.4%;
    /* margin-bottom: 2%; */
}
.manofmatch{
    display: inline-flex;
    justify-content: center;
    width: 95%;
    margin-left: 3%;
    align-content: center;
    cursor: pointer;
}
.manofmatch>img{
    /* max-width: 60px; */
    width: 50px;
    height: 50px;
    margin-right: .5%;
    border-radius: 50%;
}
.text{
    display: table;
    height: 50px;
    text-align: center;
    width: 100%;
    border: none;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-image: linear-gradient(#024771, #2796db);
}
.text>div{
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: #ffffff;
}
.footer{
    display: inline-flex;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    height: 30px;
}
.footer>button{
   outline: none;
   border: none;
   color: #888888;
   width: 50%;
   height: 30px;
   font-size: 0.9em;
   margin-bottom: 0%;
   cursor: pointer;
}
.one{
    background-color: none !important;
}
.two{
    background-color: #eeeeee;
}
.three{
    background-color: #eeeeee;

}

/* +++============= */

.container {
    /* border: 2px solid #fafafa; */
    border: none;
    border-radius: 5px;
    margin-top: 15px;
  }
  .container>div{
      display: inline-block !important;
      vertical-align: top !important;
  }
  .container::after {
    content: "";
    clear: both;
    display: grid;
  }
  
  /* message tags */
  .profile-data{
      float: left;  
      width: 30%;
      margin-left: 0%;  
      /* border: 3px solid orange; */
  }
  .profile-data>img {
    float: left;
    max-width: 40px;
    width: 40px;
    height: 40px;
    margin: 3% 7% 0% 2%;
    border-radius: 50%;
    cursor: pointer;
  }
  .profile-data>h6{
      cursor: pointer;
    margin-top: 7px;
    letter-spacing: 1px;
    line-height: 2ch;
    font-size: 1em;
}
.profile-data>h6 p{
    line-height: 3ch;
    font-size: 0.8em;
    color: #888888;
    cursor: pointer;
}
  .message-outter{
      vertical-align: top !important;
      width: 65%;
      float: right;
  }
  .message{
    background-color: rgb(241, 239, 239); 
    float: left;
    line-height: 1.1;
    width: auto;
    height: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .message p{
      font-weight: lighter;
      padding: 10px;
  }
  .message>p b{
      color:#888888;
      font-weight: lighter;
      font-size: 0.6em;
      float: right;
      margin-top: 5px; 
      margin-bottom: 2px;
  }
  .container2 {
    width:100%;
    margin: 0 auto;
    height: auto;
    background-color: #fafafa;
  }
  .container2>img{
      margin-top: 4px;
      margin-left: 2%;
      width: 150px;
      border-radius: 2px;
      height: 150px;
      float: left;
      margin:0% 2% 2% 0%; 
  }
  .container2>img:hover{
      transform: scale(1.05);
      transition: 0.3s ease-in;
      cursor: pointer;
  }
  .container3{
    text-align: center;
    border: 2px solid #fafafa;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  .container3>img{
      cursor: pointer;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%
  }
  .container3>p{
      cursor: pointer;
      text-align: center;
      margin-left: -3%;
  }
  .container3::after {
    content: "";
    clear: both;
    display: grid;
  }
  .details{
      max-height: 400px;
      min-height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
  }
  .details::-webkit-scrollbar {
    width: 5px;
    background-color: white;
  }
  .details::-webkit-scrollbar-track {
    box-shadow: none;
    color:white;
  }
  .details3{
    max-height: 400px;
    min-height: 400px;
    overflow-y: scroll;
  }
  .details3>button{
      vertical-align: top;
      width: 50%;
      height: 40px;
      font-size: lighter;
      letter-spacing: 1px;
      border: 2px solid #024771; 
      outline: none;
      padding: 10px;
      background-color: #024771;
      color: #ffffff;
      font-size: 0.9em;
      cursor: pointer;
  }


  .fulllength {
    position: relative;
    display: inline-block;
  }
  .fulllength>h6{
      color: #024771;
  }
  
  .fulllength .addresstext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    margin-left: -120%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .fulllength .addresstext::after {
    content: "";
    transform:translate(-50%,50%) rotate(60deg);
    position: absolute;
    bottom: 100%;
    left: 52%;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .fulllength:hover .addresstext {
    visibility: visible;
    opacity: 1;
  }
  /* =============== */
  /* crousal */
  .media-crousal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 40;
    top: 0%;
}
.pop-crousal{
    width: 60%;
    height: 550px;
    margin: 8% 20% 0% 20%;
    border-radius: 5px;
    z-index: 20;
    position: fixed;
    text-align: center;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: scroll;
    white-space: nowrap !important;
    display: inline-block;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-x: repeat(100%);
}
.pop-crousal::-webkit-scrollbar{
    display: none;
}

.crousal-element{
    overflow: hidden;
    position: relative;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 5px;
    background-color: #ffffff;
}
.crousal-element>img{
    height: 100%;
    width: 60%;
    border-radius: 5px;
}
.crousal-element::before{   /*  use for top gradient on image */
    content: "";
    top: 80%;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.0) 0%,
    rgb(36, 35, 35) 20%
    );
}
.crousal-element:before {     /*  use for top gradient on image */
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(
        to bottom, 
        rgba(64,64,64,1) 0%, 
        rgba(64,64,64,0) 10%, 
        rgba(64,64,64,0) 90%, 
        rgba(64,64,64,1) 100%
    ); 
}

.close{
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 5% 20% 0% 0%;
}
.close>img{
    height: 25px;
    width: 25px;
    transition: 0.3s ease-in-out;
}
.close img:hover{
    transform: scale(1.1);
}
.larrow{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 43vh;
    left: 17%;
}
.larrow>img{
    height: 30px;
    width: 30px;
    transition: 0.3s ease-in-out;
}
.larrow img:hover{
    transform: scale(1.1);
}
.rarrow{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 42vh;
    right: 16%;
}
.rarrow>img{
    height: 30px;
    width: 30px;
    transition: 0.3s ease-in-out;
}
.rarrow img:hover{
    transform: scale(1.1);
}
.uploader-info{
    z-index: 1;
    position: absolute;
    width: 30%;
    height: 14%;
    top: 1% !important;
    margin-left: 2%;
}

.uploader-info>img{
    margin: 2% 0% 0% 5%;
    float: left;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
}
.uploader-info>div{
    display: inline-block;
}
.uploader-name{
    width: 70%;
    float: left;
}
.uploader-name>p{
    margin: 3% 0% 0% 5%;
    float: left;
    font-size: 1em;
    color: #ffffff;
    font-weight: bold;
    
}
.uploader-name>h6{
    position: absolute;
    /* border: 1px solid red; */
    margin: 4% 0% 0% 4%;
    float: left;
    color: #ffffff;
    font-size: .8em;
}
.likeCount{
    position: absolute;
    width: 18%;
    z-index: 1;
    bottom: 2%;
}
.likeCount>img{
    margin-left: 5%;
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.likeCount>b{
    top: 4%;
    font-size: 1em;
    color: #ffffff;
    vertical-align: top;
}
.past-time{
    position: absolute;
    width: 5%;
    z-index: 1;
    bottom: 2.5%;
    right: 8%;
}
.past-time>h5{
    color: #ffffff;
    font-weight: lighter;
    font-size: .9em;
}
@media screen and (min-width:200px) and (max-width:700px){
    .team1,.team2>p{
        font-size: 0.9em;
    }
    .creator{
        margin-top: 12%;
    }
    .username{
        font-size: .6em;
    }
    #creatorname{
        font-size: .8em;
    }
    .eventtext>p{
        font-size: .8em;
    }
    .home .sidenav{
        display: none;
    }
    .msidenav{
        text-align: center;
        display:block;
        margin-top: 24%;
    }
    .rightside {
        margin-top: 3%;
        width: 100%;
        background-color: #ffffff;
    }
    .outdiv{
        width: 97%;
        /* border: 1px solid blue; */
        margin-left: 0 auto;
    }
    .card{
        width: 100%;
        height: auto;
        /* margin-left: 2%; */
        /* border: 1px solid red; */
    }
    .ffooter{
        clear: both;
        width: 100%;
    }
    .head{
        height: 50px;
        /* border: 1px solid red; */
        margin-top: -0.5%;
    }

    .gamename{
        padding-bottom: 1%;
        /* border: 1px solid red; */
        width: 60%;
        margin-left: 1%;
    }
   
    .gamename b{
        font-size: 0.8em;
    }
    .gamename p{
        display: block;
        font-size: 0.5em;
        font-weight: bolder;
        color: #024771;
    }
    .fulllength>h6{
        display: none;
    }
  
    .result{
        padding-bottom: 1%;
        width: 35%;
        margin-left: 60%;
    }
    .result b{
        margin-top: 4px;
        font-size: 0.7em;
    }
    .result p {
        font-size: 0.7em;
    }
    .cardData img{
        height: 35px;
        width: 35px;
    }
    .t1score, .t2score{
        font-size: 1em;
    }
    .home{
        margin-top: 10%;
    }
    .footer>button{
        width: 33.5%;
    }
    .container {
        overflow: hidden;
      }
      /* .profile-data{
          width: 25%;
      }  */
      .profile-data>h6{
        margin-top: 7px;
        letter-spacing: 1px;
        line-height: 2ch;
        font-size: 0.7em;
    }
    .profile-data>h6 p{
        line-height: 3ch;
        font-size: 0.7em;
        color: #888888;
    } 
  .manofmatch>img{
        max-width:40px;
        height: 40px;
        width: 50%;
        margin-right:1%;
    }
    .text{
        text-align: center;
        width: 100%;
        height: auto;
        margin-top: 1%;
        margin-left: 0.5%;
    }
    .text>p{
        width: 100%;
        margin-top: 3%;
    }
    .activitycount{
        margin-bottom: 10%;
    }
    .pop-crousal{
        width: 80%;
        height: 500px;
        margin: 18% 10% 0% 10%;
    }
    .close{
        height: 20px;
        width: 20px;
        margin: 10% 10% 0% 0%;
    }
    .close>img{
        height: 20px;
        width: 20px;
    }

    .larrow{
        height: 30px;
        width: 30px;
        top: 43vh;
        left: 2%;
    }
    .larrow>img{
        height: 25px;
        width: 25px;
    }
    .rarrow{
        height: 30px;
        width: 30px;
        top: 42vh;
        right: 1%;
    }
    .rarrow>img{
        height: 25px;
        width: 25px;
    }
    .past-time{
        width: 5%;
        bottom: 2.5%;
        right: 25%;
    }
    .past-time>h5{
        font-size: .7em;
    }
    .uploader-info{
        width: 80%;
        height: 14%;
        top: 1% !important;
        margin-left: 2%;
    }
    .uploader-info>img{
        margin: 2% 0% 0% 5%;
        width: 40px;
        height: 40px;
    }
    .likeCount{
        left: 5%;
        width: 18%;
        bottom: 2%;
    }
    .likeCount>b{
        font-size: .9em;
    }
    .likeCount>img{
        margin-left: 5%;
        width: 15px;
        height: 15px;
        vertical-align: top;
    }
 }
@media screen and (min-width: 701px) and (max-width: 950px){
    .outdiv {
        width: 95%;
        /* border: 1px solid blue; */
        margin-left: 0 auto;
    }
    .ffooter{
        clear: both;
        width: 100%;
    }
    .rightside{
        width: 100%;
        margin-top: 0;
    }
    .msidenav{
        display: block;
    }
    .card{
        width: 100%;
        height: auto;
        /* margin-left: 2%; */
    }

    .footer>a{
        margin-top: 2%;
        margin-left: 20%;
        outline: none;
        outline-color: none;
    }
    .pop-crousal{
        width: 80%;
        height: 650px;
        margin: 18% 10% 0% 10%;
    }
    .close{
        height: 20px;
        width: 20px;
        margin: 14% 10% 0% 0%;
    }
    .close>img{
        height: 20px;
        width: 20px;
    }

    .larrow{
        height: 30px;
        width: 30px;
        top: 43vh;
        left: 4%;
    }
    .larrow>img{
        height: 25px;
        width: 25px;
    }
    .rarrow{
        height: 30px;
        width: 30px;
        top: 42vh;
        right: 4%;
    }
    .rarrow>img{
        height: 25px;
        width: 25px;
    }
    .past-time{
        width: 5%;
        bottom: 2.5%;
        right: 15%;
    }
    .past-time>h5{
        font-size: 1em;
    }
    .uploader-info{
        width: 80%;
        height: 14%;
        top: 1% !important;
        margin-left: 2%;
    }
    .uploader-info>img{
        margin: 2% 0% 0% 5%;
        width: 50px;
        height: 50px;
    }
    .likeCount{
        left: 5%;
        width: 18%;
        bottom: 2%;
    }
    .likeCount>b{
        font-size: 1em;
    }
    .likeCount>img{
        margin-left: 5%;
        width: 25px;
        height: 25px;
        vertical-align: top;
    }
    .uploader-name>p{
        margin: 3% 0% 0% 5%;
        font-size: 1.3em;
    }
    .uploader-name>h6{
        margin: 4% 0% 0% 4%;
        font-size: .9em;
    }
}

