<sports-social-header></sports-social-header>
<h1>Sports Social Terms of Service</h1>

<h3>
    These Terms of Service (“Terms”) govern your access to and use of our Services, 
    including our various websites, SMS, APIs, email notifications, applications, buttons, 
    widgets, ads, commerce services (the “Sports Social Services”), and any information, text,
    graphics, photos or other materials uploaded, downloaded or appearing on the Services 
    (collectively referred to as “Content”). Your access to and use of the Services are 
    conditioned on your acceptance of and compliance with these Terms. By accessing or using the 
    Services you agree to be bound by these Terms
</h3>

<ul >
    <li *ngFor = "let service of termsOfServices; let i = index">
       {{service}}
    </li>
</ul>

<h2 >Basic Term</h2>

<p>
    You are responsible for your use of the Services, for any Content you post to the Services, 
    and for any consequences thereof. Most Content you submit, post, or display through the Sports
    Social Services is public by default and will be able to be viewed by other users and through 
    third party services and websites. You should only provide Content that you are comfortable 
    sharing with others under these Terms.
</p>
<br>
<br>
<p>
    You may use the Services only if you can form a binding contract with Sports Social and are 
    not a person barred from receiving services under the laws of the India. If you are accepting 
    these Terms and using the Services on behalf of a company, organization, government, or other 
    legal entity, you represent and warrant that you are authorized to do so. You may use the 
    Services only in compliance with these Terms and all applicable local, state, national, and 
    international laws, rules and regulations.
</p>
<br>
<br>
<p>
    The Services that Sports Social provides are always evolving and the form and nature of the
    Services that Sports Social provides may change from time to time without prior notice to 
    you. In addition, Sports Social may stop (permanently or temporarily) providing the Services 
    (or any features within the Services) to you or to users generally and may not be able to 
    provide you with prior notice. We also retain the right to create limits on use and storage at
    our sole discretion at any time without prior notice to you.
</p>
<br>
<br>
<p>
    The Services may include advertisements, which may be targeted to the Content or information 
    on the Services, queries made through the Services, or any other information. The types and 
    extent of advertising by Sports Social on the Services are subject to change. In consideration
    for Sports Social granting you access to and use of the Services, you agree that Sports Social
    and its third party providers and partners may place such advertising on the Services or in 
    connection with the display of Content or information from the Services whether submitted by 
    you or others.
</p>
<br>

<h2>Privacy</h2>

<p>
    Any information that you or other users provide to Sports Social is subject to our Privacy 
    Policy which governs our collection and use of your information. You understand that through 
    your use of the Services you consent to the collection and use (as set forth in the Privacy 
    Policy) of this information for storage, processing and use by Sports Social. As part of 
    providing you the Services, we may need to provide you with certain communications, such as 
    service announcements and administrative messages. These communications are considered part 
    of the Services and your account, which you may not be able to opt-out from receiving.
</p>

<h2>Content on the Services</h2>

<p>
    All Content, whether publicly posted or privately transmitted, is the sole responsibility of 
    the person who originated such Content. We may not monitor or control the Content posted via 
    the Services and, we cannot take responsibility for such Content. Any use or reliance on any 
    Content or materials posted via the Services or obtained by you through the Services is at 
    your own risk.
</p>
<br>
<br>
<p>
    We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy,
    or reliability of any Content or communications posted via the Services or endorse any 
    opinions expressed via the Services. You understand that by using the Services, you may be 
    exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, 
    or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no 
    circumstances will Sports Social be liable in any way for any Content, including, but not 
    limited to, any errors or omissions in any Content, or any loss or damage of any kind 
    incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made 
    available via the Services or broadcast elsewhere.
</p>
<br>
<h2>Your Rights</h2>

<p>
    You retain your rights to any Content you submit, post or display on or through the Services.
    By submitting, posting or displaying Content on or through the Services, you grant us a 
    worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, 
    reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in 
    any and all media or distribution methods (now known or later developed).
</p>
<br><br>
<p>
    You agree that this license includes the right for Sports Social to provide, promote, and 
    improve the Services and to make Content submitted to or through the Services available to 
    other companies, organizations or individuals who partner with Sports Social for the 
    syndication, broadcast, distribution or publication of such Content on other media and 
    services, subject to our terms and conditions for such Content use.
</p>
<br><br>
<p>
    Such additional uses by Sports Social, or other companies, organizations or individuals who 
    partner with Sports Social, may be made with no compensation paid to you with respect to the 
    Content that you submit, post, transmit or otherwise make available through the Services.
</p>
<br><br>
<p>
    We may modify or adapt your Content in order to transmit, display or distribute it over 
    computer networks and in various media and/or make changes to your Content as are necessary 
    to conform and adapt that Content to any requirements or limitations of any networks, 
    devices, services or media.
</p>
<br><br>
<p>
    You are responsible for your use of the Services, for any Content you provide, and for any 
    consequences thereof, including the use of your Content by other users and our third party 
    partners. You understand that your Content may be syndicated, broadcast, distributed, or 
    published by our partners and if you do not have the right to submit Content for such use, 
    it may subject you to liability. Sports Social will not be responsible or liable for any use 
    of your Content by Sports Social in accordance with these Terms. You represent and warrant 
    that you have all the rights, power and authority necessary to grant the rights granted 
    herein to any Content that you submit.
</p>
<br>
<h2>Your License To Use the Services</h2>

<p>
    Sports Social gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive 
    license to use the software that is provided to you by Sports Social as part of the Services. 
    This license is for the sole purpose of enabling you to use and enjoy the benefit of the 
    Services as provided by Sports Social, in the manner permitted by these Terms.
</p>
<br>
<h2>Sports Social Rights</h2>

<p>
    All right, title, and interest in and to the Services (excluding Content provided by users) 
    are and will remain the exclusive property of Sports Social and its licensors. The Services 
    are protected by copyright, trademark, and other laws of India. Nothing in the Terms gives 
    you a right to use the Sports Social name or any of the Sports Social trademarks, logos, 
    domain names, and other distinctive brand features. Any feedback, comments, or suggestions 
    you may provide regarding Sports Social, or the Services is entirely voluntary and we will be 
    free to use such feedback, comments or suggestions as we see fit and without any obligation 
    to you.
</p>
<br>
<h2>Restrictions on Content and Use of the Services</h2>

<p>
    We reserve the right at all times (but will not have an obligation) to remove or refuse to 
    distribute any Content on the Services, to suspend or terminate users, and to reclaim usernames 
    without liability to you. We also reserve the right to access, read, preserve, and disclose 
    any information as we reasonably believe is necessary to - (i) satisfy any applicable law, 
    regulation, legal process or governmental request (ii) enforce the Terms, including 
    investigation of potential violations hereof (iii) detect, prevent, or otherwise address fraud,
    security or technical issues (iv) respond to user support requests, or (v) protect the rights, 
    property or safety of Sports Social, its users and the public.
</p>

<br>

<h2>Copyright Policy</h2>

<p>
    Sports Social respects the intellectual property rights of others and expects users of the 
    Services to do the same. We will respond to notices of alleged copyright infringement that 
    comply with applicable law and are properly provided to us. If you believe that your Content 
    has been copied in a way that constitutes copyright infringement, please provide us with the 
    following information:
</p>

<ul>
    <li>A physical or electronic signature of the copyright owner or a person authorized to act 
        on their behalf;
    </li>
    <li>
        Identification of the copyrighted work claimed to have been infringed;
    </li>
    <li>
        Identification of the material that is claimed to be infringing or to be the subject of 
        infringing activity and that is to be removed or access to which is to be disabled, and 
        information reasonably sufficient to permit us to locate the material
    </li>
    <li>
        Your contact information, including your address, telephone number, and an email address
    </li>
    <li>
        A statement by you that you have a good faith belief that use of the material in the 
        manner complained of is not authorized by the copyright owner, its agent, or the law
    </li>
    <li>
        A statement that the information in the notification is accurate, and, under penalty 
        of perjury, that you are authorized to act on behalf of the copyright owner.
    </li>
</ul>

<br>
<h2>Ending These Terms</h2>

<p>
    The Terms will continue to apply until terminated by either you or Sports Social as follows.
</p>

<br><br>
<p>
    You may end your legal agreement with Sports Social at any time for any or no reason by 
    discontinuing your use of the Services. You do not need to specifically inform Sports Social 
    when you stop using the Services.
</p>

<br><br>
<p>
    We may suspend or terminate your accounts or cease providing you with all or part of the 
    Services at any time for any or no reason, including, but not limited to, if we reasonably 
    believe:
</p>

<ul>
    <li>
        You have violated these Terms
    </li>
    <li>
        You create risk or possible legal exposure for us; or
    </li>
    <li>
        Our provision of the Services to you is no longer commercially viable. We will make 
        reasonable efforts to notify you by the email address associated with your account or 
        the next time you attempt to access your account.
    </li>
</ul>

<br>

<h2>Disclaimers and Limitations of Liability</h2>
<h4>The Services are Available “AS-IS”</h4>
<br>
<p>
    Your access to and use of the Services or any Content are at your own risk. You understand and 
    agree that the Services are provided to you on an “AS IS” and “AS AVAILABLE” basis. Without 
    limiting the foregoing, to the maximum extent permitted under applicable law, THE SPORTS SOCIAL
    ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
</p>

<br><br>
<p>
    The Sports Social Entities make no warranty or representation and disclaim all responsibility 
    and liability for:
</p>

<br>
<ul>
    <li>
        The completeness, accuracy, availability, timeliness, security or reliability of the 
        Services or any Content
    </li>
    <li>
        Any harm to your computer system, loss of data, or other harm that results from your 
        access to or use of the Services or any Content
    </li>
    <li>
        The deletion of, or the failure to store or to transmit, any Content and other 
        communications maintained by the Services; and
    </li>
    <li>
        Whether the Services will meet your requirements or be available on an uninterrupted, 
        secure, or error-free basis. No advice or information, whether oral or written, 
        obtained from the Sports Social Entities or through the Services, will create any 
        warranty or representation not expressly made herein
    </li>
</ul>
<br>
<h4>Links</h4>

<p>
    The Services may contain links to third-party websites or resources. You acknowledge and 
    agree that the Sports Social Entities are not responsible or liable for:
</p>
<ul>
    <li>
        The availability or accuracy of such websites or resources; or
    </li>
    <li>
        The content, products, or services on or available from such websites or resources. Links
        to such websites or resources do not imply any endorsement by the Sports Social Entities 
        of such websites or resources or the content, products, or services available from such 
        websites or resources. You acknowledge sole responsibility for and assume all risk arising 
        from your use of any such websites or resources.
    </li>
</ul>
<br>
<h4> Limitation of Liability</h4>
<p>
    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SPORTS SOCIAL ENTITIES SHALL NOT BE 
    LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS 
    OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, 
    GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM
</p>
<ul>
    <li>
        YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES;
    </li>
    <li>
        ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, 
        ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; 
    </li>
    <li>
        ANY CONTENT OBTAINED FROM THE SERVICES; OR  UNAUTHORIZED ACCESS, USE OR ALTERATION OF
        YOUR TRANSMISSIONS OR CONTENT.
    </li>
</ul>
<br><br>
<p>
    THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON 
    WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE
    SPORTS SOCIAL ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF
    A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
</p>

<br>

<h2>General Terms</h2>

<br>
<h4>Entire Agreement</h4>
<br>
<p>
    These Terms, for the Sports Social Services, and our are the entire Privacy Policy and 
    exclusive agreement between Sports Social and you regarding the Services, and these Terms 
    supersede and replace any prior agreements between Sports Social and you regarding the 
    Services. Other than members of the group of companies of which Sports Social, Inc. is 
    the parent, no other person or company will be third party beneficiaries to the Terms.
</p>

<br><br>
<p>
    We may revise these Terms from time to time, the most current version will always be at
    Sports Social.in/. If the revision, in our sole discretion, is material we will notify you 
    via an update or e-mail to the email associated with your account. By continuing to access or 
    use the Services after those revisions become effective, you agree to be bound by the revised Terms.
</p>
<sports-social-footer></sports-social-footer>