<div class="sports-social-card" >
  <div class="sports-social-card-header">
    <div class="userImage">
      <img src="{{doerPic}}"  (error)="defaultImage()" #userImg>
    </div>
    <div class="matchDetails">
      <div class="userName">{{doerName}} </div>
      <span class="activity-name">{{activityName}}</span>
      <div class="gameName">{{gameName}} Match</div>
      <div class="activityDate">{{matchDate}}</div>
    </div>
    <div class="match-date">
      <img src="assets/images/sports-social-clock.png" alt="">
     <span>{{activityDate}}</span> 
    </div>
    <div class="restrictionCount">{{joineeCount}} playing</div>
  </div>
  <div class="matchText">{{matchText}}</div>
  <div class="matchImage" (click) = "openPopUp(eventId, gameName, $event )">
    <img src="{{matchImage}}" alt="">
  </div>
  <div class="action-count" #actionsCount>
    <a href="#" *ngIf="commentCount > 0">
      {{commentCount}} 
      <span>{{commentCount > 1 ? 'Comments' : 'Comment'}}</span>  
    </a>
    <a href="#" *ngIf="promoteCount > 0">
      {{promoteCount}} 
      <span>{{promoteCount > 1 ? 'Promotes' : 'Promote'}}</span>  
    </a>
    <a href="#" *ngIf="watchCount > 0">
      {{watchCount}} 
      <span>Watching</span> 
    </a>
  </div>
  <div class="actions-match">
    <button class="playButton" (click)="openAppDownloadPopup()">
      <img src="assets/images/sports-social-play.png" alt=""> <span>Play</span>  
    </button>
    <button class="commentButton" (click)="openAppDownloadPopup()">
      <img src="assets/images/sports-social-match-talks.png" alt=""><span>Comment</span>  
    </button>
    <button class="promoteButton" (click)="openAppDownloadPopup()">
      <img src="assets/images/sports-social-promote.png" alt=""> <span>Promote</span>
    </button>
    <button class="watchButton" (click)="openAppDownloadPopup()">
      <img src="assets/images/sports-social-watching.png" alt=""> <span>Watch</span>
    </button>
  </div>
</div>


