<div class="footer-outer-shell">
<div class="body">
    <div class="content">
      <a routerLink="/about" (click)="topscroll()"><p>About</p></a>
      <!-- <a ><p>Company</p></a>
      <a><p>Values</p></a> -->
      <a href="https://www.chaseyoursport.com" target="_blank" (click)="topscroll()"><p>Blog</p></a>
      <a routerLink="/ourTeam" (click)="topscroll()"><p>Our Team</p></a>
      
    </div>
  
    <div class="content">
       <!-- <a routerLink="/HelpCenter"> <h4>Help Center</h4></a> -->
       <a routerLink="/HelpCenter" (click)="topscroll()"> <p>Help</p></a>
       <a routerLink="/contactus" (click)="topscroll()"><p>Contact Us</p></a>
       <a routerLink="/localityprofile" (click)="topscroll()"><p>Locality</p></a> 
       <!-- <a> <p>Getting Started</p></a>
       <a> <p>My Account</p></a>
       <a> <p>Using My Locality</p></a> -->
      </div>
  
      <div class="content">
          <a routerLink="/Privacy Policy" (click)="topscroll()"> <p>Privacy Policy</p></a>
          <a routerLink="/Terms Of Service" (click)="topscroll()"><p>Terms & conditions</p></a>
         <!-- <a routerLink> <h4>What's Going Around</h4></a> -->
         <!-- <a routerLink="/OpenArena"> <h4>Open Arena</h4></a>
         <a routerLink="/AroundTheWorld"><p>Around The World</p></a> -->
        </div>

        <!-- <p>&copy; 2017 CnP Sports Services Private Limited</p> -->
  </div>
  <div class="follow">
    <a>Follow Us</a>
    <a href="https://www.facebook.com/chaseyoursport/" target="_blank">
      <img src="assets/images/sportsocialfacebook.png">
    </a>
    <a href="https://in.linkedin.com/company/sports-social" target="_blank">
      <img src="assets/images/sportsociallinkedin.png">
    </a>
    <a href="https://www.twitter.com/chaseyoursport" target="_blank">
      <img src="assets/images/sportsocialtwitter.png">
    </a>
    <a href="https://www.instagram.com/chaseyoursport" target="_blank">
      <img src="assets/images/sportsocialinstagram.png">
    </a>
    <div class="app">
      <a href="https://play.google.com/store/apps/details?id=in.sportsocial.sportsocial&hl=en">App</a>
      <a href="https://play.google.com/store/apps/details?id=in.sportsocial.sportsocial&hl=en" target="_blank">
        <img src="assets/images/logo white.png">
      </a>
    </div>
</div>
</div>