<div class="body">
    <div class="content">
      <a routerLink="/about"><h4>About</h4></a>
      <a ><p>Company</p></a>
      <a><p>Values</p></a>
      <a href="https://www.chaseyoursport.com"><p>Blog</p></a>
      <a routerLink="/Privacy Policy"> <p>Privacy Policy</p></a>
      <a routerLink="/Terms Of Service"><p>Terms and conditions</p></a>
    </div>
  
    <div class="content">
       <a routerLink="/HelpCenter"> <h4>Help Center</h4></a>
       <a routerLink="/contactus"><p>Contact Us</p></a>
       <a> <p>Getting Started</p></a>
       <a> <p>My Account</p></a>
       <a> <p>Using My Locality</p></a>
      </div>
  
      <div class="content">
         <a routerLink> <h4>What's Going Around</h4></a>
         <a routerLink="/OpenArena"> <p>Open Arena</p></a>
         <a routerLink="/AroundTheWorld"><p>Around The World</p></a>
        </div>
  
        <p>&copy; 2017 CnP Sports Services Private Limited</p>
  </div>