.yea {
    position: relative;
    z-index: 15;
    background-image: url('/assets/images/sportsocialteamviewheader.jpg');
    height: 220px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.app {
    float: right;
}
.app img{
    height: 30px;
    width: 30px;
}
.app a{
    color: white;
}
.body{
    z-index: 15;

    padding-top: 10px;
    margin: 0 auto;
    width: 80%;
    position: relative;
    bottom: 0%;
}
.body>div{
    display: inline-block;
}
.content{
    display: block;
    color: #ffffff;
    width: 20%;
    margin-left: 5%;
    vertical-align: top;
}
.content>a>h4{
    font-size: 1.3em;
    font-weight: bolder;
}

.content>a>p{
    font-size: 1em;
}
.content>a>h4,p{
    color: #ffffff;
    padding:2.5%;
}
.body>p{
    font-size: 0.5em;
    color: #bbbbbb;
}
.follow {
    vertical-align: middle;
    margin: 0 auto;
    width: 80%;
    margin-top:35px;
    border-top: 1.5px solid rgb(170, 169, 169);
    border-bottom: 1.5px solid rgb(170, 169, 169);
    /* text-align: center; */
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.follow img{
    vertical-align: middle;
}
.follow a{
    padding: 10px;
}
.follow a img:hover{
    transform: scale(1.1);
}
@media screen and (min-width:200px) and (max-width:800px){
    .body{
        height: 110px;
    }
    .follow{
        height: 60px;
    }
    .follow a{
        padding: 5px;
    }
    .yea{
        height: 270px;
    }
    .app{
        margin-top: 3%;
    }
    .content>a>h4{
        font-size: .7em;
        font-weight: bolder;
    }
    .content>a>p{
        font-size: .7em;
    }
    .content>a>h4,p{
        padding:8%;
    }
    .app{
        float: left;
    }
}
@media screen and (min-width:750px) and (max-width:1100px){
    .body{
        margin-top: 10%;
        height: 140px;
    }
    .yea{
        height: 280px;
    }
    .follow {
        height: 37px;
    }
    .app {
        margin-top: 0;
        float: right;
    }
}
