<div class="outer-shell">
  <div class="profile-shell" *ngFor="let data of array">
    <div class="background-img">
        <img src={{data.coverpic}} onerror="this.src='src/assets/images/sports-bible-default.jpg'">
    </div>
    <div class="profile-img">
      <img src={{data.profile_image}}>
    </div>
    <div class="team-info"></div>
    <div class="side-shell">
      <div class="userinfo">
          <p>{{data.Gender}}</p>
          <p>{{data.City}}</p>
      </div>
    </div>
  </div>
  
</div>