<sports-social-header></sports-social-header>
<br><br><br>
<div class="dview">
<div class="container" style="background-image: url('/assets/images/sportsociallocality.png'); background-size: 100% 100%;">
  
  <div class="centered-div">
    <div class="innerbox"><h1>Sports Social</h1>
    <br>
     <p>{{ photo }}</p>
    <br>
    <button>Create</button></div>
  </div>
  
  <div class="centered-div1">
    <div class="innerbox1"><h1>Locality</h1>
    <br>
     <p>{{ photo }}</p>
  </div>  
</div>
</div>
<img class="spinner" style="height: 70px; width:60px;" src="assets/images/sports-social-loading.gif" *ngIf = "lvdata.length === 0" alt="">
<div class="container2" *ngFor="let data of lvdata">
    <br><br><br><br><br><br>
  <div class="content" *ngIf = "data.id % 2 === 0">
    <h1>{{data.name}}</h1>
    <p>{{data.shortDesc}}</p>
  </div>
  <div class="content-gif" *ngIf = "data.id % 2 === 0">
    <img src="{{data.icon}}">
  </div>


  <div class="contentt" *ngIf = "data.id % 2 != 0">
      <h1>{{data.name}}</h1>
      <p>{{data.shortDesc}}</p>
    </div>
    <div class="contentt-gif" *ngIf = "data.id % 2 != 0">
      <img src="{{data.icon}}">
    </div>
</div>
</div>
<br><br><br>

<!-- mobile view -->
<div class="mview">
    <div class="mbox"><h1>Sports Social</h1>
      <br><br>
       <p>{{ photo }}</p>
      <br><br>
      <button>Create</button></div>
      <br><br>
<img src="/assets/images/sportsociallocality1.png">
<div class="mbox"><h1>Locality</h1>
  <br><br>
   <p>{{ photo }}</p>
  <br><br>
</div>
<img style="height:60px; width:60px;" src="assets/images/sports-social-loading.gif" *ngIf = "lvdata.length === 0" alt="">
<div class="mboxx" *ngFor="let data of lvdata">
  <br>
    <h1>{{data.name}}</h1> 
    <br>
  <img src="{{data.icon}}">
  <br><br>
   <p>{{ data.shortDesc }}</p>
  <br><br>
</div>
</div>
<br><br><br>
<sports-social-backfooter></sports-social-backfooter>