
<div class="body">
    <img class="spinner" src="assets/images/sports-social-loading.gif" *ngIf="array.length === 0" alt="">
      <div class="container" *ngFor="let data of array">
        <img src={{data.profile_image}} onerror="this.src='assets/images/user.png'">
        <p>{{data.user_name}}</p>
        <h6>{{data.City}} <p (click)="changeroute(data.user_name,data.user_id)">View Profile ></p></h6>
      </div>
  <div>
  </div>
</div>
<div class="backfooter">
    <sports-social-backfooter></sports-social-backfooter>
  </div>