<sports-social-header></sports-social-header>


<div class="fanslist">
    <img (click)="closefan()" class="closelist" src="assets/images/close.png" alt="">
  <div class="list" (scroll)="onscroll($event)">
    <div *ngFor="let data of Fans" class="listItem">
      <div class="Pimage">
          <img src={{data.profile_image}} onerror="this.src='assets/images/user.png'">
      </div>
      <div class="fansname">
          <p (click)="changeroute(data.user_id)">{{data.user_name}}</p>
          <h6 (click)="changeroute(data.user_id)">@{{data.UniqueName}}</h6>
      </div>
      <div class="btn">
        <button (click)="openAppDownloadPopup()">Follow</button>
     </div>
    </div>
  </div>
</div>

<div class="followerlist">
    <img (click)="closefollower()" class="closelist" src="assets/images/close.png" alt="">
    <div class="list" (scroll)="onscrollf($event)">
        <div *ngFor="let data of Followers" class="listItem">
            <div class="Pimage">
                <img src={{data.profile_image}} onerror="this.src='assets/images/user.png'">
            </div>
            <div class="fansname">
                <p (click)="changeroute(data.user_id)">{{data.user_name}}</p>
                <h6 (click)="changeroute(data.user_id)">@{{data.UniqueName}}</h6>
            </div>
            <div class="btn">
              <button (click)="openAppDownloadPopup()">Follow</button>
           </div>
          </div>
    </div>
</div>
<div class="outer-shell">
  <div class="profile-shell">
    <div class="background-img">
        <img src={{coverpic}} onerror="this.src='/assets/images/sportsocialteamviewheader.jpg'">
     </div>
      <div class="profile-img">
        <img src={{profile_image}} onerror="this.src='assets/images/user.png'">
       </div>
          <div class="profile-info">
            <div class="name">
              <h1>{{FirstName}}</h1>
              <h2>@{{UniqueName}}</h2>
            </div>
            <div class="follow" (click)="openAppDownloadPopup()">
              <h1>Follow</h1>
            </div>
            <img src="assets/images/sportsocialchat.png" (click)="openAppDownloadPopup()" style="cursor:pointer" alt="">
          </div>
            <div class="sub-header">
              <img class="profile-pic" src="{{profile_image}}" onerror="this.src='assets/images/user.png'" alt="">  
                <div class="fans">
                  <div class="userfans" (click)="openFanFunc()">
                    <h1>Fans</h1>
                    <h2>{{Fancount}}</h2>
                </div>
                <div class="userfollowers" (click)="openFollowerFunc()">
                  <h1>Following</h1>
                  <h2>{{FollowingCount}}</h2>
                </div>
                  </div>
                  <div class="sub-name">
                      <h1>{{FirstName}}</h1>
                      <h2>@{{UniqueName}}</h2>
                    </div>
              <div class="sub-follow" (click)="openAppDownloadPopup()">
                  <h1>Follow</h1>
                </div>
                <img  class="sub-follow-img" src="assets/images/sportsocialchat.png"  (click)="openAppDownloadPopup()" alt="">  
          </div>  
     </div>
     <div class="mobilefollower">
       <div (click)="openFanFunc()" class="mfan">
          <h1>Fans</h1>
          <h2>{{Fancount}}</h2>
       </div>
        <div (click)="openFollowerFunc()" class="mfollow">
            <h1>Follow</h1>
            <h2>{{FollowingCount}}</h2>
        </div>
        
    </div>
      <div class="side-shell">
        <div class="stick">
          <div class="followers">
            <div class="userfans" (click)="openFanFunc()">
                <h1>Fans</h1>
                <h2>{{Fancount}}</h2>
            </div>
            <div class="userfollowers" (click)="openFollowerFunc()">
              <h1>Following</h1>
              <h2>{{FollowingCount}}</h2>
            </div>
          </div>
          <div class="basic-info">
            <h1>Basic Info</h1>
              <div class="basic-info-tab">
                  <div>
                    <img src="assets/images/age.png">
                  </div>
                  <h2>{{DateofBirth}} Years</h2>
              </div>
              <div class="basic-info-tab">
                  <div>
                    <img src="assets/images/gender.png">
                  </div>
                  <h2>{{Gender}}</h2>
              </div>
              <div class="basic-info-tab" *ngIf="showcontent">
                <div>
                  <img src="assets/images/study.png">
                </div>
                <h2 class="study">{{TypeofInstn}}</h2>
              </div>
              <div class="basic-info-tab" *ngIf="showcontent">
                  <div>
                    <img src="assets/images/home.png">
                  </div>
                <h2>{{City}}</h2>
              </div>
          </div>    
        </div>
        <div class="media">
            <div class="head">
            <h4>Media</h4>
            <a (click)="opencrousal()"><p>See all</p></a>
          </div>
          <div class="mediabox" *ngFor="let icon of mediaArr">
            <img (click)="opencrousal()" src={{icon.Path}} onerror="this.src='assets/images/My-iPad-Screen-Is-Broken-Heres-The-Real-Fix.-828x466.jpg'">
          </div>
        </div>
    </div>
      <div class="normal-shell" *ngIf="show">
          <a routerLink="/profile/{{FirstName}}/{{userid}}/about" routerLinkActive="active">About</a>
          <a routerLink="/profile/{{FirstName}}/{{userid}}/matches" routerLinkActive="active">Matches</a>
          <a routerLink="/profile/{{FirstName}}/{{userid}}/teams" routerLinkActive="active">Teams</a>
          <a routerLink="/profile/{{FirstName}}/{{userid}}/playmates" routerLinkActive="active">Playmates</a>
      </div>
</div>
<div class="media-crousal">
    <div class="pop-crousal" #widgets>
      <div *ngFor="let data of mediaArr" class="crousal-element" #widgetsContent>
          <img src={{data.Path}} onerror="this.src='assets/images/My-iPad-Screen-Is-Broken-Heres-The-Real-Fix.-828x466.jpg'">
         <div class="uploader-info">
            <img src={{data.profile_photo}} onerror="this.src='assets/images/user.png'">
              <div class="uploader-name">
                <p>{{data.User_Name}}</p><br>
                <h6>@{{data.Uniquename}}</h6>
            </div>
         </div>
         <div class="likeCount">
          <img src="assets/images/heart.png">&nbsp;&nbsp;<b>{{data.likecount}}</b>
          &nbsp;&nbsp;<img src="assets/images/chat-comment-oval-speech-bubble-with-text-lines.png">&nbsp;&nbsp;<b>{{data.commentcount}}</b>
         </div>
         <div class="past-time">
            <h5>{{data.UploadTime | timeAgo}}</h5>
         </div>
          
      </div>
    </div>
   
      <div class="close">
        <img (click)="close()" src="assets/images/sportsocialprofileclose.png">
      </div>
      <div class="larrow">
        <img (click)="lscroll()" src="assets/images/sportsocialprofilerightarrow.png" alt="">
      </div>
      <div class="rarrow">
       <img (click)="rscroll()" src="assets/images/sportsocialprofileleftarrow.png" alt="">
      </div>
</div>



<router-outlet></router-outlet>
