.spinner{
    margin-top: 25%;
}
.outer-shell{
    position: relative;
    height: auto;
    width: 100%;
    margin-top:4%;
}
.profile-shell{
    position: relative;
    height: 370px;
    width: 100%;
    background-color: #f6f6f6;
}
.background-img{
    position: relative;
    height: 250px;
    width: 100%;
}
.background-img>img{
    margin: 0% 15% 0% 15%;
    width: 70%;
    height: 100%;
}
.profile-img{
    position: absolute;
    bottom: 0%;
    z-index: 1;
    left: 5%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #ffffff;
}
.profile-img>img{
    position: absolute;
    border: 5px solid #ffffff;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.team-info{
    position: relative;
    background-color: #a89a9a;
    height:120px;
    width: 100%;
}
.side-shell{
    height: 130vh;
    width: 25%;
    background-color: #f6f6f6;
    float: left;
    position: relative;
}
.footer{
    height: auto;
    top: 70%;
    position: relative;
}
table{
    margin-top: 3%;
}

th{
    text-align: left;
    padding: 2%;
    padding-right: 2%;
    /* border: 1px solid green; */
}

th>img{
    margin-right: 20px;
    width: 30px;
    height: 30px;
}
.followers{
    left: 10%;
    width: 65%;
    top: 1%;
    position: absolute;
}
.followers>h4,h5{
    text-align: center;
    font-size: 1.2em;
    color: #024770;
    font-weight: bolder;
}
.followers>h4{
    float: left;
}
.followers>h5{
    float: right;
}
.userinfo{
    position: absolute;
    top: 7%;
    left: 10%;
}
.userinfo>h3{
    margin-left: 2.2%;
    margin-bottom: 4%;
}
.userinfo>img{
    width: 20px;
    height: 20px;
}
.sub-header{
    position: fixed;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100px;
    background-color: black;
    top: 0%;
}

.media{
    width: 80%;
    height: auto;
    top: 30%;
    margin: 0% 10% 0% 10%;  
    position: relative; 
}
.head{
    width: 100%;
    height: 20px;
}
.head>h4{
    float: left;
}
.head>a>p{
    float: right;
}
.media>.mediabox{
    width: 60px;
    height: 60px;
    border-radius: 10%;
    margin: 2%;
    /* position: absolute; */
    display: inline-block;
}
.mediabox>img{
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.normal-shell{
    height: 40px;
    width: 75%;
    margin-left: 25%;
}
.normal-shell>a{
    /* border: 1px solid red; */
    text-align: center;
    font-size: 1em;
    float: left;
    width: 24.7%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    color: #888888;
    background-color: #f6f6f6;
}
.normal-shell a.active{
    font-weight: bold;
    color: #024771;
    background-color: white;
}