<sports-social-header></sports-social-header>
<div class="body">
    <div class="head">
      <h2>Meet Our Team</h2>
      <p>A perfect blend of creativity and technical wizardly.
        The best people formulas for great websites!.
      </p>
    </div>

    <div class="cards">
      <div class="cardsbody" *ngFor="let data of imgarr">
            <div class="cardsimg">
              <img src="{{data.url}}" onerror="this.src='assets/images/user.png'">
            </div>

            <div class="cardData">
                    <h4>{{data.name}}</h4>
                    <h5>{{data.profile}}</h5>
                    <p>{{data.desc}}</p>
            </div>

            <div class="footer">
                  <a href={{data.fburl}} target="_blank"><img src="assets/images/fbicon.png"></a>
                  <a><img src="assets/images/linkedinicon.png"></a>
                  <a><img src="assets/images/Twitter4.png"></a>
            </div>
      </div>
     
    </div>
    
</div>

<div class="bodyfooter">
  <sports-social-backfooter></sports-social-backfooter>
</div>

