<sports-social-header></sports-social-header>
<div class="body">
    <div class="head">
      <h2>Meet Our Team</h2>
      <p>A perfect blend of creativity and technical wizardly.
        The best people formulas for great websites!.
      </p>
    </div>

    <div class="cards">
      <div class="cardsbody" *ngFor="let img of imgarr">
            <div class="cardsimg">
              <img src="{{img.url}}">
            </div>

            <div class="cardData">
                    <h4>Sourabh Arora</h4>
                    <h5>Web Developer</h5>
                    <p>Sourabh handels the frontend developement at Sport Social,where he oversees the company's goal, including
                        functionality of website & he actively involved in other departments of company.Sourabh holds a Masters
                        in Computer application from National institute of technology.</p>
            </div>

            <div class="footer">
                  <a><img src="assets/images/fbicon.png"></a>
                  <a><img src="assets/images/linkedinicon.png"></a>
                  <a><img src="assets/images/Twitter4.png"></a>
            </div>
      </div>
    </div>
</div>



