<sports-social-header></sports-social-header>
<!-- <sports-social-teamprofile-about [member]="Members"></sports-social-teamprofile-about> -->
<div class="outer-shell">
  <div class="profile-shell">
    <div class="background-img">
      <img src="{{backgroundimage}}" onerror="this.src='assets/images/sportsocialteambgerror.jpg'" alt="">
    </div>
    <div class="team-img">
      <img src="{{profileimage}}" alt="">
    </div>
    <div class="team-info">
      <div class="name">
        <h1>{{name}}</h1>
        <h2>@{{teamusername}}</h2>
      </div>
      <div class="follow">
        <h1>Follow</h1>
      </div>
      <img src="assets/images/sportsocialchat.png" alt="">
    </div>
  </div>
  <div class="sub-header">
      <img class="profile-pic" src="{{profileimage}}" alt="">  
     
        <div class="fans">
            <h1>Fans<span>Members</span></h1>
            <h2>{{fancount}}<span>{{membercount}}</span></h2>
            <!-- <h1>Members<h2>{{membercount}}</h2></h1> -->
          </div>
          <div class="sub-name">
              <h1>{{name}}</h1>
              <h2>@{{teamusername}}</h2>
            </div>
      <div class="sub-follow">
          <h1>Follow</h1>
        </div>
        <img class="sub-follow-img" src="assets/images/sportsocialchat.png" alt="">  
  </div>
  <div class="side-shell">
      <div class="followers">
          <h1>Members<span>Fans</span></h1>
          <h2>&nbsp;{{membercount}}<span>{{fancount}}</span></h2>
      </div>
      <div class="basic-info">
        <h1>Basic Info</h1>
        <div class="basic-info-tab">
          <div>
            <img style="width: 40px;" src="/assets/images/sportsocialcaptain.png" alt="">
          </div>
          <h2>{{captain}}</h2>
        </div>
        <div class="basic-info-tab">
            <div>
              <img src="/assets/images/sportsocialPartnerships.png" alt="">
            </div>
            <h2>{{mantra|slice:0:25}}...</h2>
            <p>{{mantra}}</p>
          </div>
          <div class="basic-info-tab">
              <div>
                <img src="/assets/images/sportsocialopenforall.png" alt="">
              </div>
              <h2>{{teamstatus}}</h2>
            </div>
            <div class="basic-info-tab">
                <div>
                  <img src="/assets/images/sportsocialagegroup.png" alt="">
                </div>
                <h2>{{teamtypestatus}}</h2>
              </div>

            <div class="basic-info-tab">
               <div>
                 <img src="/assets/images/sportsocialmale.png" alt="">
                </div>
                <h2>{{gender}}{{gamename}}</h2>
            </div>
            <div class="basic-info-tab">
                <div>
                  <img src="/assets/images/sportsocialteamprofilelocation.png" alt="">
                 </div>
                 <h2>{{location}}</h2>
             </div>
             <div class="basic-info-tab">
                <div>
                  <img src="/assets/images/sportsocialteamprofilelocation.png" alt="">
                 </div>
                 <h2>{{challenge}}</h2>
             </div>

             <!-- <div class="basic-info-tab">
              <div>
                <img src="/assets/images/sportsocialteamprofilelocation.png" alt="">
               </div>
               <h2>{{challenge}}</h2>
           </div> -->
      </div>
      <div class="media">
          <div class="head">
          <h4>Media</h4>
          <a><p>See all</p></a>
        </div>
         <div class="mediabox" *ngFor="let icon of media">
           <img src={{icon.url}}>
        </div>
      </div>
    </div>
    <div class="normal-shell">
    <a routerLink="/teamprofile/{{routename}}/About" [queryParams]="{ teamid: teamid}" routerLinkActive="active">About</a>
    <a routerLink="/teamprofile/{{routename}}/Matches" [queryParams]="{ teamid: teamid}" routerLinkActive="active">Matches</a>
  </div>
</div>
<router-outlet></router-outlet>
