.outer-shell{
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 60px;
}
.profile-shell{
    position: relative;
    height: 360px;
    width: 100%;
    background-color: #f6f6f6;
}
.background-img{
    position: relative;
    height: 250px;
    width: 100%;
}
.background-img img{
    width: 100%;
    height: 250px;
}
.team-img{
    position: absolute;
    bottom: 0%;
    z-index: 1;
    left: 5%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
}
.team-img img{
    margin-left: 2px;
    margin-top: 2px;
    height: 196px;
    width: 196px;
    border-radius: 50%;
}
.team-info{
    position: relative;
    top: 0%;
    background-color: white;
    /* border-bottom: 2px solid silver; */
    /* border-left: 2px solid silver; */
    height:110px;
    width: 75%;
    margin-left: 25%;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(0, 0, 0, 0.19);
}
.name{
    float: left;
    width: 15%;
    margin-left: 5%;
    letter-spacing: 0.5px;
    margin-top: 25px;
}
.name h2{
    font-size: 1.2em;
    color: #024771;
    /* font-weight: lighter; */
}
.team-info img{
    height: 40px;
    width: 40px;
    margin-top: 40px;
    float: right;
    margin-right: 5%;
}
.follow{
    position: relative;
    float: right;
    margin-top: 35px;
    margin-right: 5%;
    width: 12%;
    height: 40px;
    border: 2px solid #024771;
    border-radius: 8px;
  }
.follow h1{
    font-size: 1.3em;
    font-weight: lighter;
    margin-top: 9px;
    margin-left: 26%;
    color: #024771;
  }
.side-shell{
    height: 140vh;
    width: 25%;
    background-color: #f6f6f6;
    /* box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19); */
    float: left;
    position: relative;
}
.normal-shell{
    height: 40px;
    width: 75%;
    margin-left: 25%;
}
.normal-shell a{
    text-align: center;
    font-size: 1em;
    float: left;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    /* height: 40px; */
    border-top: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    color: #888888;
    background-color: #f6f6f6;
}
.normal-shell a.active{
    font-weight: bold;
    color: #024771;
    background-color: white;
}
.sub-header{
    position: fixed;
    z-index: 10;
    margin-top: 60px;
    display: none;
    background-color: white;
    height:80px;
    width: 100%;
    /* margin-left: 25%; */
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(0, 0, 0, 0.19);
      top: 0%;  
    }
    .profile-pic{
        position: relative;
        float: left;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-top: 15px;
        margin-left: 1%;
   }
   .stick{
       top: 0%;
       position: sticky;
       position: -webkit-sticky;
   }
   .stick-div{
       /* display: none; */
       height: 80px;
       /* background-color: red; */
       position: relative;
       transition: 0.3s ease-in-out;
       /* Chrome, Safari, Opera */
       -webkit-animation: sideanimation 0.3s linear 0s;
       /* Standard syntax */
       animation: sideanimation 0.3s linear 0s;  
   }

    @-webkit-keyframes sideanimation {
        from {height: 0px;}
        to {height: 80px;}
    }
  
    /* Standard syntax */
    @keyframes sideanimation {
        from {height: 0px;}
        to {height: 80px;}
    }
   .sub-name{
        float: left;
        width: 15%;
        margin-left: 5%;
        letter-spacing: 0.7px;
        margin-top: 10px;
    }
    .sub-name h2{
        font-size: 1.2em;
        color: #024771;
        /* font-weight: lighter; */
    }
    .fans{
        margin-top: 20px;
        width: 15%;
        margin-left: 2%;
        float: left;
        line-height: 1.1;
    }
    .fans h1{
        font-size: 1em;
        color: #888888;
    }
    .fans h1 span{
        margin-left: 2%;
        float: right;
    }
    .fans h2{
        font-size: 1.2em;
        margin-left: 4%;
    }
    .fans h2 span{
        margin-left: 60%;
    }
    .sub-follow{
        position: relative;
        float: right;
        margin-top: 25px;
        margin-right: 5%;
        width: 6%;
        height: 30px;
        border: 2px solid #024771;
        border-radius: 8px;
    }
    .sub-follow h1{
        font-size: 1.1em;
        font-weight: lighter;
        margin-top: 5px;
        margin-left: 20%;
        color: #024771;
    }
    .sub-follow-img{
        position: relative;
        height: 25px;
        width: 30px;
        margin-top: 30px;
        float: right;
        margin-right: 5%;
    }
   
    .followers{
        position: relative;
        width: 65%;
        margin-left: 10%;
    }
    .followers h1{
        font-size: 1.2em;
        font-weight: 400;
        color: #888888;
        cursor: pointer;
    }
    .followers h1 span{
        color: #888888;
        float: right;
    }
    .followers h2{
        color: #024771;
        font-size: 1.3em;
        cursor: pointer;
    }
    .followers h2 span{
        float: right;
        color: #024771;
        margin-right: 3%;
    }
    .basic-info{
        top: 0%;
        /* position: sticky;
        position: -webkit-sticky; */
    }
    .basic-info h1{
        font-size: 1em;
        margin-left: 10%;
        margin-top: 20px;
    }
    .basic-info-tab{
        margin-top: 15px;
        margin-left: 10%;
        height: 30px;
    }
    .basic-info-tab div{
        float: left;
        width: 20%;
    }
    .basic-info-tab div img{
        height: 25px;
        width: 25px;
    }
    .basic-info-tab h2{
        float: right;
        font-size: 1em;
        margin-top: 5px;
        width: 70%;
    }
    .basic-info-tab p{
        position: fixed;
        z-index: 4;
        padding: 20px;
        top: 40%;
        left: 8%;
        width: 45%;
        border-radius: 5px;
        /* height: 50; */
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
    }
    .basic-info-tab h2:hover ~p{
        display: block;
    }
    .media{
        width: 80%;
        height: auto;
        margin-top: 70px;
        margin-left: 10%;
        top: 0%;
        /* position: sticky; */
        /* position: -webkit-sticky; */
        /* margin: 0% 70px 0% 10%;   */
        position: relative; 
    }
    .head{
        width: 100%;
        height: 20px;
    }
    .head>h4{
        float: left;
    }
    .head>a>p{
        float: right;
    }
    .media>.mediabox{
        width: 60px;
        height: 60px;
        border-radius: 10%;
        margin: 2%;
        /* position: absolute; */
        display: inline-block;
    }
    .mediabox>img{
        border-radius: 10%;
        width: 100%;
        height: 100%;
    }
