<sports-social-header></sports-social-header>
<div class="outer-shell">
  <div class="profile-shell">
    <div class="background-img">
      <img src="{{backgroundimage}}" onerror="this.src='assets/images/sportsocialteambgerror.jpg'" alt="">
    </div>
    
    <div class="team-info">
      <div class="name">
        <h1>{{name}}</h1>
      </div>
      <div class="follow">
        <h1>Follow</h1>
      </div>
    </div>
  </div>
  <div class="sub-header">
      <img class="profile-pic" src="{{profileimage}}" alt="">  
          <div class="sub-name">
              <h1>{{name}}</h1>
              <h2>@{{teamusername}}</h2>
            </div>
      <div class="sub-follow">
          <h1>Follow</h1>
        </div>
  </div>
  <div class="side-shell">
    <div class="stick">
      <div class="basic-info">
        <h1>Basic Info</h1>
        <div class="basic-info-tab">
          
          <h2>sports menu</h2>
        </div>
      </div>
      <div class="media">
          <div class="head">
          <h4>Media</h4>
          <a (click)="opencrousal()"><p>See all</p></a>
        </div>
         <div class="mediabox" *ngFor="let icon of media">
           <img (click)="imageopen(icon.url);" src={{icon.url}}>
        </div>
      </div>
    </div>
    </div>
    <div class="normal-shell">
    <a routerLink="/teamprofile/{{routename}}/About" [queryParams]="{ teamid: teamid}" routerLinkActive="active">About</a>
    <a routerLink="/teamprofile/{{routename}}/Matches" [queryParams]="{ teamid: teamid}" routerLinkActive="active">Matches</a>
  </div>
</div>
<div class="media-crousal">
  <img class="single-image" src="{{crousalsingleimage}}" alt="">
  <div class="close">
    <img (click)="close()" src="/assets/images/sportsocialprofileclose.png">
  </div>
  <div class="larrow">
    <img (click)="lscroll()" src="/assets/images/sportsocialprofilerightarrow.png" alt="">
  </div>
  <div class="rarrow">
    <img (click)="rscroll()" src="/assets/images/sportsocialprofileleftarrow.png" alt="">
  </div>
  <div class="pop-crousal" #widgets>
    <div *ngFor="let data of media" class="crousal-element" #widgetsContent>
      <img src="{{data.url}}" alt="">
    </div>
  </div>
</div>
