<sports-social-header></sports-social-header>
<div class="outer-shell">
  <div class="profile-shell">
    <div class="background-img">
      <img src="" onerror="this.src='assets/images/sportsocialteambgerror.jpg'" alt="">
    </div>
    
    <div class="team-info">
      <div class="name">
        <h1>{{venuename|slice:0:50}}<span>&nbsp;-&nbsp;{{venuetype}}</span></h1>
      </div>
      <div (click)="openAppDownloadPopup()" class="follow">
        <h1>Favourite</h1>
      </div>
    </div>
  </div>
  <div class="sub-header">
          <div class="sub-name">
              <h1>{{venuename}}<span>&nbsp;-&nbsp;{{venuetype}}</span></h1>
            </div>
      <div (click)="openAppDownloadPopup()" class="sub-follow">
          <h1>Favourite</h1>
        </div>
  </div>
  <div class="side-shell">
    <div class="stick">
      <div class="basic-info">
        <div class="owner">
          <img class="owner-img" src="{{profileimage}}" onerror="this.src='assets/images/sportsociallocalitypfperror.jpg'" alt=""> 
          <h1>{{ownername}}</h1>
          <h2>Owner</h2> 
          <img (click)="openAppDownloadPopup()" class="chat-icon" src="assets/images/sportsocialchat.png" alt="">
        </div>
          <!-- <a class="basic-info-tab" *ngFor="let data of sports">
          {{data}}
          </a> -->
          <ul class="basic-info-tab">
            <h1 *ngIf="sports.length>0">Available Sports Facilities</h1>
            <h1 *ngIf="sports.length == 0" style="font-size: 1em; text-align: center;"> No Sports Facilities Yet</h1>
          <a routerLink="/localityprofile/{{data}}" [queryParams]="{id: localityid}" routerLinkActive="active" *ngFor="let data of sports"><li (click)="openspecificsport(data)">{{data}}</li></a>
        </ul>
        </div>
      <div class="media" *ngIf="media.length > 0">
          <div class="head">
          <h4>Media</h4>
          <!-- <a (click)="opencrousal()"><p>See all</p></a> -->
        </div>
         <div class="mediabox" *ngFor="let icon of media">
           <!-- <img (click)="imageopen(icon.url);" src={{icon.url}} onerror="this.src='assets/images/My-iPad-Screen-Is-Broken-Heres-The-Real-Fix.-828x466.jpg'"> -->
           <img src={{icon.url}} onerror="this.src='assets/images/My-iPad-Screen-Is-Broken-Heres-The-Real-Fix.-828x466.jpg'">
        </div>
      </div>
      <div class="slots" *ngIf="slotdetails.length > 0">
        <img src="/assets/images/sportsocialcalender.png" alt="">
        <div class="slot-days" *ngFor="let data of slotdetails">
          <h1>{{data.Day|slice:0:3}}</h1>
          <h2>{{data.StartTime}} - {{data.EndTime}}</h2>
        </div>
      </div>
      <div class="Address">
        <img src="/assets/images/sportsociallocation1.png" alt="">
        <h1>{{address}}</h1>
      </div>
    </div>
    </div> 

    <div class="normal-shell">
      <br>
        <h1 style="margin-top: 100px;" *ngIf="sports.length>0">Available Sports Facilities</h1>
        <h1 *ngIf="sports.length == 0" style="font-size: 1em; text-align: center;"> No Sports Facilities Yet</h1>
       
        <ul class="sport-menu">
           <a routerLink="/localityprofile/{{data}}" [queryParams]="{id: localityid}" routerLinkActive="active" *ngFor="let data of sports"><li (click)="openspecificsport(data)">{{data}}</li></a>
        </ul>
      <img class="ground" src="/assets/images/sportsocialground.jpg" alt="">
      <h3>The Average Ground</h3>
      <h2>Teams</h2>
      <h3 *ngIf="specificteam.length == 0" style="font-size: 1.3em; color: #444444; padding: 20px; text-align: left;">No Teams Yet</h3>
      <div *ngIf="specificteam.length > 0" class="teams" #parent>
          <div (click)="rscroll();" class="rightarrow">
            <img src="/assets/images/sportsocialhomearrow.png" alt="">
          </div>
          <div (click)="lscroll();" class="leftarrow">
            <img src="/assets/images/sportsocialhomearrow.png" alt="">
          </div>
          <div (click)="openAppDownloadPopup()" class="team-card" *ngFor="let data of specificteam" #child>
          <div class="bg-team-part">
            <img class="bg-img" src="{{data.bgimage}}" onerror="this.src='assets/images/sportsocialteambgerror.jpg'" alt="">
            <div (click)="openteam()" class="team-pfp">
              <img src="{{data.pfp}}" onerror="this.src='assets/images/sportsociallocalitypfperror.jpg'" alt="">
            </div>  
          </div>
          <h1 (click)="openteam()">{{data.teamname}}</h1>
          <h2 (click)="openteam()">@{{data.teamuniquename}}</h2>
          <button class="team-join">Join</button>
          <div class="social-status">
            <div class="fan-status">
              <h1>Fans</h1>
              <p>{{data.fancount}}</p>
            </div>
            <div class="member-status">
              <h1>Members</h1>
              <p>{{data.membercount}}</p>
            </div>
          </div>
        </div>
      </div>
      <h2>Matches This Week</h2>
      <div class="current-matches">
          <div class="match-cards" *ngFor="let feed of matches">
              <!-- <sports-social-ss-match-card
                        [coverpic]="feed.coverpic"
                        [matchstartername]="feed.MatchStarterName"
                        [userName]="feed.userName"
                        [gamename]="feed.gamename"
                        [startdatetime]="feed.startdatetime"
                        [team1pic]="feed.Team1Pic"
                        [team2pic]="feed.Team2Pic"
                        [InsertedDate]="feed.InsertedDate"
                        [Uniquename]="feed.Uniquename"
                        [EventText]="feed.EventText"
                        [city]="feed.city"
                        [age]="feed.age"
                        [starttimestamp]="feed.starttimestamp"
                        [scoreTeam1]="feed.scoreTeam1"
                        [scoreTeam2]="feed.scoreTeam2"
                        [finished]="feed.finished"
                        [upcoming]="feed.upcoming"
                        [gender]="feed.gender"
                        [Venue_Name]="feed.Venue_Name"
                        [MatchStarterUniqueName]="feed.MatchStarterUniqueName"
                        [Team1Name]="feed.Team1Name"
                        [Team2Name]="feed.Team2Name"
                        [JoineeCount]="feed.JoineeCount"
                        [WatchCount]="feed.WatchCount"
                        [PromoteCount]="feed.PromoteCount"
                        [CommentCount]="feed.CommentCount"
                        ></sports-social-ss-match-card>
           -->
                      </div>
      </div>
      
    </div>
</div>
<div class="media-crousal">
  <!-- <img class="single-image" src="{{crousalsingleimage}}" alt=""> -->
  <div class="close">
    <!-- <img (click)="close()" src="/assets/images/sportsocialprofileclose.png"> -->
  </div>
  <div class="larrow">
    <!-- <img (click)="lscroll()" src="/assets/images/sportsocialprofilerightarrow.png" alt=""> -->
  </div>
  <div class="rarrow">
    <!-- <img (click)="rscroll()" src="/assets/images/sportsocialprofileleftarrow.png" alt=""> -->
  </div>
  <div class="media-crousal">
    <div class="pop-crousal" #widgets>
      <div *ngFor="let data of media" class="crousal-element" #widgetsContent>
          <img src={{data.Path}} onerror="this.src='assets/images/My-iPad-Screen-Is-Broken-Heres-The-Real-Fix.-828x466.jpg'">
         <div class="uploader-info">
            <img src={{data.profile_photo}} onerror="this.src='assets/images/user.png'">
              <div class="uploader-name">
                <p>{{data.User_Name}}</p><br>
                <h6>@{{data.Uniquename}}</h6>
            </div>
         </div>
         <div class="likeCount">
          <img src="assets/images/heart.png">&nbsp;&nbsp;<b>{{data.likecount}}</b>
          &nbsp;&nbsp;<img src="assets/images/chat-comment-oval-speech-bubble-with-text-lines.png">&nbsp;&nbsp;<b>{{data.commentcount}}</b>
         </div>
         <div class="past-time">
            <h5>{{data.UploadTime | timeAgo}}</h5>
         </div>
          
      </div>
    </div>
   
      <div class="close">
        <img  src="assets/images/sportsocialprofileclose.png">
      </div>
      <div class="larrow">
        <img (click)="lscroll()" src="assets/images/sportsocialprofilerightarrow.png" alt="">
      </div>
      <div class="rarrow">
       <img (click)="rscroll()" src="assets/images/sportsocialprofileleftarrow.png" alt="">
      </div>
</div>

</div>
