<div class="About-body">
  <div class="upcoming-matches">
    <h1>Finished Matches</h1>
    <hr>
    <div class="upcoming-block">
      <div class="upcoming-cards" *ngFor="let feed of array">
        <sports-social-ss-match-card
                  [coverpic]="feed.coverpic"
                  [matchstartername]="feed.MatchStarterName"
                  [userName]="feed.userName"
                  [gamename]="feed.gamename"
                  [startdatetime]="feed.startdatetime"
                  [team1pic]="feed.Team1Pic"
                  [team2pic]="feed.Team2Pic"
                  [InsertedDate]="feed.InsertedDate"
                  [Uniquename]="feed.Uniquename"
                  [EventText]="feed.EventText"
                  [city]="feed.city"
                  [age]="feed.age"
                  [starttimestamp]="feed.starttimestamp"
                  [scoreTeam1]="feed.scoreTeam1"
                  [scoreTeam2]="feed.scoreTeam2"
                  [finished]="feed.finished"
                  [upcoming]="feed.upcoming"
                  [gender]="feed.gender"
                  [Venue_Name]="feed.Venue_Name"
                  [MatchStarterUniqueName]="feed.MatchStarterUniqueName"
                  [Team1Name]="feed.Team1Name"
                  [Team2Name]="feed.Team2Name"
                  [JoineeCount]="feed.JoineeCount"
                  [WatchCount]="feed.WatchCount"
                  [PromoteCount]="feed.PromoteCount"
                  [CommentCount]="feed.CommentCount"
                  ></sports-social-ss-match-card>
    
                </div>
            </div>
  </div>
  <!-- <div class="stats">
    <div class="win"></div>
    <div class="chart">
      <div class="pie-chart">
        <div class="pie-chart-inner"></div>
      </div>
    </div>
    <div class="draw"></div>
  </div> -->
  
</div>
<div class="backfooter">
  <sports-social-backfooter></sports-social-backfooter>
</div>
