<!-- <ng-masonry-grid  
    [masonryOptions]="{ transitionDuration: '0.4s', gutter: 2 }"
    [useAnimation]="false"
    [useImagesLoaded]="true">
    <img class="spinner" src="assets/images/sports-social-loading.gif" *ngIf = "globalArena.length === 0" alt="">
    <ng-masonry-grid-item id="col-4" *ngFor = "let feed of globalArena; let i = index" >
      <ng-container *ngIf = "feed.type === 1">
          <h1 class="type"> 
            <a routerLink="/OpenArena">Open Arena>></a>  
          </h1>
          <div class="matchcard">
              <sports-social-ss-match-card
              [coverpic]="feed.coverpic"
              [userName]="feed.userName"
              [gamename]="feed.gamename"
              [startdatetime]="feed.startdatetime"
              [InsertedDate]="feed.InsertedDate"
              [Uniquename]="feed.Uniquename"
              [EventText]="feed.EventText"
              [city]="feed.city"
              [Venue_Name]="feed.Venue_Name"
              [MatchStarterUniqueName]="feed.MatchStarterUniqueName"
              [Team1Name]="feed.Team1Name"
              [Team2Name]="feed.Team2Name"
              [WatchCount]="feed.WatchCount"
              [PromoteCount]="feed.PromoteCount"
              [CommentCount]="feed.CommentCount"
              ></sports-social-ss-match-card>
          </div>
      </ng-container>
      <ng-container *ngIf = "feed.type === 0">
          <h1 class="type">
            <a routerLink="/AroundTheWorld">Around The World</a> 
          </h1>
          <sports-social-news-card class="cards"
            [newsId] = "feed.newsId"
            [sourceName]= "feed.source"
            [sourceImage] = "feed.sourceImage"
            [newsImage] = "feed.newsImage"
            [title] = "feed.title"
            [desc] = "feed.desc"
            [url] = "feed.url"
            [insertedDate] = "feed.insertedDate"
            [likeCount] = "feed.likeCount"
            [shareCount] = "feed.shareCount"
            [commentCount] = "feed.commentCount"
            [publishedAt] = "feed.publishedAt">
          </sports-social-news-card>
      </ng-container>
    </ng-masonry-grid-item>
</ng-masonry-grid>


 -->

 <div class="home">
    <div class="sidenav">
        <sports-social-side-nav></sports-social-side-nav>
    </div>
      <div class="rightside"> 
        <div class="leftarrow">
        </div>

          <!-- <div class="topic">
              <a><h4>Cricket matches</h4></a>
            </div>   -->
        <div class="blog">
          <img class="spinner" src="assets/images/sports-social-loading.gif" *ngIf = "Matcharr.length === 0" alt="">
            <a>
              <div class="outdiv" *ngFor = "let feed of Matcharr; let i = index">
                
                <div class="card">
                    <div class="head">
                          <div class="gamename">
                              <b>Men's {{feed.gamename}}</b>
                              <p>{{feed.Venue_Name | slice:0:40}}...</p>
                            </div>
                            <div class="result">
                              <b>Final Result</b><br>
                              <p> @{{feed.Uniquename}}</p>
                            </div> 
                    </div>

                    <div class="cardData">
                        <div class="cardData team1">
                           <img src={{feed.Team1Pic}} onerror="this.src='assets/images/user-default.png'">
                           <p>{{feed.Team1Name}}</p>    
                        </div>
                        <div class="cardData t1score">
                            <b style="font-size: 1.2em;">181/2</b>
                            <p style="font-size: .6em; color:#7e7d7d;">Overs:20</p>
                        </div>
                        <div class="cardData t2score">
                           <b style="font-size: 1.2em;">181/2</b>
                           <p style="font-size: .6em; color:#7e7d7d;">Overs:20</p>
                        </div>
                        <div class="cardData team2">
                           <img src={{feed.Team2Pic}} onerror="this.src='assets/images/user-default.png'">
                           <p>{{feed.Team2Name}}</p>
                        </div>     
                  </div> 
                  
                      <div class="matchstatus">
                          <p>kapil p won by 8 wickets</p>
                      </div>
                  <div class="footer">
                        <button class="footer Button" (click)="openAppDownloadPopup()">Prediction</button>
                        <button class="footer Button" (click)="openAppDownloadPopup()">{{CommentCount}} Talk</button>
                        <button class="footer Button" (click)="openAppDownloadPopup()">{{PromoteCount}} Promote</button>
                        <button class="footer Button" (click)="openAppDownloadPopup()">{{WatchCount}} Watch</button>
                  </div> 
                </div>    
              </div>
            </a> 
          </div>
          <div class="rightarrow">
          </div> 
      </div>        
</div>