
.home{
    width:100%;
    margin-top: 4%;
}
.home>div{
    display: inline-block;
}
.sidenav{
    margin-top: 0%;
    width: 18%;
    height: auto;
    float: left;
    /* border: 1px solid purple; */
    height: 600px;
}
.rightside{
    margin-top: 3%;
    width: 82%;
    height: 400px;
    z-index: 10;
}
.blog{
    float: left;
    width: 95%;
    height: 300px;
    overflow-x: scroll;
    white-space: nowrap !important;
}
.blog::-webkit-scrollbar {
    display: none;
}
.leftarrow,.rightarrow {
    margin-top: 10%;
    float: left;
    width: 2%;
    border-radius: 50%;
    height: 6%;
    background-size: 100% 100%; 
}
.leftarrow,.rightarrow:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px #ecebeb;
}
.leftarrow {
    margin-left: 1%;
    background-image: url('/assets/images/sportsocialhomearrow1.png');
}
.rightarrow {
    /* margin-left: 1%; */  
    background-image: url('/assets/images/sportsocialhomearrow.png');
}
.topic{
    margin-left: 2%;
    margin-top: 2%;
}
.blog .outdiv{
    display: inline-block;
}
.outdiv{
    width: 31%;
    margin: 1% 1.1% 0% 1.1%;
    border-radius: 2%;
    vertical-align: top;
}
/* .cricket{
    width: 100%;
    height: 350px;
    border: 1px solid blue;   
    overflow: scroll;
    overflow-x: scroll;
    white-space: nowrap;
}
.cricket>div{
    display: inline-block;
    
}
.cricketblog{
    width: 40%;
    height: 350px;
    margin: 2% 2% 2% 2%;
    border:2px solid  red;
} */

/* .cricketblog{
    display: inline-block;
    width: 100%;
    height: 400px;
    border: 1px solid rebeccapurple;
}  */
/* .cricketblog{
    width: 100%;
    height: 400px;
    border: 5px solid red;
    overflow: hid/den;
    overflow-x: scroll;
    white-space: nowrap;
    
}
.cricketblog>div{
    position: relative;;
    width: 40%;
    margin-right: 5%;
    border: 2px solid green;
    display: inline-block;
} 
 .cricketcards{
    position: relative;
    width: 30%;
    display: inline-block;
} */


.head{
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #dddddd;
}
.gamename {
    height: 100%;
    width: 60%;
    margin-left: 2%;
    float:left;
}
.result {
    height: 100%;
    width: 30%;
    margin-right: 2%;
    float: right;
}
.result b,.result p {
    float: right;
}
.result b {
    font-size: .9em;
}
.gamename b {
    font-size: 1em;
}
.gamename p {
    margin-top: -0.5%;
    font-size: 0.7em;
    font-weight: lighter;
}
.result p {
    margin-top: -0.5%;
    font-size: 0.8em;
    font-weight: bold;
    color: #5f5e5e;
}

.cardData{
    float: left;
    width: 100%;
    height: 40px;
}
.team1 {
    width:30%;
}
.t1score {
    width: 20%;
}
.t2score {
    width: 20%;
}
.team2 {
    width:30%;
}
.team1,.team2 {
    text-align: center;
}
.t1score,.t2score {
    text-align: center;
    margin-top: 7%;
}
.team1,.team2>p{
    text-align: center;
}
.team1>img{
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
.team2>img{
   border-radius: 50%;
   height: 45px;
   width: 45px;
}

.card{
    display: grid;
    width: 100%;
    height: 250px;
    border: 1px solid #ece9e9;
    margin-bottom: 2%;
    border-radius: 2%;
    box-shadow: 3px 3px 5px #ecebeb;
}
.matchstatus{
    width: 100%;
    height: 30px;
    margin-top: 5%;
}
.matchstatus>p{
    font-weight: bolder;
    text-align: center;
}
.footer{
    float: left;
    border-top: 1px solid #d3d1d1;
    width: 100%;
    height: 30px;
}
.Button{
    border: none;
    width: 25%;
    cursor: pointer;
    outline: none;
    margin-top: 2%;
    text-align: center;
    font-size: 0.9em;
    color: #686868;
    background-color: transparent;
}
@media screen and (min-width: 700px) and (max-width: 950px){
    .outdiv {
        width: 47%;
    }
    .rightside{
        margin-top: 7%;
    }
    .leftarrow,.rightarrow{
        margin-top: 16%;
    }
    .card {
        height: 230px;
    }
}
@media screen and (min-width:200px) and (max-width:700px){
    .team1,.team2>p{
        font-size: 0.9em;
    }
    .creator{
        margin-top: 12%;
    }
    .username{
        font-size: .6em;
    }
    #creatorname{
        font-size: .8em;
    }
    .footer>button{
        font-size: 0.8em;
    }
    .eventtext>p{
        font-size: .8em;
    }

}